Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

test(usage_limit): fix tests broken by CreateAccount owner validation
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  tests/src/common/fixtures/usage-limit-test.toml
  tests/usage_limit/bundle_limits.rs
  tests/usage_limit/instruction_limits.rs
  tests/usage_limit/multiple_rules.rs
Due: make-fmt

ci(tests): run usage_limit isolated in the coverage job
  .github/workflows/rust-unit.yml
Due: none

fix: check signatures for all type of confirmations
  crates/lib/src/transaction/versioned_transaction.rs
  tests/rpc/transaction_signing.rs
Due: make-fmt

feat: wait until background tasks finish
  Cargo.lock
  Cargo.toml
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/state.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

chore: naming change from ConfirmationMode to RespondAfter
  crates/cli/src/main.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/state.rs
  crates/lib/src/transaction/versioned_transaction.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/transaction_signing.rs
Due: make-fmt, make-format-ts-sdk

test: add transaction status polling
  tests/rpc/transaction_signing.rs
Due: make-fmt

chore: more comments and variable renaming
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

chore: fmt
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

test(usage_limit): isolate Kora under test from ambient KORA_REDIS_URL
  .github/workflows/rust-unit.yml
  tests/src/test_runner/kora.rs
Due: make-fmt

test: address review feedback on runner diagnostics
  tests/src/common/helpers.rs
  tests/src/common/setup.rs
  tests/src/test_runner/validator.rs
Due: make-fmt

test(usage_limit): tolerate window slide in timed limit assertions
  tests/usage_limit/transaction_limits.rs
Due: make-fmt

test: restore default agave slot timing
  tests/src/test_runner/validator.rs
Due: make-fmt

test: remove surfpool backend, keep single agave validator path
  .github/actions/run-test-runner/action.yml
  .github/workflows/rust-unit.yml
  CLAUDE.md
  Cargo.lock
  tests/Cargo.toml
  tests/rpc/compute_budget.rs
  tests/src/bin/test_runner.rs
  tests/src/common/helpers.rs
  tests/src/common/mod.rs
  tests/src/common/setup.rs
  tests/src/common/surfnet.rs
  tests/src/test_runner/config.rs
  tests/src/test_runner/test_cases.toml
  tests/src/test_runner/validator.rs
Due: make-fmt

ci: split coverage out of the unit test workflow
  .github/workflows/coverage.yml
  .github/workflows/rust-unit.yml
  .github/workflows/test-coverage.yml
Due: none

test: make the account cache actually hit
  tests/src/bin/test_runner.rs
  tests/src/common/setup.rs
  tests/src/test_runner/accounts.rs
  tests/src/test_runner/validator.rs
Due: make-fmt

test(ts): give concurrent suite flavors their own funded wallets
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
  tests/src/common/constants.rs
  tests/src/common/setup.rs
  tests/src/test_runner/accounts.rs
Due: make-fmt, make-format-ts-sdk

style(tests): import send_and_confirm_allow_duplicate instead of full paths
  tests/src/common/extension_helpers.rs
Due: make-fmt

style(tests): drop CI-context narration from env scrub comment
  tests/src/test_runner/kora.rs
Due: make-fmt

style(tests): hoist FromStr imports to file scope
  tests/src/bin/test_runner.rs
  tests/src/common/setup.rs
Due: make-fmt

test(usage_limit): retry windowed tests across bucket boundaries
  tests/src/common/helpers.rs
  tests/usage_limit/transaction_limits.rs
Due: make-fmt

test: speed up integration runner, measure integration coverage, extend CI matrix (#557)
  .github/workflows/coverage.yml
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/test-coverage.yml
  .github/workflows/typescript-integration.yml
  CLAUDE.md
  crates/cli/src/main.rs
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
  tests/free_signing/free_signing_tests.rs
  tests/loader_v3_deploy/deploy_lifecycle.rs
  tests/src/bin/test_runner.rs
  tests/src/common/constants.rs
  tests/src/common/extension_helpers.rs
  tests/src/common/fixtures/usage-limit-test.toml
  tests/src/common/helpers.rs
  tests/src/common/lookup_tables.rs
  tests/src/common/setup.rs
  tests/src/test_runner/accounts.rs
  tests/src/test_runner/commands.rs
  tests/src/test_runner/kora.rs
  tests/src/test_runner/validator.rs
  tests/tokens/token_2022_extensions_test.rs
  tests/usage_limit/bundle_limits.rs
  tests/usage_limit/instruction_limits.rs
  tests/usage_limit/multiple_rules.rs
  tests/usage_limit/transaction_limits.rs
Due: make-fmt, make-format-ts-sdk

ci: remove the coverage workflow
  .github/badges/coverage.json
  .github/workflows/coverage.yml
  .github/workflows/test-coverage.yml
  README.md
Due: none

ci: drop TypeScript coverage reporting as well
  .github/workflows/typescript-unit.yml
Due: none

ci: remove the coverage workflow (#558)
  .github/badges/coverage.json
  .github/workflows/coverage.yml
  .github/workflows/test-coverage.yml
  .github/workflows/typescript-unit.yml
  README.md
Due: none

feat: implement identity-aware rate limiting and configurable CORS
  crates/lib/src/config.rs
  crates/lib/src/metrics/middleware.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/mod.rs
  crates/lib/src/rpc_server/rate_limit.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix: refine auth layer edge cases, handle rate_limit=0, and optimize middleware order
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/rate_limit.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
Due: make-fmt

fix: filter out empty strings during api_key deserialization
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/server.rs
Due: make-fmt

feat: warn on empty or invalid cors_allow_origins config
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix: redact ClientIdentity Debug output and isolate env-dependent tests
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/server.rs
Due: make-fmt

test: add serial attribute to empty KORA_API_KEY test
  crates/lib/src/rpc_server/server.rs
Due: make-fmt

fix: update rate_limit=0 warning to reflect new identity-aware semantics
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

ci: run the prebuilt test_runner binary instead of cargo run
  .github/actions/run-test-runner/action.yml
Due: none

docs(ci): tighten test_runner run comment
  .github/actions/run-test-runner/action.yml
Due: none

docs(ci): drop duration figure from test_runner comment
  .github/actions/run-test-runner/action.yml
Due: none

ci: drop unused Rust toolchain and cache from integration jobs
  .github/actions/run-test-runner/action.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
Due: none

ci: run prebuilt test_runner binary instead of cargo run (#560)
  .github/actions/run-test-runner/action.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
Due: none

fix: service shutdown
  crates/cli/src/main.rs
  crates/lib/src/rpc_server/server.rs
Due: make-fmt

ci: restore Rust toolchain and cache for integration jobs
  .github/workflows/rust.yml
Due: none

Apply suggestions from code review
  .github/workflows/rust.yml
Due: none

ci: restore Rust toolchain and cache for integration jobs (#562)
  .github/workflows/rust.yml
Due: none

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
