Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

fix(swap): address AI review findings
  crates/lib/src/swap/provider.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

style(kora): remove redundant swap comments
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/swap_for_gas.rs
  crates/lib/src/swap/provider.rs
Due: make-fmt

feat(swap-for-gas): add gas integration coverage
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/validator/config_validator.rs
  tests/rpc/main.rs
  tests/rpc/swap_for_gas.rs
  tests/src/common/fixtures/kora-test.toml
  tests/src/test_runner/kora.rs
Due: make-fmt

fix(swap-for-gas): reject fee payer as source wallet
  crates/lib/src/rpc_server/method/swap_for_gas.rs
  tests/rpc/swap_for_gas.rs
Due: make-fmt

fix(config): align swap mock validation with mock pricing
  crates/lib/src/validator/config_validator.rs
  tests/src/test_runner/kora.rs
Due: make-fmt

feat(rpc): add signSwapForGas and signAndSendSwapForGas
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/method/sign_and_send_swap_for_gas.rs
  crates/lib/src/rpc_server/method/swap_for_gas.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/swap_for_gas.rs
  tests/src/common/fixtures/kora-test.toml
Due: make-fmt, make-format-ts-sdk

fix(config): add new swap method flags to default config
  .gitignore
  kora.toml
Due: none

feat(swap): align swap-for-gas sign and sign-and-send flows
  crates/lib/src/rpc_server/method/sign_and_send_swap_for_gas.rs
  crates/lib/src/rpc_server/method/swap_for_gas.rs
  crates/lib/src/swap/mod.rs
  crates/lib/src/swap/processor.rs
  tests/rpc/swap_for_gas.rs
Due: make-fmt

feat(swap)!: rename swap-for-gas rpc and remove send variant
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/method/sign_and_send_swap_for_gas.rs
  crates/lib/src/rpc_server/method/swap_for_gas.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/swap/processor.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/swap_for_gas.rs
  tests/src/common/fixtures/kora-test.toml
Due: make-fmt, make-format-ts-sdk

fix(swap): protect swapForGas by default and refactor processor
  crates/lib/src/constant.rs
  crates/lib/src/swap/processor.rs
  kora.toml
Due: make-fmt

fix(swap): reject destination wallet equal to fee payer
  crates/lib/src/swap/processor.rs
  tests/rpc/swap_for_gas.rs
Due: make-fmt

fix(lib): handle CPI-only accounts in inner instruction reconstruction
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

feat(swap): finalize swapForGas api contract
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/method/swap_for_gas.rs
  crates/lib/src/swap/processor.rs
  crates/lib/src/swap/provider.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/swap_for_gas.rs
  tests/src/common/fixtures/kora-test.toml
Due: make-fmt, make-format-ts-sdk

feat: add cherry-pick-sync skill for main→release branch syncing
  .claude/skills/cherry-pick-sync/SKILL.md
Due: none

fix: address PR review feedback on cherry-pick-sync skill
  .claude/skills/cherry-pick-sync/SKILL.md
Due: none

feat: add cherry-pick-sync skill (#385)
  .claude/skills/cherry-pick-sync/SKILL.md
Due: none

fix(docker): update Rust version to 1.88 for time crate compatibility (#364)
  Dockerfile
  examples/deploy/Dockerfile
Due: none

fix(sdk): add ESLint v9 deps and update lint script (#371)
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
Due: none

fix(sdk): add repository url for npm trusted publisher provenance (#376)
  sdks/ts/package.json
Due: none

fix(skill): improve cherry-pick-sync to handle squash-merged sync PRs
  .claude/skills/cherry-pick-sync/SKILL.md
Due: none

fix(skill): improve cherry-pick-sync to handle squash-merged sync PRs (#387)
  .claude/skills/cherry-pick-sync/SKILL.md
Due: none

chore: sync main into release/2.2.0 (2026-03-13) (#386)
  .claude/skills/cherry-pick-sync/SKILL.md
  Dockerfile
  examples/deploy/Dockerfile
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
Due: none

feat(sdk): add createKitKoraClient for plugin-based gasless transactions
  justfile
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/index.ts
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/payment.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/kit-client.test.ts
Due: make-format-ts-sdk

chore(sdk): add TODO comments for future bundle plan/execute support
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
Due: make-format-ts-sdk

feat(test): add typescript_free integration tests and just test-ts runner
  justfile
  sdks/ts/package.json
  sdks/ts/test/integration.test.ts
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/test_runner/commands.rs
  tests/src/test_runner/test_cases.toml
Due: make-fmt, make-format-ts-sdk

feat(fee): detect ATA program instructions directly for dynamic_ata_deduction
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(fee): deduplicate ATA creation instructions to prevent fee evasion
  crates/lib/src/fee/fee.rs
Due: make-fmt

fix(fee): verify fee payer is ATA creation payer before applying deduction
  crates/lib/src/fee/fee.rs
Due: make-fmt

fix: greptile feedback
  justfile
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/payment.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
Due: make-format-ts-sdk

feat(sdk): add createKitKoraClient for plugin-based gasless transactions (#388)
  justfile
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/index.ts
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/payment.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/kit-client.test.ts
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/test_runner/commands.rs
  tests/src/test_runner/test_cases.toml
Due: make-fmt, make-format-ts-sdk

test(sdk): migrate TS integration tests to LiteSVM
  sdks/pnpm-lock.yaml
  sdks/ts/jest.config.ts
  sdks/ts/package.json
  sdks/ts/scripts/test-with-validator.js
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

chore(sdk): clean up dependencies
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
Due: none

test(sdk): migrate TS integration tests to LiteSVM (#389)
  sdks/pnpm-lock.yaml
  sdks/ts/jest.config.ts
  sdks/ts/package.json
  sdks/ts/scripts/test-with-validator.js
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

feat: Deduct dynamic ATA creation rent only if a corresponding SystemCreateAccount instruction is present in the transaction.
  crates/lib/src/fee/fee.rs
Due: make-fmt

fix(fee): tighten dynamic_ata_deduction to payment mint and verify rent via SystemCreateAccount
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/rpc_mock.rs
Due: make-fmt

chore(repo): migrate to mainline audit/tag workflow
  .github/workflows/fork-live-gate.yml
  .github/workflows/pr-target-check.yml
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
  CONTRIBUTING.md
  README.md
  audits/AUDIT_STATUS.md
  docs/mainline-cutover-checklist.md
  justfile
Due: none

chore(repo): migrate to mainline audit/tag workflow
  .github/workflows/fork-live-gate.yml
  .github/workflows/pr-target-check.yml
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
  CONTRIBUTING.md
  README.md
  audits/AUDIT_STATUS.md
  docs/mainline-cutover-checklist.md
Due: none

chore(docs): remove mainline cutover checklist
  docs/mainline-cutover-checklist.md
Due: none

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
