Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

make-lint:
  name: make lint
  description: Lint Rust code automatically
  entry: make lint
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

fix(signers):(PRO-204) Privy Signer Initialization and Fee Payer Position (#168)
  crates/cli/src/main.rs
  crates/lib/src/signer/init.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

docs: add CLI docs and update existing docs (#195)
  CLAUDE.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/server/kora.toml
  docs/operators/CLI.md
  docs/operators/CONFIGURATION.md
  docs/operators/README.md
  docs/operators/deploy/RAILWAY.md
  docs/operators/deploy/sample/Dockerfile
  docs/operators/deploy/sample/kora.toml
  docs/operators/deploy/sample/signers.toml
  kora.toml
Due: none

Create ADDING_SIGNERS.md (#169)
  docs/contributors/ADDING_SIGNERS.md
Due: none

chore:(PRO-224) fix ci (#182)
  .github/actions/setup-kora-rpc/action.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
Due: none

tests(sdk): handle various signing strategies (#167)
  Makefile
  sdks/ts/package.json
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

feat(metrics): (PRO-160) add fee payer balance tracking via metrics (#183)
  crates/cli/src/main.rs
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/metrics/grafana/provisioning/dashboards/kora-metrics.json
  crates/lib/src/metrics/mod.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  docker-compose.yml
  docs/operators/CONFIGURATION.md
  docs/operators/MONITORING.md
  docs/operators/README.md
  kora.toml
Due: make-lint

bugfix (PRO-250): Improve error handling for account retrieval
  crates/lib/src/cache.rs
  crates/lib/src/error.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

bugfix (PRO-249): Round token fee calculations to nearest integer and add comprehensive tests for precision handling
  crates/lib/src/token/token.rs
Due: make-lint

chore: Update GitHub Actions workflow for coverage badge handling
  .github/workflows/coverage.yml
Due: none

bugfix (PRO-250): Improve error handling for account retrieval (#200)
  crates/lib/src/cache.rs
  crates/lib/src/error.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

PR comment
  crates/lib/src/token/token.rs
Due: make-lint

Update crates/lib/src/token/token.rs
  crates/lib/src/token/token.rs
Due: make-lint

updated ci
  .github/workflows/coverage.yml
Due: none

bugfix (PRO-249): Round token fee calculations to nearest integer and… (#201)
  crates/lib/src/token/token.rs
Due: make-lint

feat: allow any spl paid token flag
  crates/lib/src/token/token.rs
  docs/getting-started/demo/server/kora.toml
  kora.toml
Due: make-lint

move spl paid token checks into a function, rebase, use mock rpc client
  crates/lib/src/token/token.rs
Due: make-lint

switch to enum in allowed_spl_paid_tokens
  crates/lib/src/config.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
Due: make-lint

remove unused option from demo config
  docs/getting-started/demo/server/kora.toml
Due: none

rebase
  crates/lib/src/config.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

rebase from main
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

docs: (PRO-146) add full client flow example & guide (#199)
  docs/getting-started/FULL_DEMO.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/client/package.json
  docs/getting-started/demo/client/pnpm-lock.yaml
  docs/getting-started/demo/client/src/full-demo.ts
  docs/getting-started/demo/client/src/quick-start.ts
  docs/getting-started/demo/server/kora.toml
Due: make-format-ts-sdk

chore: Update GitHub Actions workflow for coverage badge handling (#202)
  .github/workflows/coverage.yml
Due: none

rename params in `with`, add test for atas init when all payment tokens are allowed
  crates/lib/src/admin/token_util.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

use mock client, make sure that signer exists in test initialize atas
  crates/lib/src/admin/token_util.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

chore/add Compute Budget Program to examples
  CLAUDE.md
  docs/getting-started/QUICK_START.md
  docs/operators/CONFIGURATION.md
  docs/operators/deploy/sample/kora.toml
  kora.toml
Due: none

chore/add Compute Budget Program to examples (#204)
  CLAUDE.md
  docs/getting-started/QUICK_START.md
  docs/operators/CONFIGURATION.md
  docs/operators/deploy/sample/kora.toml
  kora.toml
Due: none

rename token config to make it more generic
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

chore/Fix Kora server cleanup in test integration makefile
  makefiles/UTILS.makefile
Due: none

feat: allow any spl paid token flag (#175)
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
Due: make-lint

chore/Fix Kora server cleanup in test integration makefile (#205)
  makefiles/UTILS.makefile
Due: none

feat (PRO-254): Add Token 2022 integration tests
  crates/lib/src/transaction/versioned_transaction.rs
  makefiles/RUST_TESTS.makefile
  tests/src/common/constants.rs
  tests/src/common/extension_helpers.rs
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/helpers.rs
  tests/src/common/local-keys/mint-2022-interest-bearing.json
  tests/src/common/local-keys/usdc-mint-2022-local.json
  tests/src/common/mod.rs
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/tokens/main.rs
  tests/tokens/token_2022_extensions_test.rs
  tests/tokens/token_2022_test.rs
Due: make-lint

Fix broken jupiter test
  crates/lib/src/oracle/jupiter.rs
Due: make-lint

JUP tst fix
  crates/lib/src/oracle/jupiter.rs
Due: make-lint

jupiter fix2
  crates/lib/src/oracle/jupiter.rs
Due: make-lint

Added transfer fee tests with payment amount bounds
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/validator/config_validator.rs
  tests/tokens/token_2022_extensions_test.rs
Due: make-lint

chore/Warn when 'All' is used for allowed_spl_paid_tokens
  crates/lib/src/signer/utils.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

Jup 4
  crates/lib/src/oracle/jupiter.rs
Due: make-lint

Update coverage badge [skip ci]
  .github/badges/coverage.json
Due: none

Path conditions:
  make-lint: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
