Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, just-format-ts-sdk

just-fmt:
  name: just fmt
  description: Format Rust code automatically
  entry: just fmt
  language: system
  pass_filenames: false

just-format-ts-sdk:
  name: just format-ts-sdk
  description: Format TypeScript SDK code
  entry: just format-ts-sdk
  language: system
  pass_filenames: false

Have integration test use nonce properly
  crates/lib/src/transaction/versioned_transaction.rs
  tests/rpc/durable_transactions.rs
  tests/src/common/transaction.rs
Due: just-fmt

fmt
  crates/lib/src/transaction/versioned_transaction.rs
Due: just-fmt

hotfix: (PRO-747) Improved Durable Nonce handling & security (#303)
  Cargo.lock
  Cargo.toml
  README.md
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/Cargo.toml
  tests/rpc/durable_transactions.rs
  tests/rpc/main.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/transaction.rs
Due: just-fmt

release: v2.0.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

fix test
  tests/rpc/bundles.rs
Due: just-fmt

duplicated changelog
  CHANGELOG.md
Due: none

release: v2.0.3 (#304)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

PRO-606 feat: implement granular usage tracking with rule-based limits (#300)
  crates/lib/src/bundle/helper.rs
  crates/lib/src/bundle/mod.rs
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/usage_limit/config.rs
  crates/lib/src/usage_limit/limiter.rs
  crates/lib/src/usage_limit/mod.rs
  crates/lib/src/usage_limit/rules/instruction.rs
  crates/lib/src/usage_limit/rules/mod.rs
  crates/lib/src/usage_limit/rules/transaction.rs
  crates/lib/src/usage_limit/rules/usage_rule.rs
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
  justfile
  sdks/ts/src/types/index.ts
  tests/Cargo.toml
  tests/rpc/bundles.rs
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/fixtures/usage-limit-test.toml
  tests/src/common/helpers.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/test_cases.toml
  tests/usage_limit/bundle_limits.rs
  tests/usage_limit/instruction_limits.rs
  tests/usage_limit/main.rs
  tests/usage_limit/multiple_rules.rs
  tests/usage_limit/transaction_limits.rs
Due: just-fmt, just-format-ts-sdk

Update Cargo.toml
  crates/cli/Cargo.toml
Due: none

chore: fixing tests from hotfix from main branch
  crates/lib/src/validator/transaction_validator.rs
Due: just-fmt

release: v2.2.0-beta.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  sdks/ts/package.json
Due: none

release: v2.2.0-beta.3 (#306)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  sdks/ts/package.json
Due: none

docs: update readme with latest release and absolute logo path
  README.md
Due: none

docs: update readme with latest release and absolute logo path (#307)
  README.md
Due: none

feat: update solana-keychain to v0.2.1 and add KMS and Fireblocks signer configurations
  .claude-plugin/kora-keychain-sync/.claude-plugin/plugin.json
  .claude-plugin/kora-keychain-sync/commands/sync-keychain.md
  .claude-plugin/marketplace.json
  Cargo.lock
  crates/lib/Cargo.toml
  crates/lib/src/signer/config.rs
  crates/lib/src/validator/transaction_validator.rs
Due: just-fmt

fix kms for aws kms
  crates/lib/src/signer/config.rs
Due: just-fmt

feat: update solana-keychain to v0.2.1 and add KMS and Fireblocks sig… (#308)
  .claude-plugin/kora-keychain-sync/.claude-plugin/plugin.json
  .claude-plugin/kora-keychain-sync/commands/sync-keychain.md
  .claude-plugin/marketplace.json
  Cargo.lock
  crates/lib/Cargo.toml
  crates/lib/src/signer/config.rs
  crates/lib/src/validator/transaction_validator.rs
Due: just-fmt

docs: update examples to @solana/kit v5.x and add typechecks
  examples/getting-started/demo/client/package.json
  examples/getting-started/demo/client/pnpm-lock.yaml
  examples/getting-started/demo/client/src/full-demo.ts
  examples/getting-started/demo/client/src/setup.ts
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/api/tsconfig.json
  examples/x402/demo/client/package.json
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/tsconfig.json
Due: just-format-ts-sdk

docs: update examples to @solana/kit v5.x and add typechecks (#309)
  examples/getting-started/demo/client/package.json
  examples/getting-started/demo/client/pnpm-lock.yaml
  examples/getting-started/demo/client/src/full-demo.ts
  examples/getting-started/demo/client/src/setup.ts
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/api/tsconfig.json
  examples/x402/demo/client/package.json
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/tsconfig.json
Due: just-format-ts-sdk

chore: add docker image publishing workflow
  .github/workflows/docker-publish.yml
Due: none

chore: add docker image publishing workflow (#310)
  .github/workflows/docker-publish.yml
Due: none

feat(sdk): add kit plugin with typed responses
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/index.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
Due: just-format-ts-sdk

feat(sdk): add kit plugin with typed responses (#311)
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/index.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
Due: just-format-ts-sdk

feat(sdk): add bundle methods and signature to kit plugin
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
Due: just-format-ts-sdk

feat(sdk)!: remove deprecated transferTransaction method
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

chore(sdk): add eslint config and fix linting errors
  sdks/pnpm-lock.yaml
  sdks/ts/eslint.config.js
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/src/utils/transaction.ts
  sdks/ts/test/auth-setup.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/setup.ts
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

sdk: update to rc (#312)
  sdks/pnpm-lock.yaml
  sdks/ts/eslint.config.js
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/src/utils/transaction.ts
  sdks/ts/test/auth-setup.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/setup.ts
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

refactor: move recaptcha to its own middleware
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/mod.rs
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/recaptcha_util.rs
  crates/lib/src/rpc_server/server.rs
Due: just-fmt

refactor(rpc): improve reCAPTCHA validation and prevent duplicate calls
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/recaptcha_util.rs
Due: just-fmt

refactor: fix reviewer's comments
  CLAUDE.md
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/error.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/mod.rs
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/recaptcha_util.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/jito-bundles/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
Due: just-fmt

feat(rpc): add reCAPTCHA support for protected endpoints
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/mod.rs
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
Due: just-fmt

feat(rpc): add reCAPTCHA support for protected endpoints (#301)
  CLAUDE.md
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/error.rs
  crates/lib/src/rpc_server/mod.rs
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/recaptcha_util.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/jito-bundles/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
Due: just-fmt

chore(sdk): bump ts sdk version
  sdks/ts/package.json
Due: none

chore(sdk): bump ts sdk version (#313)
  sdks/ts/package.json
Due: none

docs: update sdk readme for release
  sdks/ts/README.md
Due: none

docs: update sdk readme for release (#314)
  sdks/ts/README.md
Due: none

Path conditions:
  just-fmt: any of: \.rs$
  just-format-ts-sdk: any of: \.(ts|mts|cts)$
