Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt
        description: Format and lint Rust code automatically
        entry: make fmt
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

feat(deploy): send deployer and reaper transactions as tx v1 (#686)
  Cargo.lock
  crates/kora-deploy/Cargo.toml
  crates/kora-deploy/src/lib.rs
  crates/kora-deploy/src/state.rs
  examples/devnet-deploy-paymaster/Cargo.toml
  examples/devnet-deploy-paymaster/kora.toml
  examples/devnet-deploy-paymaster/src/reaper/closer.rs
  examples/devnet-deploy-paymaster/src/suite/adversarial.rs
  examples/devnet-deploy-paymaster/src/suite/harness.rs
Due: make-fmt

refactor: remove dead test helpers and redundant tests (#685)
  crates/lib/src/error.rs
  crates/lib/src/lib.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/transaction/versioned_transaction.rs
  sdks/ts/src/utils/transaction.ts
  sdks/ts/test/unit.test.ts
  tests/external/jito_integration.rs
Due: make-fmt, make-format-ts-sdk

feat(sdk): build v1 transactions in the kit planner and executor
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/kit-client.test.ts
Due: make-format-ts-sdk

ci: accept full issue URLs in the linked-issue check
  .github/workflows/pr-hygiene.yml
Due: none

ci: match only whole issue numbers in the linked-issue check
  .github/workflows/pr-hygiene.yml
Due: none

fix(deploy): size buffer writes to the loader's instruction data limit
  Cargo.lock
  Cargo.toml
  crates/kora-deploy/Cargo.toml
  crates/kora-deploy/src/lib.rs
  examples/devnet-deploy-paymaster/src/suite/adversarial.rs
  examples/devnet-deploy-paymaster/src/suite/harness.rs
Due: make-fmt

fix(fee): count DeployWithMaxDataLen programdata rent as fee payer outflow
  crates/lib/src/fee/fee.rs
  tests/loader_v3_deploy/deploy_lifecycle.rs
Due: make-fmt

ci: accept full issue URLs in the linked-issue check (#689)
  .github/workflows/pr-hygiene.yml
Due: none

fix(deploy): size buffer writes to the loader's instruction data limit (#690)
  Cargo.lock
  Cargo.toml
  crates/kora-deploy/Cargo.toml
  crates/kora-deploy/src/lib.rs
  examples/devnet-deploy-paymaster/src/suite/adversarial.rs
  examples/devnet-deploy-paymaster/src/suite/harness.rs
Due: make-fmt

feat: add fee_payer_allowed_programs config parameter
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
Due: make-fmt

feat: change config value name
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
Due: make-fmt

feat: fix review comments
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

test(deploy): size the smoke suite's inflated deploy from cluster rent
  examples/devnet-deploy-paymaster/src/suite/adversarial.rs
Due: make-fmt

test(deploy): size the smoke suite's inflated deploy from cluster rent (#693)
  examples/devnet-deploy-paymaster/src/suite/adversarial.rs
Due: make-fmt

feat: review comments resolve
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

chore(tests): repin the harness to upstream surfpool
  Cargo.lock
  tests/Cargo.toml
Due: none

chore(tests): repin the harness to upstream surfpool (#695)
  Cargo.lock
  tests/Cargo.toml
Due: none

ci: bump pnpm to 11.28.2
  .github/actions/integration-phase/action.yml
  .github/workflows/security.yml
  .github/workflows/typescript-publish.yml
  .github/workflows/typescript-unit.yml
  sdks/package.json
Due: none

ci: bump pnpm to 11.28.2 (#696)
  .github/actions/integration-phase/action.yml
  .github/workflows/security.yml
  .github/workflows/typescript-publish.yml
  .github/workflows/typescript-unit.yml
  sdks/package.json
Due: none

chore(deps): clear TS audit alerts and drop unused typedoc
  .gitignore
  examples/getting-started/demo/client/pnpm-lock.yaml
  examples/jito-bundles/client/pnpm-lock.yaml
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/client/pnpm-lock.yaml
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  sdks/pnpm-lock.yaml
  sdks/pnpm-workspace.yaml
  sdks/ts/docs/README.md
  sdks/ts/eslint.config.js
  sdks/ts/package.json
  sdks/ts/scripts/add-toc.js
  sdks/ts/scripts/generate-api-docs.js
  sdks/ts/typedoc.html.json
  sdks/ts/typedoc.json
Due: none

feat(metrics): add RejectionReason enum and http_rejections_total counter (#669)
  crates/lib/src/metrics/middleware.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/recaptcha_util.rs
Due: make-fmt

feat(rpc): report whether signTransaction appended a Lighthouse assertion (#675)
  .claude/skills/kora-client/references/guides.md
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/versioned_transaction.rs
  openapi.json
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
  tests/lighthouse/lighthouse_tests.rs
  tests/rpc/transaction_signing.rs
Due: make-fmt, make-format-ts-sdk

chore(deps): clear TS audit alerts and drop unused typedoc (#707)
  .gitignore
  examples/getting-started/demo/client/pnpm-lock.yaml
  examples/jito-bundles/client/pnpm-lock.yaml
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/client/pnpm-lock.yaml
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  sdks/pnpm-lock.yaml
  sdks/pnpm-workspace.yaml
  sdks/ts/docs/README.md
  sdks/ts/eslint.config.js
  sdks/ts/package.json
  sdks/ts/scripts/add-toc.js
  sdks/ts/scripts/generate-api-docs.js
  sdks/ts/typedoc.html.json
  sdks/ts/typedoc.json
Due: none

refactor(transaction): split instruction_util into per-program modules
  CLAUDE.md
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/instruction_util/alt.rs
  crates/lib/src/transaction/instruction_util/bpf_loader_upgradeable.rs
  crates/lib/src/transaction/instruction_util/loader_v4.rs
  crates/lib/src/transaction/instruction_util/mod.rs
  crates/lib/src/transaction/instruction_util/reconstruct.rs
  crates/lib/src/transaction/instruction_util/spl_token.rs
  crates/lib/src/transaction/instruction_util/system.rs
  crates/lib/src/transaction/instruction_util/tests.rs
Due: make-fmt

docs(transaction): correct the SplTokenUnknownExtension doc
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(transaction): compact the System, ALT and loader parsers
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(transaction): derive SPL map keys from the parsed data
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(transaction): trim SPL instruction reconstruction
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(transaction): share instruction arms between token programs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(transaction): shrink the UiExtensionType mapping
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(transaction): trim System instruction reconstruction
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(validator): share one pubkey set parser
  crates/lib/src/validator/bundle_validator.rs
  crates/lib/src/validator/mod.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

refactor(validator): check Assign and CreateAccount owners in one place
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

refactor(validator): drop the unused price source field
  crates/lib/src/validator/transaction_validator.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/mod.rs
Due: make-fmt

refactor(plugin): reuse from_config when validating plugin config
  crates/lib/src/plugin/mod.rs
Due: make-fmt
