Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

make-lint:
  name: make lint
  description: Lint Rust code automatically
  entry: make lint
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

Feat/improved warnings for cli configs (#244)
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

bgufix: Update uncompile_instructions to prevent index out of bounds
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

bgufix: Update uncompile_instructions to prevent index out of bounds (#245)
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

chore: update ADDING_SIGNERS.md
  docs/contributors/ADDING_SIGNERS.md
Due: none

chore: update docs with new Feepayer Policy Config
  CLAUDE.md
  docs/operators/CONFIGURATION.md
  docs/operators/FEES.md
  docs/x402/demo/X402_DEMO_GUIDE.md
Due: none

chore: docs updates (#246)
  CLAUDE.md
  docs/contributors/ADDING_SIGNERS.md
  docs/operators/CONFIGURATION.md
  docs/operators/FEES.md
  docs/x402/demo/X402_DEMO_GUIDE.md
Due: none

fix: limit access to config's singleton
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

fix: pull config out of the usage tracker
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/cache_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

fix: remaining occurrences
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

fix: address feedback
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

chore: cargo fmt
  crates/lib/src/admin/token_util.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

docs: tweaks
  crates/lib/src/transaction/versioned_transaction.rs
  docs/getting-started/QUICK_START.md
Due: make-lint

feat: Improvements post audit fixes
  crates/lib/src/token/token.rs
  docs/operators/CONFIGURATION.md
Due: make-lint

Replace saturating_add with checked_add
  crates/lib/src/fee/fee.rs
Due: make-lint

Graceful error handling for tower middlewares
  crates/lib/src/metrics/handler.rs
  crates/lib/src/metrics/middleware.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/middleware_utils.rs
Due: make-lint

Added missing unit test checks for config
  crates/lib/src/rpc_server/method/get_config.rs
Due: make-lint

Added warning if free pricing is used
  crates/lib/src/validator/config_validator.rs
Due: make-lint

Should be able to unpack account, else error out
  crates/lib/src/token/token.rs
Due: make-lint

Better visibility / safety for signer pool
  crates/lib/src/metrics/balance.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
Due: make-lint

Multiply before divide to improve precision in math calc
  crates/lib/src/token/token.rs
Due: make-lint

fix: refactor remaining get_config
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/tests/cache_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/account_validator.rs
Due: make-lint

chore: strip redundant price_source
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/tests/cache_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

chore: cargo fmt
  crates/lib/src/fee/fee.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/token/token.rs
Due: make-lint

chore: migrate from gill to @solana/kit
  docs/getting-started/FULL_DEMO.md
  docs/getting-started/demo/client/package.json
  docs/getting-started/demo/client/pnpm-lock.yaml
  docs/getting-started/demo/client/src/full-demo.ts
  docs/x402/demo/client/package.json
  docs/x402/demo/client/pnpm-lock.yaml
  docs/x402/demo/client/src/setup.ts
Due: make-format-ts-sdk

chore: migrate from gill to @solana/kit (#249)
  docs/getting-started/FULL_DEMO.md
  docs/getting-started/demo/client/package.json
  docs/getting-started/demo/client/pnpm-lock.yaml
  docs/getting-started/demo/client/src/full-demo.ts
  docs/x402/demo/client/package.json
  docs/x402/demo/client/pnpm-lock.yaml
  docs/x402/demo/client/src/setup.ts
Due: make-format-ts-sdk

feat: minor audit edits (#248)
  crates/lib/src/fee/fee.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/metrics/handler.rs
  crates/lib/src/metrics/middleware.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/middleware_utils.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  docs/getting-started/QUICK_START.md
  docs/operators/CONFIGURATION.md
Due: make-lint

chore: add git-cliff configuration and update Rust publish workflow
  .github/cliff.toml
  .github/workflows/rust-publish.yml
  .github/workflows/ts-sdk-publish.yml
Due: none

chore: add git-cliff configuration and update Rust publish workflow (#250)
  .github/cliff.toml
  .github/workflows/rust-publish.yml
  .github/workflows/ts-sdk-publish.yml
Due: none

chore: rename ts package
  .github/workflows/ts-sdk-publish.yml
  README.md
  docs/getting-started/FULL_DEMO.md
  docs/getting-started/demo/client/package.json
  docs/getting-started/demo/client/pnpm-lock.yaml
  docs/getting-started/demo/client/src/full-demo.ts
  docs/getting-started/demo/client/src/quick-start.ts
  docs/x402/demo/facilitator/package.json
  docs/x402/demo/facilitator/pnpm-lock.yaml
  docs/x402/demo/facilitator/src/facilitator.ts
  sdks/.changeset/brave-melons-stand.md
  sdks/.changeset/chatty-tigers-battle.md
  sdks/.changeset/quick-animals-attack.md
  sdks/.changeset/rare-ends-hug.md
  sdks/.changeset/salty-pants-end.md
  sdks/.changeset/spicy-lines-slide.md
  sdks/ts/README.md
  sdks/ts/package.json
  sdks/ts/typedoc.html.json
Due: make-format-ts-sdk

refactor: Enhance margin and token value calculations with overflow protection
  crates/lib/src/fee/price.rs
  crates/lib/src/token/token.rs
Due: make-lint

reorder
  crates/lib/src/fee/price.rs
Due: make-lint

chore: rename ts package (#251)
  .github/workflows/ts-sdk-publish.yml
  README.md
  docs/getting-started/FULL_DEMO.md
  docs/getting-started/demo/client/package.json
  docs/getting-started/demo/client/pnpm-lock.yaml
  docs/getting-started/demo/client/src/full-demo.ts
  docs/getting-started/demo/client/src/quick-start.ts
  docs/x402/demo/facilitator/package.json
  docs/x402/demo/facilitator/pnpm-lock.yaml
  docs/x402/demo/facilitator/src/facilitator.ts
  sdks/.changeset/brave-melons-stand.md
  sdks/.changeset/chatty-tigers-battle.md
  sdks/.changeset/quick-animals-attack.md
  sdks/.changeset/rare-ends-hug.md
  sdks/.changeset/salty-pants-end.md
  sdks/.changeset/spicy-lines-slide.md
  sdks/ts/README.md
  sdks/ts/package.json
  sdks/ts/typedoc.html.json
Due: make-format-ts-sdk

refactor: Enhance margin and token value calculations with overflow p… (#252)
  crates/lib/src/fee/price.rs
  crates/lib/src/token/token.rs
Due: make-lint

chore: update package & branch references
  docs/getting-started/demo/client/package.json
  docs/x402/demo/X402_DEMO_GUIDE.md
  docs/x402/demo/facilitator/package.json
Due: none

chore: remove local build/install
  docs/getting-started/QUICK_START.md
Due: none

chore: Bump version numbers to 2.0.0 across all packages and add security audit information to README
  Cargo.lock
  Cargo.toml
  README.md
  audits/20251119_runtime-verification.pdf
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

chore: Bump version numbers to 2.0.0 across all packages and add security audit information to README (#253)
  Cargo.lock
  Cargo.toml
  README.md
  audits/20251119_runtime-verification.pdf
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

chore: CI Publish fix
  .github/workflows/rust-publish.yml
Due: none

chore: CI Publish fix (#254)
  .github/workflows/rust-publish.yml
Due: none

Path conditions:
  make-lint: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
