Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-lint
        name: make lint
        description: Lint Rust code automatically
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

feat (PRO-254): Add Token 2022 integration tests (#203)
  .github/badges/coverage.json
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  makefiles/RUST_TESTS.makefile
  tests/src/common/constants.rs
  tests/src/common/extension_helpers.rs
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/helpers.rs
  tests/src/common/local-keys/mint-2022-interest-bearing.json
  tests/src/common/local-keys/usdc-mint-2022-local.json
  tests/src/common/mod.rs
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/tokens/main.rs
  tests/tokens/token_2022_extensions_test.rs
  tests/tokens/token_2022_test.rs
Due: make-lint

Added test
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

feat: (PRO-261) add signature verification flag to transaction methods
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/middleware_utils.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

fix/apply pricing model to fee estimation
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
Due: make-lint

fix: monitoring link
  crates/lib/src/metrics/README.md
Due: none

Update transaction_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

chore/readme
  README.md
  kora.svg
Due: none

chore: update sdk docs
  docs/operators/deploy/sample/kora.toml
  kora.toml
  sdks/ts/README.md
Due: none

chore/update kora.toml
  docs/getting-started/demo/server/kora.toml
  docs/operators/deploy/sample/kora.toml
  kora.toml
Due: none

fix: broken monitoring link & remove unused struct (#206)
  README.md
  crates/lib/src/metrics/README.md
  crates/lib/src/validator/transaction_validator.rs
  docs/getting-started/demo/server/kora.toml
  docs/operators/deploy/sample/kora.toml
  kora.svg
  kora.toml
  sdks/ts/README.md
Due: make-lint

fix/apply pricing model to fee estimation (#207)
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
Due: make-lint

fix test
  tests/src/common/assertions.rs
Due: make-lint

Add skip coverage PR comment if not main fndn repo
  .github/workflows/rust.yml
Due: none

Default sig verify false
  crates/lib/src/rpc_server/middleware_utils.rs
Due: make-lint

chore: Added debug make commands to not quiet the output
  Makefile
  makefiles/DEBUG.makefile
  makefiles/DEBUG_COMMANDS.makefile
Due: none

Parallel Testing with Makefile for integration tests
  .gitignore
  makefiles/BUILD.makefile
  makefiles/CLIENT.makefile
  makefiles/METRICS.makefile
  makefiles/RUST_TESTS.makefile
  makefiles/UTILS.makefile
Due: none

Parallel Github Actions
  .github/workflows/rust.yml
Due: none

wip: Add signers config validation to CLI and core
  crates/cli/src/main.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/mod.rs
  crates/lib/src/validator/signer_validator.rs
Due: make-lint

Update coverage badge [skip ci]
  .github/badges/coverage.json
Due: none

default param
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

chore: Add sig_verify option to transaction request types
  sdks/ts/docs/README.md
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
Due: make-format-ts-sdk

feat: (PRO-261) add signature verification flag to transaction methods (#208)
  .github/badges/coverage.json
  .github/workflows/rust.yml
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/middleware_utils.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/src/common/assertions.rs
Due: make-lint

chore: Add sig_verify option to transaction request types (#211)
  crates/lib/src/signer/utils.rs
  sdks/ts/docs/README.md
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
Due: make-lint, make-format-ts-sdk

feat: (PRO-268) Enhance fee estimation with transfer fee calculations and Kora's price model. Also removed check for non transferable and cpi guard, as they will fail at the transaction level instead.
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

refactor
  crates/lib/src/signer/config.rs
  crates/lib/src/validator/signer_validator.rs
Due: make-lint

fee payer fix
  crates/lib/src/fee/fee.rs
Due: make-lint

cgireL Increase test setup timeout to 90 seconds
  sdks/ts/test/integration.test.ts
Due: make-format-ts-sdk

chore: Increase test setup timeout to 90 seconds
  sdks/ts/test/integration.test.ts
Due: make-format-ts-sdk

chore: add strategy display impl
  crates/lib/src/signer/config.rs
  crates/lib/src/validator/signer_validator.rs
Due: make-lint

feat: (PRO-263) Add transfer hook example and related infrastructure
  .gitignore
  Cargo.lock
  Makefile
  crates/lib/src/transaction/versioned_transaction.rs
  makefiles/RUST_TESTS.makefile
  makefiles/UTILS.makefile
  tests/Cargo.toml
  tests/src/common/constants.rs
  tests/src/common/extension_helpers.rs
  tests/src/common/helpers.rs
  tests/src/common/local-keys/mint-transfer-hook-local.json
  tests/src/common/transfer-hook-example/Cargo.lock
  tests/src/common/transfer-hook-example/Cargo.toml
  tests/src/common/transfer-hook-example/build.sh
  tests/src/common/transfer-hook-example/src/lib.rs
  tests/src/common/transfer-hook-example/transfer-hook-keypair.json
  tests/src/common/transfer-hook-example/transfer_hook_example.so
  tests/tokens/token_2022_extensions_test.rs
Due: make-lint

ci fix
  .github/workflows/rust.yml
Due: none

docs/add fees summary
  docs/operators/FEES.md
  docs/operators/README.md
Due: none

chore:(PRO-259) Add additional Validation Checks (#209)
  .github/badges/coverage.json
  crates/cli/src/main.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/mod.rs
  crates/lib/src/validator/signer_validator.rs
  sdks/ts/test/integration.test.ts
Due: make-lint, make-format-ts-sdk

docs/add fees summary (#214)
  docs/operators/FEES.md
  docs/operators/README.md
Due: none

PR Fixes
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
Due: make-lint

add transfer hook program to solana validator
  .github/actions/setup-solana-validator/action.yml
Due: none

feat: (PRO-268) Enhance fee estimation with transfer fee calculation… (#212)
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  docs/operators/FEES.md
  docs/operators/README.md
Due: make-lint
