Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-lint
        name: make lint
        description: Lint Rust code automatically
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

chore: Update audit report to the final version (typos, etc.) (#268)
  audits/20251119_runtime-verification.pdf
Due: none

fix: sign if create ata ix found (#267)
  crates/lib/src/constant.rs
  crates/lib/src/token/token.rs
  examples/getting-started/demo/server/kora.toml
Due: make-lint

fix: update readme url to docs
  README.md
Due: none

fix: update readme url to docs (#269)
  README.md
Due: none

fix: add missing signature field to SignAndSendTransactionResponse
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: migrate from Makefile to Just for build and development commands
  .github/workflows/build-rust.yml
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  crates/lib/src/metrics/README.md
  justfile
  makefiles/BUILD.makefile
  makefiles/CLIENT.makefile
  makefiles/COVERAGE.makefile
  makefiles/DOCUMENTATION.makefile
  makefiles/METRICS.makefile
  makefiles/RELEASE.makefile
  makefiles/RUST_TESTS.makefile
  makefiles/TYPESCRIPT_TESTS.makefile
  makefiles/UTILS.makefile
Due: none

ci: skip coverage PR comment for forked pull requests
  .github/workflows/typescript-unit.yml
Due: none

feat(rpc): return transaction signature in sign_and_send_transaction response
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
Due: make-lint

fix(openapi): sync combined_api spec with runtime response
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
Due: none

fix(rpc): add missing signature field to SignAndSendTransactionResponse (#270)
  .github/workflows/typescript-unit.yml
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-lint, make-format-ts-sdk

Added readme for just
  README.md
Due: none

chore: migrate from Makefile to Just for build and development commands (#271)
  .github/workflows/build-rust.yml
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  crates/lib/src/metrics/README.md
  justfile
  makefiles/BUILD.makefile
  makefiles/CLIENT.makefile
  makefiles/COVERAGE.makefile
  makefiles/DOCUMENTATION.makefile
  makefiles/METRICS.makefile
  makefiles/RELEASE.makefile
  makefiles/RUST_TESTS.makefile
  makefiles/TYPESCRIPT_TESTS.makefile
  makefiles/UTILS.makefile
Due: none

docs: update x402 example shared
  examples/x402/demo/.env.example
  examples/x402/demo/README.md
  examples/x402/demo/package.json
Due: none

docs: update x402 example api
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/api/src/api.ts
Due: make-format-ts-sdk

docs: update x402 example client
  examples/x402/demo/assets/x402-protocol-flow.png
  examples/x402/demo/client/package.json
  examples/x402/demo/client/pnpm-lock.yaml
  examples/x402/demo/client/src/index.ts
Due: make-format-ts-sdk

docs: update x402 example kora facilitator
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/src/facilitator.ts
Due: make-format-ts-sdk

docs: update x402 guide to x402 v2 spec (#272)
  examples/x402/demo/.env.example
  examples/x402/demo/README.md
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/api/src/api.ts
  examples/x402/demo/assets/x402-protocol-flow.png
  examples/x402/demo/client/package.json
  examples/x402/demo/client/pnpm-lock.yaml
  examples/x402/demo/client/src/index.ts
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/src/facilitator.ts
  examples/x402/demo/package.json
Due: make-format-ts-sdk

fix(usage-limit): resolve race condition using atomic increment
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
Due: make-lint

style: fix formatting in usage_tracker
  crates/lib/src/usage_limit/usage_tracker.rs
Due: make-lint

feat: add privacy pool CPI-based fee payment validation
  crates/lib/src/config.rs
  crates/lib/src/mod.rs
  crates/lib/src/privacy/config.rs
  crates/lib/src/privacy/cpi_validator.rs
  crates/lib/src/privacy/instruction_context.rs
  crates/lib/src/privacy/mod.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

fix: use fresh wallet to exercise ata creation in full demo
  examples/getting-started/demo/client/src/full-demo.ts
Due: make-format-ts-sdk

chore(sdk): fix dependency configuration
  sdks/ts/package.json
  sdks/ts/src/client.ts
Due: make-format-ts-sdk

fix(usage-limit): resolve race condition in usage tracker (#273)
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
Due: make-lint

chore: Update private key env variable in signers config
  examples/x402/demo/kora/signers.toml
Due: none

chore: Update private key env variable in signers config (#281)
  examples/x402/demo/kora/signers.toml
Due: none

chore: Upgrade Solana SDK dependencies to v5.1.0
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

chore: solana kit ws fix
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
Due: none

chore: bump package
  sdks/ts/package.json
Due: none

chore: bump ts sdk deps (#282)
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

feat: add prerelease detection for Rust and TypeScript SDK workflows
  .github/workflows/rust-publish.yml
  .github/workflows/ts-sdk-publish-manual.yml
  crates/cli/Cargo.toml
Due: none

just command for typescript release TS Beta Version Rust Beta version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  justfile
  sdks/ts/package.json
Due: none

feat: add prerelease detection for Rust and TypeScript SDK workflows & pre-release beta publish (#283)
  .github/workflows/rust-publish.yml
  .github/workflows/ts-sdk-publish-manual.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  justfile
  sdks/ts/package.json
Due: none

bugfix: version for kora lib to enable release github action
  Cargo.toml
  crates/cli/Cargo.toml
  justfile
Due: none

chore: Idempotent CI fixes
  .github/workflows/rust-publish.yml
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

chore: Idempotent CI fixes
  .github/workflows/rust-publish.yml
Due: none

feat: enhance rust-publish workflow with separate publish options for kora-lib and kora-cli
  .github/workflows/rust-publish.yml
Due: none

feat: Add getVersion RPC method to server and SDK
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_version.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint, make-format-ts-sdk

feat: add hotfix branch creation to Justfile and update TypeScript SDK publish workflow
  .github/workflows/ts-sdk-publish-manual.yml
  .github/workflows/ts-sdk-publish.yml
  justfile
Due: none

Fix for just file
  justfile
Due: none

[CHORE] Fix TS package deploy + justfile for hotfix (#285)
  .github/workflows/ts-sdk-publish-manual.yml
  .github/workflows/ts-sdk-publish.yml
  justfile
Due: none
