Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt
        description: Format and lint Rust code automatically
        entry: make fmt
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

feat: add token price caching
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/token/token.rs
  kora.toml
Due: make-fmt

feat: add feature to disable token price caching
  crates/lib/src/cache.rs
  kora.toml
Due: make-fmt

feat: add lock for price fetching
  crates/lib/src/cache.rs
  kora.toml
Due: make-fmt

chore: change example config file
  kora.toml
Due: none

chore(docs): replace make with just
  CONTRIBUTING.md
  tests/src/test_runner/kora.rs
Due: make-fmt

chore: fmt
  crates/lib/src/cache.rs
Due: make-fmt

Update crates/lib/src/cache.rs
  crates/lib/src/cache.rs
Due: make-fmt

chore: more logs
  crates/lib/src/cache.rs
Due: make-fmt

fix: not ruin set price flow on one failed serialization
  crates/lib/src/cache.rs
Due: make-fmt

chore(docs): replace make with just (#470)
  CONTRIBUTING.md
  tests/src/test_runner/kora.rs
Due: make-fmt

fix(transaction): support SyncNative in CPI inner instruction reconstruction (#468)
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix(sdk): handle ProgramsConfig::All wildcard in getConfig response
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

test(sdk): cover ProgramsConfig::All wildcard in TOML, getConfig, and Kit wrapper paths
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_config.rs
  sdks/ts/test/plugin.test.ts
Due: make-fmt, make-format-ts-sdk

fix(usage_limit): atomic limit enforcement for concurrent requests
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
Due: make-fmt

fix(validator): skip empty key vars
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

chore: add dependabot config
  .github/dependabot.yml
Due: none

Apply suggestion from @greptile-apps[bot]
  .github/dependabot.yml
Due: none

chore: fix dependabot semver-patch-days (schema requires 1-90)
  .github/dependabot.yml
Due: none

chore: add dependabot config (#474)
  .github/dependabot.yml
Due: none

feat(validator): cross-cluster mint validation
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
Due: make-fmt

fix(deps): align dependabot rollup constraints
  Cargo.lock
  Cargo.toml
  crates/lib/src/rpc_server/auth.rs
Due: make-fmt

fix(deps): import hmac key initializer in tests
  tests/src/common/auth_helpers.rs
Due: make-fmt

chore(deps): roll up compatible dependabot updates (#500)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/rpc_server/auth.rs
  examples/getting-started/demo/client/pnpm-lock.yaml
  examples/jito-bundles/client/pnpm-lock.yaml
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/client/pnpm-lock.yaml
  sdks/pnpm-lock.yaml
  tests/Cargo.toml
  tests/src/common/auth_helpers.rs
Due: make-fmt

chore(deps): keep compatible cargo updates
  Cargo.lock
  Cargo.toml
Due: none

ci: ignore dependabot patch updates
  .github/dependabot.yml
Due: none

ci: ignore dependabot patch updates (#515)
  .github/dependabot.yml
Due: none

fix: support utoipa 5 schema derives
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/signer/config.rs
Due: make-fmt

feat: by default token price is off, change redis key for storing prices
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/token/token.rs
  kora.toml
Due: make-fmt

fix(validator): skip empty key vars (#469)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

feat(validator): cross-cluster mint validation (#464)
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
Due: make-fmt

test: fix value in test
  crates/lib/src/config.rs
Due: make-fmt

Caching for exchange rates (#471)
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/token/token.rs
  kora.toml
Due: make-fmt

chore(deps): upgrade utoipa to 5.5 and fix OpenAPI schema impls
  Cargo.lock
  Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/rpc_server/openapi/helper.rs
  crates/lib/src/signer/config.rs
Due: make-fmt

ci: add dependency audits and miri
  .github/dependabot.yml
  .github/workflows/security.yml
  Cargo.lock
Due: none

fix: ci error
  Cargo.lock
  crates/lib/src/signer/config.rs
Due: make-fmt

ci: refine dependency audit policy
  .cargo/audit.toml
  .github/workflows/security.yml
Due: none

ci: simplify pnpm audit policy
  .github/workflows/security.yml
Due: none

ci: document cargo audit baselines
  .cargo/audit.toml
Due: none

Add "All" wildcard sentinel for allowed_programs (#465)
  crates/lib/src/config.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/openapi/helper.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/bundle_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
Due: make-fmt, make-format-ts-sdk

ci: add dependency audits and miri (#526)
  .cargo/audit.toml
  .github/dependabot.yml
  .github/workflows/security.yml
  Cargo.lock
Due: none
