Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-lint
        name: make lint
        description: Lint Rust code automatically
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

docs:(PRO-220) update config docs (redis & spl22) (#181)
  README.md
  docs/operators/CONFIGURATION.md
  docs/operators/README.md
Due: none

chore: add release wildcard
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
Due: none

feat(metrics): (PRO-160) add fee payer balance tracking via metrics
  crates/cli/src/main.rs
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/metrics/grafana/provisioning/dashboards/kora-metrics.json
  crates/lib/src/metrics/mod.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  docker-compose.yml
  kora.toml
Due: make-lint

chore: test adding server delay after initialization
  .github/actions/setup-kora-rpc/action.yml
Due: none

chore:(PRO-224) fix ci (#182)
  .github/actions/setup-kora-rpc/action.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
Due: none

docs: monitoring docs
  docs/operators/CONFIGURATION.md
  docs/operators/MONITORING.md
  docs/operators/README.md
Due: none

feat(metrics): (PRO-160) add fee payer balance tracking via metrics (#183)
  crates/cli/src/main.rs
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/metrics/grafana/provisioning/dashboards/kora-metrics.json
  crates/lib/src/metrics/mod.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  docker-compose.yml
  docs/operators/CONFIGURATION.md
  docs/operators/MONITORING.md
  docs/operators/README.md
  kora.toml
Due: make-lint

feat(signer): implement multi-signer support with different strategies
  Cargo.lock
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/args.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/init.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/signer/utils.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/transaction/versioned_transaction.rs
  docker-compose.yml
  makefiles/rs.mk
  makefiles/tests_ts.mk
  makefiles/utils.mk
  signers.example.toml
  signers.toml
  tests/src/common/fixtures/signers-privy.toml
  tests/src/common/fixtures/signers-turnkey.toml
  tests/src/common/fixtures/signers.toml
Due: make-lint

feat(signer): enhance multi-signer functionality with optional signer hints
  crates/lib/src/metrics/balance.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/state.rs
  makefiles/tests_rs.mk
  makefiles/utils.mk
  sdks/ts/src/types/index.ts
  sdks/ts/test/auth-setup.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/Cargo.toml
  tests/integration/rpc_integration_tests.rs
  tests/integration/token_integration_tests.rs
  tests/multi-signers/main.rs
  tests/multi-signers/multi_signer_tests.rs
  tests/src/common/fixtures/multi-signers.toml
  tests/src/common/helpers.rs
  tests/src/common/local-keys/signer2-local.json
Due: make-lint, make-format-ts-sdk

CI fixes for new multi signers
  .github/actions/setup-kora-rpc/action.yml
  .github/workflows/rust.yml
Due: none

CI fix p2
  .github/actions/setup-kora-rpc/action.yml
Due: none

sdk: update request/response types
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

docs: update signer documentation
  docs/contributors/ADDING_SIGNERS.md
  docs/getting-started/QUICK_START.md
  docs/operators/MONITORING.md
  docs/operators/README.md
  docs/operators/SIGNERS.md
Due: none

PR Comments
  crates/cli/src/main.rs
  crates/lib/src/admin/token_util.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/config_trait.rs
  crates/lib/src/signer/memory_signer/config.rs
  crates/lib/src/signer/memory_signer/mod.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/signer/privy/config.rs
  crates/lib/src/signer/turnkey/config.rs
  crates/lib/src/signer/turnkey/mod.rs
  crates/lib/src/signer/vault/config.rs
  crates/lib/src/signer/vault/mod.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
  tests/multi-signers/multi_signer_tests.rs
Due: make-lint

chore: (PRO-229) signer docs & sdk updates (#185)
  docs/contributors/ADDING_SIGNERS.md
  docs/getting-started/QUICK_START.md
  docs/operators/MONITORING.md
  docs/operators/README.md
  docs/operators/SIGNERS.md
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: update signer documentation
  docs/getting-started/QUICK_START.md
  docs/operators/README.md
  docs/operators/SIGNERS.md
  sdks/ts/src/types/index.ts
Due: make-format-ts-sdk

chore: update signer documentation (#187)
  docs/getting-started/QUICK_START.md
  docs/operators/README.md
  docs/operators/SIGNERS.md
  sdks/ts/src/types/index.ts
Due: make-format-ts-sdk

feat(tests): (PRO-163) massive rehaul of mocking for unit testing, in order to reach the coveted 80% coverage
  Cargo.lock
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/tests/redis_cache_mock.rs
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

Cache tests
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/tests/redis_cache_mock.rs
Due: make-lint

Config tests
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/tests/toml_mock.rs
Due: make-lint

Error tests
  crates/lib/src/error.rs
Due: make-lint

Fee tests
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
Due: make-lint

Balance tests
  crates/lib/src/metrics/balance.rs
Due: make-lint

feat: add get_payer_signer method
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
Due: make-lint

tests: rust basic integration tests
  tests/integration/rpc_integration_tests.rs
  tests/multi-signers/multi_signer_tests.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint

sdk: update TS SDK
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

docs: add to docs
  docs/operators/SIGNERS.md
  sdks/ts/README.md
Due: none

RPC methods unit test
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_blockhash.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/get_supported_tokens.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/tests/transaction_mock.rs
Due: make-lint

chore: use helper method & cleanup
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/validator/config_validator.rs
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/integration/rpc_integration_tests.rs
  tests/multi-signers/multi_signer_tests.rs
Due: make-lint, make-format-ts-sdk

feat: (PRO-231): add get_signer_payer method (#188)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
  docs/operators/SIGNERS.md
  sdks/ts/README.md
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/integration/rpc_integration_tests.rs
  tests/multi-signers/multi_signer_tests.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint, make-format-ts-sdk

chore: run typedocs
  sdks/ts/docs/README.md
Due: none

chore: run typedocs (#189)
  sdks/ts/docs/README.md
Due: none

Signer test (part 1)
  crates/lib/src/admin/token_util.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/signer/init.rs
  crates/lib/src/signer/memory_signer/config.rs
  crates/lib/src/signer/memory_signer/solana_signer.rs
  crates/lib/src/signer/privy/config.rs
  crates/lib/src/signer/privy/signer.rs
  crates/lib/src/signer/signer.rs
  crates/lib/src/signer/turnkey/config.rs
  crates/lib/src/signer/turnkey/signer.rs
  crates/lib/src/signer/utils.rs
  crates/lib/src/signer/vault/config.rs
  crates/lib/src/signer/vault/vault_signer.rs
  crates/lib/src/tests/transaction_mock.rs
Due: make-lint

Update typescript-integration.yml
  .github/workflows/typescript-integration.yml
Due: none

Revert "Update typescript-integration.yml"
  .github/workflows/typescript-integration.yml
Due: none

chore: test error codes
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

chore: update commitment
  sdks/ts/scripts/test-with-validator.js
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

chore: finalize mint setup
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

feat: add getPaymentInstruction
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
Due: make-format-ts-sdk
