Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt
        description: Format and lint Rust code automatically
        entry: make fmt
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

chore: drop ad-hoc devnet paymaster deploy recipe + redundant test comment
  crates/lib/src/state.rs
  justfile
Due: make-fmt

ci(deploy): add Cloud Run deploy workflow for devnet paymaster
  .github/workflows/deploy-devnet-paymaster.yml
  examples/devnet-deploy-paymaster/README.md
Due: none

ci(deploy): load devnet paymaster config from Doppler instead of repo Variables
  .github/workflows/deploy-devnet-paymaster.yml
  examples/devnet-deploy-paymaster/README.md
Due: none

ci(deploy): drop GitHub Environment from devnet paymaster workflow
  .github/workflows/deploy-devnet-paymaster.yml
  examples/devnet-deploy-paymaster/README.md
Due: none

ci(deploy): use stg_github Doppler config + rename RPC_URL to DEVNET_RPC_URL
  .github/workflows/deploy-devnet-paymaster.yml
  examples/devnet-deploy-paymaster/README.md
Due: none

ci(deploy): prefix all 4 runtime values with DEVNET_ to avoid CI collisions
  .github/workflows/deploy-devnet-paymaster.yml
  examples/devnet-deploy-paymaster/README.md
Due: none

feat(validator): add BPF Loader Upgradeable (loader-v3) policy + plugin coverage (#453)
  .github/workflows/build-rust.yml
  .github/workflows/deploy-devnet-paymaster.yml
  .github/workflows/fork-external-live-manual.yml
  .github/workflows/rust-unit.yml
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/rules/instruction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
  examples/devnet-deploy-paymaster/README.md
  examples/devnet-deploy-paymaster/kora.toml
  justfile
Due: make-fmt

ci(deploy): pin GCS source staging dir to skip project-level bucket list
  .github/workflows/deploy-devnet-paymaster.yml
Due: none

ci(deploy): pin GCS source staging dir to skip project-level bucket list (#454)
  .github/workflows/deploy-devnet-paymaster.yml
Due: none

ci(deploy): split build + deploy steps to drop project-level storage perms
  .github/workflows/deploy-devnet-paymaster.yml
  examples/devnet-deploy-paymaster/README.md
Due: none

ci(deploy): split build + deploy steps to drop project-level storage perms (#455)
  .github/workflows/deploy-devnet-paymaster.yml
  examples/devnet-deploy-paymaster/README.md
Due: none

feat: add openfort signer
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/tests/config_mock.rs
  signers.example.toml
Due: make-fmt

ci(deploy): route Cloud Build logs to a regional user-owned bucket
  .github/workflows/deploy-devnet-paymaster.yml
Due: none

ci(deploy): route Cloud Build logs to a regional user-owned bucket (#457)
  .github/workflows/deploy-devnet-paymaster.yml
Due: none

ci(deploy): submit builds with --async + poll instead of streaming logs
  .github/workflows/deploy-devnet-paymaster.yml
Due: none

ci(deploy): submit builds with --async + poll instead of streaming logs (#458)
  .github/workflows/deploy-devnet-paymaster.yml
Due: none

test(integration): add loader-v3 deploy lifecycle integration test + open up plugin-guarded ops
  Cargo.lock
  tests/Cargo.toml
  tests/loader_v3_deploy/deploy_lifecycle.rs
  tests/loader_v3_deploy/main.rs
  tests/src/common/fixtures/loader-v3-deploy-test.toml
  tests/src/test_runner/test_cases.toml
Due: make-fmt

test(integration): add loader-v3 deploy lifecycle integration test + open up plugin-guarded ops (#459)
  Cargo.lock
  tests/Cargo.toml
  tests/loader_v3_deploy/deploy_lifecycle.rs
  tests/loader_v3_deploy/main.rs
  tests/src/common/fixtures/loader-v3-deploy-test.toml
  tests/src/test_runner/test_cases.toml
Due: make-fmt

chore: changes at example files
  .env.example
  signers.example.toml
Due: none

chore(devnet-paymaster): add smoke-test.sh
  Cargo.lock
  Cargo.toml
  examples/devnet-deploy-paymaster/Cargo.toml
  examples/devnet-deploy-paymaster/smoke-test.sh
  examples/devnet-deploy-paymaster/src/main.rs
Due: make-fmt

chore(devnet-paymaster): add smoke-test.sh (#460)
  Cargo.lock
  Cargo.toml
  examples/devnet-deploy-paymaster/Cargo.toml
  examples/devnet-deploy-paymaster/smoke-test.sh
  examples/devnet-deploy-paymaster/src/main.rs
Due: make-fmt

ci: gate doppler fetch for fork PRs
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
Due: none

ci: gate doppler fetch for fork PRs (#462)
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
Due: none

test(fee-payer-policy): add multisig co-signer bypass coverage
  tests/fee_payer_policy/fee_payer_policy_violations.rs
Due: make-fmt

fix(validator): enforce fee-payer policy for multisig co-signers
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
Due: make-fmt

fix(validator): enforce fee-payer policy for reallocate multisig co-signers
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
Due: make-fmt

fix(validator): enforce fee-payer policy for multisig co-signers (#456)
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
Due: make-fmt

feat: update keychain version
  Cargo.lock
  crates/lib/Cargo.toml
Due: none

chore: updated the comment
  crates/lib/src/signer/config.rs
Due: make-fmt

feat: make optional api base url
  crates/lib/src/signer/config.rs
  crates/lib/src/tests/config_mock.rs
  signers.example.toml
Due: make-fmt

chore: fmt
  crates/lib/src/signer/config.rs
Due: make-fmt

chore: add openfort to readme
  CLAUDE.md
  README.md
  sdks/ts/package.json
  sdks/ts/test/setup.ts
  tests/src/common/fixtures/signers-openfort.toml
  tests/src/test_runner/commands.rs
  tests/src/test_runner/output.rs
Due: make-fmt, make-format-ts-sdk

chore: fmt
  tests/src/test_runner/output.rs
Due: make-fmt

Support Openfort backend wallet signer (#461)
  .env.example
  CLAUDE.md
  Cargo.lock
  README.md
  crates/lib/Cargo.toml
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/tests/config_mock.rs
  sdks/ts/package.json
  sdks/ts/test/setup.ts
  signers.example.toml
  tests/src/common/fixtures/signers-openfort.toml
  tests/src/test_runner/commands.rs
  tests/src/test_runner/output.rs
Due: make-fmt, make-format-ts-sdk

feat(validator): add "*" wildcard sentinel for allowed_programs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
Due: make-fmt

fix: default shouldn't be wildcard, maintaining examples
  kora.toml
Due: none

fix(validator): only treat "*" as wildcard when it is the sole entry:
  crates/lib/src/config.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(transaction): support SyncNative in CPI inner instruction reconstruction
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

feat(validator): warn on cross-cluster mint mismatch
  crates/cli/src/main.rs
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
Due: make-fmt
