Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, just-format-ts-sdk

just-fmt:
  name: just fmt
  description: Format Rust code automatically
  entry: just fmt
  language: system
  pass_filenames: false

just-format-ts-sdk:
  name: just format-ts-sdk
  description: Format TypeScript SDK code
  entry: just format-ts-sdk
  language: system
  pass_filenames: false

feat(lighthouse): add fee payer protection for sign endpoints
  CLAUDE.md
  crates/lib/src/bundle/helper.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/lighthouse/mod.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
  tests/Cargo.toml
  tests/lighthouse/lighthouse_tests.rs
  tests/lighthouse/main.rs
  tests/src/common/fixtures/lighthouse-test.toml
  tests/src/common/fixtures/test-programs/lighthouse.so
  tests/src/test_runner/test_cases.toml
  tests/src/test_runner/validator.rs
Due: just-fmt

PR fixes
  crates/lib/src/bundle/helper.rs
  crates/lib/src/config.rs
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  tests/lighthouse/lighthouse_tests.rs
Due: just-fmt

feat(lighthouse): add fee payer protection for sign endpoints (#315)
  CLAUDE.md
  crates/lib/src/bundle/helper.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/lighthouse/mod.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
  tests/Cargo.toml
  tests/lighthouse/lighthouse_tests.rs
  tests/lighthouse/main.rs
  tests/src/common/fixtures/lighthouse-test.toml
  tests/src/common/fixtures/test-programs/lighthouse.so
  tests/src/test_runner/test_cases.toml
  tests/src/test_runner/validator.rs
Due: just-fmt

chore: release v2.2.0-beta.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

chore: release v2.2.0-beta.4 (#316)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

feat(sdk): add reCAPTCHA support to TypeScript client
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

feat(sdk): add reCAPTCHA support to TypeScript client (#317)
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

chore: bump ts beta release
  sdks/ts/package.json
Due: none

chore: bump ts beta release (#318)
  sdks/ts/package.json
Due: none

docs: update sdk readme for release (#314)
  sdks/ts/README.md
Due: none

hotfix: update example's dependencies
  examples/getting-started/demo/client/package.json
  examples/getting-started/demo/client/pnpm-lock.yaml
Due: none

refactor(oracle): migrate from jupiter lite API to v3 pro API
  crates/lib/src/constant.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/token/token.rs
  tests/external/jupiter_integration.rs
  tests/src/test_runner/commands.rs
  tests/src/test_runner/kora.rs
Due: just-fmt

ci: add JUPITER_API_KEY secret to integration tests
  .github/workflows/rust.yml
Due: none

Condition ci
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
Due: none

ci: add path-filter pattern to all workflows
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
Due: none

ci: remove path filters from all workflows
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
Due: none

pr fix
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/validator/config_validator.rs
Due: just-fmt

refactor(oracle): migrate from jupiter lite API to v3 pro API (#321)
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-unit.yml
  crates/lib/src/constant.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
  tests/external/jupiter_integration.rs
  tests/src/test_runner/commands.rs
  tests/src/test_runner/kora.rs
Due: just-fmt

chore: rename makefile commands to match standards
  .github/workflows/rust-unit.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  makefiles/BUILD.makefile
  makefiles/RUST_TESTS.makefile
  makefiles/TYPESCRIPT_TESTS.makefile
Due: none

Update Makefile
  Makefile
Due: none

Update makefiles/TYPESCRIPT_TESTS.makefile
  makefiles/TYPESCRIPT_TESTS.makefile
Due: none

chore: rename just commands to match standards
  CLAUDE.md
  README.md
  justfile
Due: none

Hotfix example packages (#323)
  examples/getting-started/demo/client/package.json
  examples/getting-started/demo/client/pnpm-lock.yaml
Due: none

chore: rename makefile commands to match standards (#324)
  .github/workflows/rust-unit.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  makefiles/BUILD.makefile
  makefiles/RUST_TESTS.makefile
  makefiles/TYPESCRIPT_TESTS.makefile
Due: none

chore: rename just commands to match standards (#325)
  CLAUDE.md
  README.md
  justfile
Due: none

refactor(oracle): migrate from jupiter lite API to v3 pro API (#321)
  .github/workflows/rust.yml
  .github/workflows/typescript-unit.yml
  crates/lib/src/constant.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
  tests/external/jupiter_integration.rs
  tests/src/test_runner/commands.rs
  tests/src/test_runner/kora.rs
Due: just-fmt

fix: sign if create ata ix found
  crates/cli/src/args.rs
  crates/lib/src/token/token.rs
Due: just-fmt

chore: update example
  examples/getting-started/demo/server/kora.toml
Due: none

feat: add Token2022 extension validation for ATA creation
  crates/lib/src/constant.rs
  crates/lib/src/token/token.rs
Due: just-fmt

fix(ci): add JUPITER_API_KEY env var to rust unit tests
  .github/workflows/rust-unit.yml
Due: none

fix: sign if create ata ix found (cherry-pick from #267) (#327)
  crates/cli/src/args.rs
  crates/lib/src/constant.rs
  crates/lib/src/token/token.rs
  examples/getting-started/demo/server/kora.toml
Due: just-fmt

fix(tests): handle JUPITER_API_KEY env var in unit tests
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/validator/config_validator.rs
Due: just-fmt

feat: add Claude skill for automated full release workflow
  .claude/skills/release.md
  .gitignore
  CLAUDE.md
Due: none

fix(tests): clear JUPITER_API_KEY env var in test_new_fails_without_api_key
  crates/lib/src/oracle/jupiter.rs
Due: just-fmt

fix(ci): add JUPITER_API_KEY env var to rust unit tests workflow
  .github/workflows/rust-unit.yml
Due: none

Cherry-pick: Hotfix example packages and Jupiter v3 API migration (#326)
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-unit.yml
  crates/lib/src/constant.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
  examples/getting-started/demo/client/package.json
  examples/getting-started/demo/client/pnpm-lock.yaml
  tests/external/jupiter_integration.rs
  tests/src/test_runner/commands.rs
  tests/src/test_runner/kora.rs
Due: just-fmt

fix(tests): clear JUPITER_API_KEY env var in jupiter oracle test (#329)
  .github/workflows/rust-unit.yml
  crates/lib/src/oracle/jupiter.rs
Due: just-fmt

Path conditions:
  just-fmt: any of: \.rs$
  just-format-ts-sdk: any of: \.(ts|mts|cts)$
