Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-lint
        name: make lint
        description: Lint Rust code automatically
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

chore: prettier
  sdks/ts/src/client.ts
  sdks/ts/src/index.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/auth-setup.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore(sdk): (PRO-184) test cleanup & prettier (#166)
  .pre-commit-config.yaml
  Makefile
  sdks/pnpm-lock.yaml
  sdks/ts/.prettierrc.json
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/index.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/auth-setup.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

tests(sdk): handle various signing strategies
  Makefile
  sdks/ts/package.json
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

fix: Privy Signer Initialization and Fee Payer Position
  crates/lib/src/signer/init.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

tests(sdk): handle various signing strategies (#167)
  Makefile
  sdks/ts/package.json
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

docs(signers)/Add guide for integrating new signers to Kora
  docs/contributors/ADDING_SIGNERS.md
Due: none

Create ADDING_SIGNERS.md
  docs/contributors/ADDING_SIGNERS.md
Due: none

chore(metrics): update metrics configuration and Docker setup
  .gitignore
  Makefile
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/metrics/bin/update-config.rs
  crates/lib/src/metrics/docker-compose.metrics.yml
  crates/lib/src/metrics/grafana/provisioning/datasources/datasources.yml
Due: make-lint

async function instead of thread block
  crates/cli/src/main.rs
  crates/lib/src/signer/init.rs
Due: make-lint

removed comment
  crates/lib/src/signer/init.rs
Due: make-lint

fix(signers):(PRO-204) Privy Signer Initialization and Fee Payer Position (#168)
  crates/cli/src/main.rs
  crates/lib/src/signer/init.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

feat(cli): add initialize-atas command for payment token ATAs & custom payment address for Paymaster
  crates/cli/src/main.rs
  crates/lib/src/admin/mod.rs
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/payment-address/initialize_atas_tests.rs
Due: make-lint

feat(config): implement global configuration management and hot-reloading
  crates/cli/src/main.rs
  crates/lib/src/admin/token_util.rs
  crates/lib/src/metrics/mod.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/get_supported_tokens.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/rpc_server/method/update_config.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/state.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/common/local-keys/fee-payer-local.json
  tests/common/local-keys/payment-local.json
  tests/common/local-keys/sender-local.json
  tests/common/local-keys/usdc-mint-local.json
Due: make-lint

Create ADDING_SIGNERS.md (#169)
  docs/contributors/ADDING_SIGNERS.md
Due: none

chore(docs): update start command
  docs/operators/MONITORING.md
Due: none

chore(metrics): update metrics configuration and Docker setup (#170)
  .gitignore
  Makefile
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/metrics/bin/update-config.rs
  crates/lib/src/metrics/docker-compose.metrics.yml
  crates/lib/src/metrics/grafana/provisioning/datasources/datasources.yml
  docs/operators/MONITORING.md
Due: make-lint

chore: update docs
  CLAUDE.md
  docs/contributors/ADDING_SIGNERS.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/server/kora.toml
  docs/operators/CONFIGURATION.md
  docs/operators/SIGNERS.md
  docs/operators/deploy/sample/kora.toml
Due: none

chore: fix TS integration test
  sdks/ts/test/integration.test.ts
Due: make-format-ts-sdk

Pr comment fixes
  .github/workflows/rust-publish.yml
  crates/cli/src/main.rs
  crates/lib/src/admin/token_util.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/ix_utils.rs
  crates/lib/src/transaction/mod.rs
  crates/lib/src/validator/config_validator.rs
  tests/payment-address/payment_address_tests.rs
Due: make-lint

added quiet output back
  makefiles/coverage.mk
  makefiles/tests_rs.mk
  makefiles/utils.mk
Due: none

chore: Update fee-payer key path in run target
  makefiles/rs.mk
Due: none

refactor: (PRO-213) Inner instruction support + refactor to have support of lookup tables and inner instructions across all of Kroa
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/ix_utils.rs
  crates/lib/src/transaction/mod.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/integration/compute_budget_integration_tests.rs
  tests/integration/rpc_integration_tests.rs
  tests/payment-address/payment_address_tests.rs
  tests/src/common/helpers.rs
Due: make-lint

Missing lint
  tests/integration/compute_budget_integration_tests.rs
Due: make-lint

Implemented resolve transaction for SPL transfers as well
  Cargo.lock
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  makefiles/tests_rs.mk
  tests/Cargo.toml
  tests/integration/token_integration_tests.rs
  tests/src/common/helpers.rs
Due: make-lint

refactor: (PRO-213) Inner instruction support + refactor to have support of lookup tables and inner instructions across all of Kora (#177)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/ix_utils.rs
  crates/lib/src/transaction/mod.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  makefiles/tests_rs.mk
  tests/Cargo.toml
  tests/integration/compute_budget_integration_tests.rs
  tests/integration/rpc_integration_tests.rs
  tests/integration/token_integration_tests.rs
  tests/payment-address/payment_address_tests.rs
  tests/src/common/helpers.rs
Due: make-lint

chore: Update fee-payer key path in run target (#176)
  makefiles/rs.mk
Due: none

feat: Implement payment instruction fee estimation and validation
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/integration/compute_budget_integration_tests.rs
  tests/integration/rpc_integration_tests.rs
  tests/src/common/helpers.rs
Due: make-lint

feat: Implement payment instruction fee estimation and validation (#178)
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/integration/compute_budget_integration_tests.rs
  tests/integration/rpc_integration_tests.rs
  tests/src/common/helpers.rs
Due: make-lint

feat: Token 2022 Improvements
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/mod.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

PR Comments
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

feat: (PRO-212) token 2022 improvements (#179)
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/mod.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

feat: (PRO-162) Implement Redis caching for account data
  Cargo.lock
  Cargo.toml
  crates/cli/src/main.rs
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  docker-compose.yml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint

PR Comment
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/account_validator.rs
Due: make-lint

feat: (PRO-162) Implement Redis caching for account data (#180)
  Cargo.lock
  Cargo.toml
  crates/cli/src/main.rs
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  docker-compose.yml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint

docs: update config docuemntation
  README.md
  docs/operators/CONFIGURATION.md
  docs/operators/README.md
Due: none

chore: fix TS CI
  .github/workflows/typescript-integration.yml
Due: none

chore: fix Rust CI
  .github/actions/setup-kora-rpc/action.yml
  .github/workflows/rust.yml
Due: none

chore: add CI test to Release branch pulls
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
Due: none
