Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-lint
        name: make lint
        description: Lint Rust code automatically
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

unit tests
  sdks/ts/src/client.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: add todo
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: update estimate txn fee response
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  tests/integration/rpc_integration_tests.rs
Due: make-lint

chore: update ts tests
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: remove unused methods
  sdks/ts/src/client.ts
Due: make-format-ts-sdk

chore: refactor TS CI (#191)
  sdks/ts/scripts/test-with-validator.js
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

Apply suggestion from @ellipsis-dev[bot]
  crates/lib/src/config.rs
Due: make-lint

RPC tests
  .gitignore
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
Due: make-lint

Transaction tests
  crates/lib/src/transaction/versioned_message.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

Signers external call tests
  crates/lib/src/signer/privy/signer.rs
  crates/lib/src/signer/turnkey/signer.rs
  crates/lib/src/signer/turnkey/types.rs
  crates/lib/src/signer/vault/vault_signer.rs
Due: make-lint

feat:(PRO-144) Add getPaymentInstruction SDK method (#192)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/integration/rpc_integration_tests.rs
Due: make-lint, make-format-ts-sdk

feat: allow any spl paid token flag
  crates/lib/src/config.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
  docs/getting-started/demo/server/kora.toml
  kora.toml
Due: make-lint

move spl paid token checks into a function, rebase, use mock rpc client
  crates/lib/src/cache.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

use mock rpc client
  crates/lib/src/validator/config_validator.rs
Due: make-lint

switch to enum in allowed_spl_paid_tokens
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
Due: make-lint

remove unused option from demo config
  docs/getting-started/demo/server/kora.toml
Due: none

rebase
  crates/lib/src/config.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

Tokens Tests
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/redis_cache_mock.rs
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
Due: make-lint

Rust CI update
  .github/workflows/rust.yml
Due: none

CI pr fix
  .github/workflows/rust.yml
Due: none

Config tests
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

Some cleanup for testing utils
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/redis_cache_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/account_validator.rs
Due: make-lint

docs: add getPaymentInstruction to TS SDK
  sdks/ts/docs/README.md
Due: none

docs: update CONFIGURATION.md
  docs/operators/CONFIGURATION.md
Due: none

docs: update Quick Start Guide
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/server/signers.toml
Due: none

docs: update MONITORING.md
  docs/operators/MONITORING.md
Due: none

docs: update SIGNERS.md
  docs/operators/SIGNERS.md
Due: none

docs: update CLAUDE.md
  CLAUDE.md
Due: none

docs:(PRO-237) release punchlist (#193)
  CLAUDE.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/server/signers.toml
  docs/operators/CONFIGURATION.md
  docs/operators/MONITORING.md
  docs/operators/SIGNERS.md
  sdks/ts/docs/README.md
Due: none

fix: resolve lookup table addresses in fee estimation
  crates/lib/src/transaction/fees.rs
Due: make-lint

docs: add CLI docs and update existing docs
  CLAUDE.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/server/kora.toml
  docs/operators/CLI.md
  docs/operators/CONFIGURATION.md
  docs/operators/README.md
  docs/operators/deploy/RAILWAY.md
  docs/operators/deploy/sample/Dockerfile
  docs/operators/deploy/sample/kora.toml
  docs/operators/deploy/sample/signers.toml
  kora.toml
Due: none

PR Comments
  crates/lib/src/metrics/balance.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/get_supported_tokens.rs
  crates/lib/src/signer/memory_signer/solana_signer.rs
  crates/lib/src/signer/privy/signer.rs
  crates/lib/src/token/token.rs
Due: make-lint

docs: add CLI docs and update existing docs (#195)
  CLAUDE.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/server/kora.toml
  docs/operators/CLI.md
  docs/operators/CONFIGURATION.md
  docs/operators/README.md
  docs/operators/deploy/RAILWAY.md
  docs/operators/deploy/sample/Dockerfile
  docs/operators/deploy/sample/kora.toml
  docs/operators/deploy/sample/signers.toml
  kora.toml
Due: none

wip
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/client/package.json
  docs/getting-started/demo/client/src/full-demo.ts
  docs/getting-started/demo/client/src/helpers.ts
  docs/getting-started/demo/client/src/quick-start.ts
  docs/getting-started/demo/client/src/setup.ts
  docs/getting-started/demo/server/kora.toml
Due: make-format-ts-sdk

feat/add client base64 message instruction parsing
  sdks/ts/README.md
  sdks/ts/examples/basic-usage.ts
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/src/utils/transaction.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: Make instructions field always present in TransferTransactionResponse
  sdks/ts/examples/basic-usage.ts
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: update typedocs
  sdks/ts/docs/README.md
Due: none

docs: remove console logs from example
  sdks/ts/examples/basic-usage.ts
Due: make-format-ts-sdk

feat:(PRO-246) Enhance TypeScript SDK with auto instruction parsing from b64 messages (#196)
  sdks/ts/README.md
  sdks/ts/docs/README.md
  sdks/ts/examples/basic-usage.ts
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/src/utils/transaction.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk
