Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

fix(fee): account for alt close outflow
  crates/lib/src/fee/fee.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(signer): separate probe reservation from selection (#442)
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/bundle_signer.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix(fee): account for alt close outflow (#445)
  crates/lib/src/fee/fee.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

refactor(validator): macroize token2022 checks
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

refactor(validator): rename transfer hook policy guard
  crates/lib/src/bundle/helper.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(security): harden Token-2022 extension catch-all and parse failures (#434)
  crates/lib/src/bundle/helper.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(token2022): classify transfercheckedwithfee as transfer
  crates/lib/src/fee/fee.rs
  crates/lib/src/transaction/instruction_util.rs
  tests/free_signing/free_signing_tests.rs
Due: make-fmt

refactor(token2022): rename unhandled extension helper
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix(token2022): classify transfercheckedwithfee as transfer (#446)
  crates/lib/src/fee/fee.rs
  crates/lib/src/transaction/instruction_util.rs
  tests/free_signing/free_signing_tests.rs
Due: make-fmt

fix(token2022): validate extension security metadata
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/transaction/mod.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(token2022): restore defaults and clarify security metadata
  crates/lib/src/config.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(token2022): validate extension security metadata (#447)
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/transaction/mod.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

feat(validator): add loader-v4 fee-payer policy for program deployment
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/rules/instruction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

feat(validator): add loader-v4 config warnings and Copy test
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

refactor(validator): drop unused \$self arg from validate_alt!/validate_loader_v4!
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

refactor(config): trim LoaderV4InstructionPolicy doc comments
  crates/lib/src/config.rs
Due: make-fmt

test(fixture): add loader-v4 to fee-payer-policy-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
Due: none

fix(validator): reject loader-v4 TransferAuthority assigning authority to fee payer
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(usage_limit): count loader-v4 instructions only when Kora is authority
  crates/lib/src/usage_limit/rules/instruction.rs
Due: make-fmt

fix(openapi): resolve dangling component refs in combined_api.json
  crates/lib/src/config.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
Due: make-fmt

refactor(config_validator): drop BPF Loader Upgradeable from high-risk warnings
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

feat(validator): add loader-v4 fee-payer policy for program deployment (#449)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/rules/instruction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/src/common/fixtures/fee-payer-policy-test.toml
Due: make-fmt

chore(ts-sdk): bump kit to 6.8 and plugins to 0.10
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/kit/index.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

feat(ts-sdk): add kora() bundle plugin; deprecate createKitKoraClient
  sdks/ts/src/index.ts
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/kit-client.test.ts
Due: make-format-ts-sdk

feat(plugin): add DeployAuthority plugin for devnet-deploy paymasters
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/plugin/mod.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/usage_limit/config.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
  examples/devnet-deploy-paymaster/Dockerfile
  examples/devnet-deploy-paymaster/kora.toml
  examples/devnet-deploy-paymaster/signers.toml
Due: make-fmt

feat(plugin): add DeployAuthority plugin for devnet-deploy paymasters (#451)
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/plugin/mod.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/usage_limit/config.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
  examples/devnet-deploy-paymaster/Dockerfile
  examples/devnet-deploy-paymaster/kora.toml
  examples/devnet-deploy-paymaster/signers.toml
Due: make-fmt

chore: loris feedback
  sdks/ts/package.json
  sdks/ts/src/kit/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/kit-client.test.ts
Due: make-format-ts-sdk

chore: add integration test
  sdks/ts/test/integration.test.ts
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
Due: make-format-ts-sdk

chore(ts-sdk): bump kit to 6.8 and plugins to 0.10 (#450)
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/index.ts
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/kit-client.test.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/setup.ts
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
Due: make-format-ts-sdk

fix(validator): allow empty allowed_tokens when price model is Free
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

chore(example): build devnet-deploy-paymaster from git on nightly rust
  examples/devnet-deploy-paymaster/Dockerfile
Due: none

fix(validator): allow empty allowed_tokens under Free pricing + unblock devnet-deploy-paymaster example (#452)
  crates/lib/src/validator/config_validator.rs
  examples/devnet-deploy-paymaster/Dockerfile
Due: make-fmt

feat(validator): add BPF Loader Upgradeable (loader-v3) policy + plugin coverage
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/rules/instruction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
  examples/devnet-deploy-paymaster/kora.toml
Due: make-fmt

review fixups: spill/recipient policy gate + ops recipe + comment cleanup
  crates/lib/src/validator/transaction_validator.rs
  examples/devnet-deploy-paymaster/kora.toml
  justfile
Due: make-fmt

fix(test): serialize state test that mutates GLOBAL_CONFIG/GLOBAL_SIGNER_POOL
  crates/lib/src/state.rs
Due: make-fmt

chore(ci): bump extractions/setup-just to v4 with pinned just-version
  .github/workflows/build-rust.yml
  .github/workflows/fork-external-live-manual.yml
  .github/workflows/rust-unit.yml
Due: none

chore(ci): install just by direct curl, drop extractions/setup-just dependency
  .github/workflows/build-rust.yml
  .github/workflows/fork-external-live-manual.yml
  .github/workflows/rust-unit.yml
Due: none

fix(security): close ExtendProgramChecked policy bypass + add v3 startup warnings
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/usage_limit/rules/instruction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix: cover every v3 flag in plugin warning + filter usage limit by v3 authority
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/usage_limit/rules/instruction.rs
Due: make-fmt

Revert "chore(ci): install just by direct curl, drop extractions/setup-just dependency"
  .github/workflows/build-rust.yml
  .github/workflows/fork-external-live-manual.yml
  .github/workflows/rust-unit.yml
Due: none

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
