Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

make-lint:
  name: make lint
  description: Lint Rust code automatically
  entry: make lint
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

PR comments
  tests/payment_address/payment_address_v0_lut_tests.rs
  tests/rpc/compute_budget.rs
  tests/rpc/fee_estimation.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/assertions.rs
  tests/src/common/lookup_tables.rs
Due: make-lint

PR comments part 2
  .github/workflows/rust.yml
  tests/payment_address/payment_address_legacy_tests.rs
  tests/payment_address/payment_address_v0_lut_tests.rs
  tests/payment_address/payment_address_v0_tests.rs
  tests/rpc/compute_budget.rs
  tests/rpc/fee_estimation.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/constants.rs
Due: make-lint

CI
  .github/workflows/rust.yml
Due: none

ci3
  .github/workflows/rust.yml
  makefiles/RUST_TESTS.makefile
  makefiles/UTILS.makefile
Due: none

ci4
  makefiles/TYPESCRIPT_TESTS.makefile
  sdks/ts/test/integration.test.ts
Due: make-format-ts-sdk

revert to ci
  .github/workflows/rust.yml
  sdks/ts/test/integration.test.ts
Due: make-format-ts-sdk

docs/draft client flow guide
  docs/getting-started/FULL_DEMO.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/client/package.json
  docs/getting-started/demo/client/pnpm-lock.yaml
  docs/getting-started/demo/client/src/full-demo.ts
  docs/getting-started/demo/client/src/helpers.ts
  docs/getting-started/demo/client/src/setup.ts
  docs/getting-started/demo/server/kora.toml
Due: make-format-ts-sdk

Update docs/getting-started/demo/client/src/full-demo.ts
  docs/getting-started/demo/client/src/full-demo.ts
Due: make-format-ts-sdk

feat: (PRO-231): add get_signer_payer method (#188)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
  docs/operators/SIGNERS.md
  sdks/ts/README.md
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/integration/rpc_integration_tests.rs
  tests/multi-signers/multi_signer_tests.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint, make-format-ts-sdk

chore(metrics): update metrics configuration and Docker setup (#170)
  .gitignore
  Makefile
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/metrics/bin/update-config.rs
  crates/lib/src/metrics/docker-compose.metrics.yml
  crates/lib/src/metrics/grafana/provisioning/datasources/datasources.yml
  docs/operators/MONITORING.md
Due: make-lint

chore: run typedocs (#189)
  sdks/ts/docs/README.md
Due: none

feat: (PRO-149) (PRO-153) Improve process transfer transaction, so that if the ATA doesn't exists, we can process with the Mint for TransferChecked (#157)
  Makefile
  crates/cli/src/main.rs
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  openapi.json
  tests/testing-utils/fixtures/kora-test.toml
  tests/token_integration_tests.rs
Due: make-lint

feat: (PRO-212) token 2022 improvements (#179)
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/mod.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

feat(metrics): add metrics collection and monitoring for Kora RPC (PRO-61) (#161)
  .dockerignore
  .env.example
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/metrics/README.md
  crates/lib/src/metrics/bin/update-config.rs
  crates/lib/src/metrics/docker-compose.metrics.yml
  crates/lib/src/metrics/grafana/provisioning/dashboards/dashboards.yml
  crates/lib/src/metrics/grafana/provisioning/dashboards/kora-metrics.json
  crates/lib/src/metrics/grafana/provisioning/datasources/prometheus.yml
  crates/lib/src/metrics/handler.rs
  crates/lib/src/metrics/middleware.rs
  crates/lib/src/metrics/mod.rs
  crates/lib/src/metrics/prometheus.yml
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/args.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/middleware_utils.rs
  crates/lib/src/rpc_server/mod.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
  docker-compose.yml
  docs/operators/CONFIGURATION.md
  docs/operators/MONITORING.md
  docs/operators/README.md
  kora.toml
Due: make-lint

docs(sdk): (PRO-75) add TypeDoc auto-documentation (and PRO-148) (#149)
  .gitignore
  sdks/pnpm-lock.yaml
  sdks/ts/docs/README.md
  sdks/ts/package.json
  sdks/ts/scripts/add-toc.js
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  sdks/ts/typedoc.html.json
  sdks/ts/typedoc.json
Due: make-format-ts-sdk

docs:(PRO-220) update config docs (redis & spl22) (#181)
  README.md
  docs/operators/CONFIGURATION.md
  docs/operators/README.md
Due: none

docs(quickstart): update guide (PRO-154) (#160)
  Makefile
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/client/package.json
  docs/getting-started/demo/client/pnpm-lock.yaml
  docs/getting-started/demo/client/src/client.ts
  docs/getting-started/demo/client/src/main.ts
  docs/getting-started/demo/client/src/types.ts
  docs/getting-started/demo/server/kora.toml
  sdks/ts/package.json
Due: make-format-ts-sdk

feat: Implement payment instruction fee estimation and validation (#178)
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/integration/compute_budget_integration_tests.rs
  tests/integration/rpc_integration_tests.rs
  tests/src/common/helpers.rs
Due: make-lint

refactor: (PRO-213) Inner instruction support + refactor to have support of lookup tables and inner instructions across all of Kora (#177)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/ix_utils.rs
  crates/lib/src/transaction/mod.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  makefiles/tests_rs.mk
  tests/Cargo.toml
  tests/integration/compute_budget_integration_tests.rs
  tests/integration/rpc_integration_tests.rs
  tests/integration/token_integration_tests.rs
  tests/payment-address/payment_address_tests.rs
  tests/src/common/helpers.rs
Due: make-lint

chore: update signer documentation (#187)
  docs/getting-started/QUICK_START.md
  docs/operators/README.md
  docs/operators/SIGNERS.md
  sdks/ts/src/types/index.ts
Due: make-format-ts-sdk

chore(sdk): (PRO-184) test cleanup & prettier (#166)
  .pre-commit-config.yaml
  Makefile
  sdks/pnpm-lock.yaml
  sdks/ts/.prettierrc.json
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/index.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/auth-setup.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: add Codecov configuration and coverage reporting for Rust and TypeScript (#158)
  .github/workflows/coverage.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-unit.yml
  README.md
  sdks/ts/jest.config.ts
Due: make-format-ts-sdk

feat: (PRO-162) Implement Redis caching for account data (#180)
  Cargo.lock
  Cargo.toml
  crates/cli/src/main.rs
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  docker-compose.yml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint

chore: Switch OpenAPI validation to Redocly CLI (#163)
  crates/lib/src/rpc_server/openapi/docs.rs
Due: make-lint

feat:(PRO-144) Add getPaymentInstruction SDK method (#192)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/integration/rpc_integration_tests.rs
Due: make-lint, make-format-ts-sdk

feat:(PRO-246) Enhance TypeScript SDK with auto instruction parsing from b64 messages (#196)
  sdks/ts/README.md
  sdks/ts/docs/README.md
  sdks/ts/examples/basic-usage.ts
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/src/utils/transaction.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore: Update fee-payer key path in run target (#176)
  makefiles/rs.mk
Due: none

docs:(PRO-237) release punchlist (#193)
  CLAUDE.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/demo/server/signers.toml
  docs/operators/CONFIGURATION.md
  docs/operators/MONITORING.md
  docs/operators/SIGNERS.md
  sdks/ts/docs/README.md
Due: none

tests(sdk): add hmac/api testing (#162)
  .github/workflows/typescript-integration.yml
  Makefile
  sdks/ts/package.json
  sdks/ts/test/auth-setup.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

chore(github action): update pre-commit configuration and add development documentation (#131)
  .github/workflows/kora-cli-publish.yml
  .github/workflows/kora-lib-publish.yml
  .github/workflows/kora-privy-publish.yml
  .github/workflows/kora-rpc-publish.yml
  .github/workflows/kora-turnkey-publish.yml
  .github/workflows/rust-publish.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Cargo.lock
  DEVELOPMENT.md
Due: none

chore: refactor TS CI (#191)
  sdks/ts/scripts/test-with-validator.js
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

Path conditions:
  make-lint: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
