Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, just-format-ts-sdk

just-fmt:
  name: just fmt
  description: Format Rust code automatically
  entry: just fmt
  language: system
  pass_filenames: false

just-format-ts-sdk:
  name: just format-ts-sdk
  description: Format TypeScript SDK code
  entry: just format-ts-sdk
  language: system
  pass_filenames: false

feat: Add getVersion RPC method to server and SDK (#284)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_version.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: just-fmt, just-format-ts-sdk

Deprecate transfer transaction and remove signing of transaction for security
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/multi_signer/signer_management.rs
  tests/rpc/transfers.rs
  tests/tokens/token_2022_test.rs
Due: just-fmt, just-format-ts-sdk

Added back in TS
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
Due: just-format-ts-sdk

fix ts test
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

feat: Changed transfer_transaction endpoint to actually return paymen… (#286)
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/multi_signer/signer_management.rs
  tests/rpc/transfers.rs
  tests/tokens/token_2022_test.rs
Due: just-fmt, just-format-ts-sdk

fix: use fresh wallet to exercise ata creation in full demo (#275)
  examples/getting-started/demo/client/src/full-demo.ts
Due: just-format-ts-sdk

docs: add branch migration notice
  README.md
Due: none

chore: Update CLAUDE.md and Justfile for branch workflow guidance
  CLAUDE.md
  justfile
Due: none

docs: add deploy sample & cleanup (#265)
  .env.example
  CLAUDE.md
  crates/lib/src/metrics/README.md
  examples/README.md
  examples/deploy/Dockerfile
  examples/deploy/kora.toml
  examples/deploy/signers.toml
  examples/getting-started/README.md
  examples/getting-started/demo/client/package.json
  examples/getting-started/demo/client/pnpm-lock.yaml
  examples/getting-started/demo/client/src/full-demo.ts
  examples/getting-started/demo/client/src/quick-start.ts
  examples/getting-started/demo/client/src/setup.ts
  examples/getting-started/demo/client/tsconfig.json
  examples/getting-started/demo/server/kora.toml
  examples/getting-started/demo/server/signers.toml
  examples/x402/demo/.env.example
  examples/x402/demo/README.md
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/api/src/api.ts
  examples/x402/demo/assets/x402-protocol-flow.png
  examples/x402/demo/client/package.json
  examples/x402/demo/client/pnpm-lock.yaml
  examples/x402/demo/client/src/index.ts
  examples/x402/demo/client/src/setup.ts
  examples/x402/demo/client/tsconfig.json
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/src/facilitator.ts
  examples/x402/demo/kora/kora.toml
  examples/x402/demo/kora/signers.toml
  examples/x402/demo/package.json
Due: just-format-ts-sdk

chore: bump ts sdk deps (#282)
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/setup.ts
Due: just-format-ts-sdk

chore: Update private key env variable in signers config (#281)
  examples/x402/demo/kora/signers.toml
Due: none

docs: update x402 guide to x402 v2 spec (#272)
  examples/x402/demo/.env.example
  examples/x402/demo/README.md
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/api/src/api.ts
  examples/x402/demo/assets/x402-protocol-flow.png
  examples/x402/demo/client/package.json
  examples/x402/demo/client/pnpm-lock.yaml
  examples/x402/demo/client/src/index.ts
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/src/facilitator.ts
  examples/x402/demo/package.json
Due: just-format-ts-sdk

fix: update readme url to docs (#269)
  README.md
Due: none

chore: Update audit report to the final version (typos, etc.) (#268)
  audits/20251119_runtime-verification.pdf
Due: none

fix: sign if create ata ix found (#267)
  crates/lib/src/constant.rs
  crates/lib/src/token/token.rs
  examples/getting-started/demo/server/kora.toml
Due: just-fmt

chore: update devnet usdc mock (#266)
  crates/cli/src/args.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/oracle/utils.rs
  crates/lib/src/token/token.rs
Due: just-fmt

refactor: limit access to config's singleton (#263)
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/cache_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: just-fmt

fix(rpc): add missing signature field to SignAndSendTransactionResponse (#270)
  .github/workflows/typescript-unit.yml
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: just-fmt, just-format-ts-sdk

chore: Idempotent CI fixes
  .github/workflows/rust-publish.yml
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

chore: migrate from Makefile to Just for build and development commands (#271)
  .github/workflows/build-rust.yml
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  crates/lib/src/metrics/README.md
  justfile
  makefiles/BUILD.makefile
  makefiles/CLIENT.makefile
  makefiles/COVERAGE.makefile
  makefiles/DOCUMENTATION.makefile
  makefiles/METRICS.makefile
  makefiles/RELEASE.makefile
  makefiles/RUST_TESTS.makefile
  makefiles/TYPESCRIPT_TESTS.makefile
  makefiles/UTILS.makefile
Due: none

feat: enhance rust-publish workflow with separate publish options for kora-lib and kora-cli
  .github/workflows/rust-publish.yml
Due: none

bugfix: version for kora lib to enable release github action
  Cargo.toml
  crates/cli/Cargo.toml
  justfile
Due: none

chore: Idempotent CI fixes
  .github/workflows/rust-publish.yml
Due: none

fix(usage-limit): resolve race condition in usage tracker (#273)
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
Due: just-fmt

[CHORE] Fix TS package deploy + justfile for hotfix (#285)
  .github/workflows/ts-sdk-publish-manual.yml
  .github/workflows/ts-sdk-publish.yml
  justfile
Due: none

feat: add prerelease detection for Rust and TypeScript SDK workflows & pre-release beta publish (#283)
  .github/workflows/rust-publish.yml
  .github/workflows/ts-sdk-publish-manual.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  justfile
  sdks/ts/package.json
Due: none

chore: Update CLAUDE.md and Justfile for branch workflow guidance (#289)
  CLAUDE.md
  justfile
Due: none

feat: Add Jito bundle support with sign and send methods
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/jito/client.rs
  crates/lib/src/jito/mod.rs
  crates/lib/src/jito/tip.rs
  crates/lib/src/jito/types.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
Due: just-fmt

feat: Add Jito Bundle to TS SDK
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

style: fix clippy lints and optimize collection handling
  crates/lib/src/signer/pool.rs
  crates/lib/src/token/token.rs
Due: just-fmt

refactor: address reviewer feedback and strictly cleanup logic
  crates/lib/src/config.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/cache_validator.rs
  crates/lib/src/validator/config_validator.rs
  tests/src/common/extension_helpers.rs
Due: just-fmt

refactor: address maintainer feedback on validation and failover
  crates/lib/src/config.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/cache_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/signer_validator.rs
  tests/src/common/extension_helpers.rs
Due: just-fmt

Path conditions:
  just-fmt: any of: \.rs$
  just-format-ts-sdk: any of: \.(ts|mts|cts)$
