Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt
        description: Format and lint Rust code automatically
        entry: make fmt
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

fix(tests): drop two orphaned doc comments
  tests/src/common/constants.rs
Due: make-fmt

test: harden the harness config write and readiness probe
  tests/src/common/harness.rs
Due: make-fmt

ci(rust): cache the integration test dependency graph
  .github/workflows/build-rust.yml
Due: none

feat(rpc): report whether signTransaction appended a Lighthouse assertion
  .claude/skills/kora-client/references/guides.md
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/versioned_transaction.rs
  openapi.json
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
  tests/lighthouse/lighthouse_tests.rs
  tests/rpc/transaction_signing.rs
Due: make-fmt, make-format-ts-sdk

docs(rpc): describe lighthouse_assertion_added narrowly
  .claude/skills/kora-client/references/guides.md
  crates/lib/src/rpc_server/method/sign_transaction.rs
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

feat(rpc): support multiple API keys with backward-compatible config
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/args.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/tests/usage_limiter_mock.rs
  crates/lib/src/validator/config_validator.rs
  examples/getting-started/demo/server/kora.toml
  examples/jito-bundles/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
Due: make-fmt

test: Token-2022 fee-payer drain property coverage
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/mod.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/token_2022.rs
Due: make-fmt

refactor(auth): cache key hashes in new(), drop unused test mock and dead-code warning
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/tests/usage_limiter_mock.rs
Due: make-fmt

chore(tests): drop env plumbing the harness made redundant
  .env.example
  Cargo.lock
  tests/Cargo.toml
  tests/src/common/harness.rs
  tests/src/common/helpers.rs
  tests/src/common/lookup_tables.rs
Due: make-fmt

test: add Token-2022 WithdrawExcessLamports fee-payer drain role
  _pr_meta.json
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/token_2022.rs
Due: make-fmt

test: delete unreachable assertion and keypair helpers
  tests/src/common/assertions.rs
  tests/src/common/auth_helpers.rs
  tests/src/common/client.rs
  tests/src/common/constants.rs
  tests/src/common/helpers.rs
Due: make-fmt

test(ts): run the typescript suite on the embedded surfnet
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-publish.yml
  .github/workflows/typescript-unit.yml
  sdks/pnpm-lock.yaml
  sdks/ts/README.md
  sdks/ts/package.json
  sdks/ts/test/setup.ts
  tests/Cargo.toml
  tests/src/common/harness.rs
  tests/typescript/runner.rs
  tests/typescript_auth/main.rs
  tests/typescript_basic/main.rs
  tests/typescript_free/main.rs
Due: make-fmt, make-format-ts-sdk

ci: run the typescript flavors from the rust matrix
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
Due: none

ci: set least-privilege GITHUB_TOKEN permissions
  .github/workflows/build-rust.yml
  .github/workflows/pr-target-check.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
Due: none

ci: share one integration phase action between both suites
  .github/actions/integration-phase/action.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-publish.yml
Due: none

ci: trigger the suites that share the phase action, and pin the token
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
Due: none

ci: orchestrate both integration suites from one parent
  .github/workflows/integration.yml
  .github/workflows/rust-integration.yml
  .github/workflows/typescript-integration.yml
  README.md
Due: none

ci: set least-privilege GITHUB_TOKEN permissions (#676)
  .github/workflows/build-rust.yml
  .github/workflows/pr-target-check.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
Due: none

fix: address maintainer review comments on RPC failover (#662)
  crates/cli/src/args.rs
  crates/cli/src/main.rs
  crates/lib/src/error.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc.rs
  crates/lib/src/rpc_failover.rs
  crates/lib/src/rpc_failover_wrapper.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
Due: make-fmt

chore(kora-deploy): add mockito dev-dependency for HTTP-level test mocking
  Cargo.lock
  crates/kora-deploy/Cargo.toml
Due: none

test(kora-deploy): add RPC and Kora HTTP mock helpers for orchestration tests
  crates/kora-deploy/src/lib.rs
  crates/kora-deploy/src/tests/kora_mock.rs
  crates/kora-deploy/src/tests/mod.rs
  crates/kora-deploy/src/tests/rpc_mock.rs
Due: make-fmt

test(kora-deploy): cover load_or_init_state fresh-init and save-failure cleanup paths
  crates/kora-deploy/src/lib.rs
Due: make-fmt

test(kora-deploy): cover write_chunks happy path and mid-chunk failure with cleanup
  crates/kora-deploy/src/lib.rs
Due: make-fmt

test(kora-deploy): cover finalize_deploy is_already_live, submit-success, and submit-failure paths
  crates/kora-deploy/src/lib.rs
Due: make-fmt

test(kora-deploy): cover validate_state cleanup_buffer firing on hash mismatch and chunk overflow
  crates/kora-deploy/src/lib.rs
Due: make-fmt

feat(rpc): support multiple `API` keys (#663)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/args.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  examples/getting-started/demo/server/kora.toml
  examples/jito-bundles/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
Due: make-fmt

chore: drop the contributor canary word from the agent instructions
  .github/workflows/pr-hygiene.yml
  AGENTS.md
  CLAUDE.md
Due: none

ci: gate pull requests on an accepted issue and signed commits
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-hygiene.yml
  CONTRIBUTING.md
Due: none

ci: gate pull requests on an accepted issue and signed commits (#678)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-hygiene.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

feat(metrics): add RejectionReason enum and http_rejections_total counter
  crates/lib/src/metrics/middleware.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/recaptcha_util.rs
Due: make-fmt

feat: change config value name
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
Due: make-fmt

test: Token-2022 fee-payer drain property coverage
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/mod.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/token_2022.rs
Due: make-fmt

feat: fix review comments
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

feat: add fee_payer_allowed_programs config parameter
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
Due: make-fmt

refactor: remove dead test helpers and redundant tests
  crates/lib/src/error.rs
  crates/lib/src/lib.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/transaction/versioned_transaction.rs
  sdks/ts/src/utils/transaction.ts
  sdks/ts/test/unit.test.ts
  tests/external/jito_integration.rs
Due: make-fmt, make-format-ts-sdk

feat(deploy): send deployer and reaper transactions as tx v1
  Cargo.lock
  crates/kora-deploy/Cargo.toml
  crates/kora-deploy/src/lib.rs
  crates/kora-deploy/src/state.rs
  examples/devnet-deploy-paymaster/src/reaper/closer.rs
Due: make-fmt

refactor(deploy): take v1 resource limits from solana-compute-budget
  Cargo.lock
  crates/kora-deploy/Cargo.toml
  crates/kora-deploy/src/lib.rs
Due: make-fmt

refactor(deploy): move the devnet smoke suite to tx v1
  Cargo.lock
  crates/kora-deploy/src/lib.rs
  examples/devnet-deploy-paymaster/Cargo.toml
  examples/devnet-deploy-paymaster/kora.toml
  examples/devnet-deploy-paymaster/src/suite/adversarial.rs
  examples/devnet-deploy-paymaster/src/suite/harness.rs
Due: make-fmt
