Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

chore(docs): align claude guidance with mainline flow
  .claude/skills/cherry-pick-sync/SKILL.md
  .claude/skills/release.md
  .github/workflows/pr-target-check.yml
  CLAUDE.md
Due: none

chore(claude): remove deprecated cherry-pick-sync skill
  .claude/skills/cherry-pick-sync/SKILL.md
Due: none

chore(mainline): remove release branch workflow references
  .github/workflows/pr-target-check.yml
  CLAUDE.md
  CONTRIBUTING.md
  audits/AUDIT_STATUS.md
  justfile
Due: none

chore(mainline): enforce release workflow guards
  .github/workflows/docker-publish.yml
  .github/workflows/pr-target-check.yml
  .github/workflows/rust-publish.yml
  .github/workflows/typescript-publish.yml
  justfile
Due: none

chore: cut over to mainline audit/tag branch model (#391)
  .claude/skills/cherry-pick-sync/SKILL.md
  .claude/skills/release.md
  .github/workflows/docker-publish.yml
  .github/workflows/fork-live-gate.yml
  .github/workflows/pr-target-check.yml
  .github/workflows/rust-publish.yml
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  .github/workflows/typescript-publish.yml
  .github/workflows/typescript-unit.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  audits/AUDIT_STATUS.md
  justfile
Due: none

fix(bundle): send full merged bundle to Jito in signAndSendBundle
  crates/lib/src/bundle/jito/client.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
Due: make-fmt

fix(lighthouse): maintain readonly header when appending assertion
  crates/lib/src/lighthouse/assertion.rs
Due: make-fmt

fix(tests): make transfer-hook mint setup idempotent
  tests/src/common/extension_helpers.rs
Due: make-fmt

feat(parsing): add new_account field to SystemCreateAccount instruction
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

feat(fee): detect ATA program instructions directly for dynamic_ata_deduction
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(fee): deduplicate ATA creation instructions to prevent fee evasion
  crates/lib/src/fee/fee.rs
Due: make-fmt

fix(fee): verify fee payer is ATA creation payer before applying deduction
  crates/lib/src/fee/fee.rs
Due: make-fmt

feat: Deduct dynamic ATA creation rent only if a corresponding SystemCreateAccount instruction is present in the transaction.
  crates/lib/src/fee/fee.rs
Due: make-fmt

fix(fee): tighten dynamic_ata_deduction to payment mint and verify rent via SystemCreateAccount
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/rpc_mock.rs
Due: make-fmt

fix(fee): harden dynamic_ata_deduction against security edge cases
  crates/lib/src/fee/fee.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix(fee): address PR review issues in dynamic_ata_deduction
  crates/lib/src/fee/fee.rs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix(lib): handle CPI-only accounts in inner instruction reconstruction
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix(core): fail closed inner instruction reconstruction and stabilize tests
  .gitignore
  crates/lib/src/admin/token_util.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
  tests/rpc/fee_estimation.rs
  tests/src/bin/test_runner.rs
  tests/src/common/constants.rs
  tests/src/common/setup.rs
Due: make-fmt, make-format-ts-sdk

perf(fee): replace O(n×m) find_map with O(1) HashMap in deduct_operator_ata_rent
  crates/lib/src/fee/fee.rs
Due: make-fmt

refactor(token2022): unify extension parsing for snake and camel case
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

test: restore default recipient address in test defaults
  sdks/ts/test/setup.ts
  tests/src/common/constants.rs
Due: make-fmt, make-format-ts-sdk

fix(lib): address CPI reconstruction review edge cases
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix(lib): fail closed on inner instruction reconstruction errors
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix(lib): sanitize transaction error details
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix(lib): handle token account size CPI parsing
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(lib): cache CPI reconstruction account indexes
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix: stabilize bundle, lighthouse header, and transfer-hook tests (#392)
  crates/lib/src/bundle/jito/client.rs
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  tests/src/common/extension_helpers.rs
Due: make-fmt

fix(transaction): persist extended account keys after CPI reconstruction
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix(lib): harden CPI inner-instruction reconstruction edge cases (#394)
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

refactor(fee): simplify dynamic_ata_deduction with on-chain existence check
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

feat(kora)!: add gas_swap transaction plugin infrastructure
  .gitignore
  crates/lib/src/bundle/helper.rs
  crates/lib/src/config.rs
  crates/lib/src/mod.rs
  crates/lib/src/plugin/mod.rs
  crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
  tests/src/common/fixtures/kora-test.toml
Due: make-fmt

fix(plugin): address PR #383 review comments on gas_swap plugin
  crates/lib/src/plugin/mod.rs
  crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/validator/config_validator.rs
  tests/src/common/fixtures/gas-swap-plugin-test.toml
Due: make-fmt

refactor(plugin): move config validation into TransactionPlugin trait
  crates/lib/src/plugin/mod.rs
  crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(test): use iter().any() instead of to_string() on Vec<String> errors
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

chore: add release/complete-release skills and CODEOWNERS
  .claude/skills/complete-release/SKILL.md
  .claude/skills/release.md
  .claude/skills/release/SKILL.md
  .github/CODEOWNERS
Due: none

chore: add release/complete-release skills and CODEOWNERS (#395)
  .claude/skills/complete-release/SKILL.md
  .claude/skills/release.md
  .claude/skills/release/SKILL.md
  .github/CODEOWNERS
Due: none

fix(ci): harden docker publish workflow run guard
  .github/workflows/docker-publish.yml
Due: none

fix(ci): harden docker publish workflow run guard (#396)
  .github/workflows/docker-publish.yml
Due: none

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
