Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

make-lint:
  name: make lint
  description: Lint Rust code automatically
  entry: make lint
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

feat: (PRO-407) Use solana-signers crate instead of custom Kora Signer
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/error.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/config_trait.rs
  crates/lib/src/signer/memory_signer/config.rs
  crates/lib/src/signer/memory_signer/mod.rs
  crates/lib/src/signer/memory_signer/solana_signer.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/signer/privy/config.rs
  crates/lib/src/signer/privy/mod.rs
  crates/lib/src/signer/privy/signer.rs
  crates/lib/src/signer/privy/types.rs
  crates/lib/src/signer/signer.rs
  crates/lib/src/signer/turnkey/config.rs
  crates/lib/src/signer/turnkey/mod.rs
  crates/lib/src/signer/turnkey/signer.rs
  crates/lib/src/signer/turnkey/types.rs
  crates/lib/src/signer/vault/config.rs
  crates/lib/src/signer/vault/mod.rs
  crates/lib/src/signer/vault/vault_signer.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/signer_validator.rs
Due: make-lint

feat: (PRO-407) Use solana-signers crate instead of custom Kora Signer (#231)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/error.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/config_trait.rs
  crates/lib/src/signer/memory_signer/config.rs
  crates/lib/src/signer/memory_signer/mod.rs
  crates/lib/src/signer/memory_signer/solana_signer.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/signer/privy/config.rs
  crates/lib/src/signer/privy/mod.rs
  crates/lib/src/signer/privy/signer.rs
  crates/lib/src/signer/privy/types.rs
  crates/lib/src/signer/signer.rs
  crates/lib/src/signer/turnkey/config.rs
  crates/lib/src/signer/turnkey/mod.rs
  crates/lib/src/signer/turnkey/signer.rs
  crates/lib/src/signer/turnkey/types.rs
  crates/lib/src/signer/vault/config.rs
  crates/lib/src/signer/vault/mod.rs
  crates/lib/src/signer/vault/vault_signer.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/signer_validator.rs
Due: make-lint

chore: (PRO-411) (PRO-415) Clean up and sanitize DEBUG macros, loggers, etc. to prevent sensitive information from being displayed
  crates/lib/Cargo.toml
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/error.rs
  crates/lib/src/mod.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/rpc_server/args.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/sanitize.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/keypair_util.rs
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

pr fixes, error sanitized as well
  crates/lib/src/error.rs
  crates/lib/src/sanitize.rs
Due: make-lint

ellipsis
  crates/lib/src/error.rs
Due: make-lint

chore: (PRO-411) (PRO-415) Clean up and sanitize DEBUG macros, logger… (#232)
  crates/lib/Cargo.toml
  crates/lib/src/cache.rs
  crates/lib/src/config.rs
  crates/lib/src/error.rs
  crates/lib/src/mod.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/rpc_server/args.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/sanitize.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/keypair_util.rs
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

feat: (PRO-413) Enhance fee payer outflow calculation to include SPL token transfers
  crates/lib/src/fee/fee.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/oracle/utils.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/rpc/fee_estimation.rs
Due: make-lint

PR Fixes and cleaned up unwraps
  crates/lib/src/metrics/handler.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/sanitize.rs
  crates/lib/src/tests/transaction_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/math_validator.rs
  crates/lib/src/validator/mod.rs
  tests/external/jupiter_integration.rs
  tests/rpc/fee_estimation.rs
Due: make-lint

feat: (PRO-413) Enhance fee payer outflow calculation to include SPL … (#233)
  crates/lib/src/fee/fee.rs
  crates/lib/src/metrics/handler.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/oracle/utils.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/sanitize.rs
  crates/lib/src/tests/transaction_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/math_validator.rs
  crates/lib/src/validator/mod.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/external/jupiter_integration.rs
  tests/rpc/fee_estimation.rs
Due: make-lint

bugfix: Constant time hmac verification function
  crates/lib/src/rpc_server/auth.rs
Due: make-lint

feat: (PRO-439) (PRO-440) Method validation for allowed methods to error out faster and reduce useless processing
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/middleware_utils.rs
  crates/lib/src/rpc_server/server.rs
Due: make-lint

Update crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/auth.rs
Due: make-lint

feat: (PRO-439) (PRO-440) Method validation for allowed methods to er... (#234)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/middleware_utils.rs
  crates/lib/src/rpc_server/server.rs
Due: make-lint

Allowed methods middleware is now separate instead of only being available when auth is enabled.
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/middleware_utils.rs
  crates/lib/src/rpc_server/server.rs
Due: make-lint

405 instead of unauthorized
  crates/lib/src/rpc_server/middleware_utils.rs
Due: make-lint

fix test
  Makefile
  tests/rpc/basic_endpoints.rs
Due: make-lint

Allowed methods middleware is (#235)
  Makefile
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/middleware_utils.rs
  crates/lib/src/rpc_server/server.rs
  tests/rpc/basic_endpoints.rs
Due: make-lint

feat: (PRO-414) Add rest of system instructions and spl transfer instructions for fee payer policy
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/mod.rs
  crates/lib/src/validator/transaction_validator.rs
  docs/getting-started/demo/server/kora.toml
  docs/operators/deploy/sample/kora.toml
  docs/x402/demo/kora/kora.toml
  kora.toml
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/basic_endpoints.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint, make-format-ts-sdk

feat: (PRO-414) Extend fee payer policy to include additional SPL and Token2022 instructions and System instructions
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/transaction_validator.rs
  docs/getting-started/demo/server/kora.toml
  docs/operators/deploy/sample/kora.toml
  docs/x402/demo/kora/kora.toml
  kora.toml
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/rpc/basic_endpoints.rs
  tests/src/common/constants.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/helpers.rs
  tests/src/common/local-keys/fee-payer-policy-mint-local-2022.json
  tests/src/common/local-keys/fee-payer-policy-mint-local.json
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/accounts.rs
Due: make-lint, make-format-ts-sdk

feat: (PRO-414) Extend fee payer policy to include additional SPL and Token2022 instructions and System instructions (#236)
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/macros.rs
  crates/lib/src/validator/mod.rs
  crates/lib/src/validator/transaction_validator.rs
  docs/getting-started/demo/server/kora.toml
  docs/operators/deploy/sample/kora.toml
  docs/x402/demo/kora/kora.toml
  kora.toml
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/rpc/basic_endpoints.rs
  tests/src/common/constants.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/helpers.rs
  tests/src/common/local-keys/fee-payer-policy-mint-local-2022.json
  tests/src/common/local-keys/fee-payer-policy-mint-local.json
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/accounts.rs
Due: make-lint, make-format-ts-sdk

chore: Updated Kora signers crate
  Cargo.lock
Due: none

chore: Updated Kora signers crate (#237)
  Cargo.lock
Due: none

feat: Enhance payment instruction analysis and transfer fee calculation
  crates/lib/src/fee/fee.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/payment_address/main.rs
  tests/payment_address/payment_address_multi_payment_tests.rs
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint

feat: Enhance payment instruction analysis and transfer fee calculation (#239)
  crates/lib/src/fee/fee.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/payment_address/main.rs
  tests/payment_address/payment_address_multi_payment_tests.rs
  tests/src/common/fixtures/paymaster-address-test.toml
Due: make-lint

bugfix: Post audit report fixes
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/error.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/oracle/utils.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/state.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/cache_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  sdks/ts/test/integration.test.ts
Due: make-lint, make-format-ts-sdk

Remove get all signers function for added safety
  crates/lib/src/admin/token_util.rs
  crates/lib/src/mod.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/state.rs
  crates/lib/src/usage_limit/usage_tracker.rs
Due: make-lint

test fixes
  Cargo.lock
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  tests/Cargo.toml
  tests/external/jupiter_integration.rs
Due: make-lint

Bugfix/audit report missing fixes (#240)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/error.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/mod.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/oracle/utils.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/state.rs
  crates/lib/src/token/token.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/cache_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  sdks/ts/test/integration.test.ts
  tests/Cargo.toml
  tests/external/jupiter_integration.rs
Due: make-lint, make-format-ts-sdk

chore: Update dependencies and refactor token interfaces (update to v3 for sdks)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/tests/transaction_mock.rs
  crates/lib/src/token/mod.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_message.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/Cargo.toml
  tests/adversarial/fee_payer_exploitation.rs
  tests/adversarial/token_states.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/payment_address/payment_address_legacy_tests.rs
  tests/payment_address/payment_address_multi_payment_tests.rs
  tests/payment_address/payment_address_v0_lut_tests.rs
  tests/payment_address/payment_address_v0_tests.rs
  tests/rpc/fee_estimation.rs
  tests/src/common/extension_helpers.rs
  tests/src/common/lookup_tables.rs
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/tokens/token_2022_extensions_test.rs
Due: make-lint

fix test
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-lint

chore: Update dependencies and refactor token interfaces (update to v… (#242)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/tests/transaction_mock.rs
  crates/lib/src/token/mod.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_message.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/Cargo.toml
  tests/adversarial/fee_payer_exploitation.rs
  tests/adversarial/token_states.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/payment_address/payment_address_legacy_tests.rs
  tests/payment_address/payment_address_multi_payment_tests.rs
  tests/payment_address/payment_address_v0_lut_tests.rs
  tests/payment_address/payment_address_v0_tests.rs
  tests/rpc/fee_estimation.rs
  tests/src/common/extension_helpers.rs
  tests/src/common/lookup_tables.rs
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/tokens/token_2022_extensions_test.rs
Due: make-lint

chore: Audit - A09
  crates/lib/src/validator/config_validator.rs
  docs/operators/CONFIGURATION.md
  docs/operators/FEES.md
Due: make-lint

chore: Audit - A21
  docs/operators/CONFIGURATION.md
Due: none

chore: Audit - B06
  docs/operators/CONFIGURATION.md
  docs/operators/FEES.md
Due: none

chore: Audit - B10
  docs/operators/CONFIGURATION.md
Due: none

chore: Audit - B11
  docs/operators/CONFIGURATION.md
Due: none

chore: Add more warnings for configuration
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/validator/config_validator.rs
Due: make-lint

Added "strict" option to fixed fee type, if true, will error out if the total fee is bigger than the fixed fee
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

chore: revert PriceModel Free warnings
  crates/lib/src/validator/config_validator.rs
Due: make-lint

chore: audit documentation (#243)
  docs/operators/CONFIGURATION.md
  docs/operators/FEES.md
Due: none

Path conditions:
  make-lint: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
