Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

chore: more comments
  crates/lib/src/rpc_server/server.rs
Due: make-fmt

feat(examples): add devnet paymaster Databricks dashboard
  examples/devnet-deploy-paymaster/dashboard/.gitignore
  examples/devnet-deploy-paymaster/dashboard/databricks.yml
  examples/devnet-deploy-paymaster/dashboard/ingest.py
  examples/devnet-deploy-paymaster/dashboard/kora_devnet.example.lvdash.json
  examples/devnet-deploy-paymaster/dashboard/prod.example.yml
Due: none

feat(examples): add devnet paymaster Databricks dashboard (#564)
  examples/devnet-deploy-paymaster/dashboard/.gitignore
  examples/devnet-deploy-paymaster/dashboard/databricks.yml
  examples/devnet-deploy-paymaster/dashboard/ingest.py
  examples/devnet-deploy-paymaster/dashboard/kora_devnet.example.lvdash.json
  examples/devnet-deploy-paymaster/dashboard/prod.example.yml
Due: none

feat(cache): add get_multiple_accounts with cache-aware batch resolution
  crates/lib/src/cache.rs
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/token/token.rs
Due: make-fmt

feat(transaction): batch-fetch ALTs in resolve_lookup_table_addresses
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

feat(bundle): reuse resolved ALTs across transactions in same bundle
  crates/lib/src/bundle/helper.rs
  crates/lib/src/cache.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

ci: publish rolling edge Docker image on push to main
  .github/workflows/docker-edge.yml
Due: none

chore: update codeowners
  .github/CODEOWNERS
Due: none

feat: clippy fix
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/recaptcha_util.rs
Due: make-fmt

Add async transaction sending (#556)
  Cargo.lock
  Cargo.toml
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/openapi/docs.rs
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/recaptcha_util.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/state.rs
  crates/lib/src/transaction/versioned_transaction.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/transaction_signing.rs
Due: make-fmt, make-format-ts-sdk

test(cli): add baseline test for invalid config validation
  crates/cli/tests/integration_tests.rs
Due: make-fmt

fix(cli): exit with status 1 on config validation failure
  crates/cli/src/main.rs
  crates/cli/tests/integration_tests.rs
Due: make-fmt

test(cli): improve integration test robustness and error handling
  crates/cli/tests/integration_tests.rs
Due: make-fmt

feat(usage-limit): add check_and_increment_many for all-or-nothing multi-rule enforcement
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
Due: make-fmt

chore: update codeowners (#570)
  .github/CODEOWNERS
Due: none

fix(cli): exit with status 1 on config validation failure (#567)
  crates/cli/src/main.rs
  crates/cli/tests/integration_tests.rs
Due: make-fmt

ci: align docker-edge action versions with docker-publish
  .github/workflows/docker-edge.yml
Due: none

ci: publish rolling edge Docker image on push to main (#566)
  .github/workflows/docker-edge.yml
Due: none

ci: build edge image for linux/amd64 only
  .github/workflows/docker-edge.yml
Due: none

perf(ci): cache Rust deps with cargo-chef for fast image builds
  Dockerfile
Due: none

ci: build edge image for linux/amd64 only (#572)
  .github/workflows/docker-edge.yml
  Dockerfile
Due: none

fix(ci): bump builder to rust 1.89
  Dockerfile
Due: none

fix(ci): bump builder to rust 1.89 (#573)
  Dockerfile
Due: none

fix(ci): bump builder to rust 1.91
  Dockerfile
Due: none

fix(ci): bump builder to rust 1.91 (#574)
  Dockerfile
Due: none

fix: pin Docker builder to bookworm to match runtime glibc
  Dockerfile
Due: none

fix: pin Docker builder to bookworm to match runtime glibc (#575)
  Dockerfile
Due: none

fix(deps): bump quinn-proto to 0.11.15 for RUSTSEC-2026-0185
  Cargo.lock
Due: none

fix(deps): bump quinn-proto to 0.11.15 for RUSTSEC-2026-0185 (#576)
  Cargo.lock
Due: none

feat(validation): support CreateAccountAllowPrefund instruction
  CLAUDE.md
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(validation): enforce owner allowlist in prefund brick-vector path
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

refactor(validation): reuse validate_system! for brick-vector gate
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

ci: bump integration test validator to agave 4.0.3
  .github/actions/setup-solana/action.yml
Due: none

test(validation): integration tests for CreateAccountAllowPrefund policy
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
Due: make-fmt

refactor(test): move prefund ix builder into TransactionBuilder
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/src/common/transaction.rs
Due: make-fmt

docs: tighten CreateAccountAllowPrefund comments
  crates/lib/src/constant.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/src/common/transaction.rs
Due: make-fmt

refactor(test): hoist prefund test imports to module top
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

refactor(usage-store): simplify expired-entry check in check_and_increment_many
  crates/lib/src/usage_limit/usage_store.rs
Due: make-fmt

test(validation): cover CPI inner CreateAccountAllowPrefund
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
