Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-lint
        name: make lint
        description: Lint Rust code automatically
        entry: make lint
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

flakey test
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-lint

feat: (PRO-263) Add transfer hook example and related infrastructure (#213)
  .github/actions/setup-solana-validator/action.yml
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Makefile
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  makefiles/RUST_TESTS.makefile
  makefiles/UTILS.makefile
  tests/Cargo.toml
  tests/src/common/constants.rs
  tests/src/common/extension_helpers.rs
  tests/src/common/helpers.rs
  tests/src/common/local-keys/mint-transfer-hook-local.json
  tests/src/common/transfer-hook-example/Cargo.lock
  tests/src/common/transfer-hook-example/Cargo.toml
  tests/src/common/transfer-hook-example/build.sh
  tests/src/common/transfer-hook-example/src/lib.rs
  tests/src/common/transfer-hook-example/transfer-hook-keypair.json
  tests/src/common/transfer-hook-example/transfer_hook_example.so
  tests/tokens/token_2022_extensions_test.rs
Due: make-lint

feat: (PRO-262) Implement usage limit feature with Redis support
  Cargo.lock
  crates/lib/Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/error.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/redis_cache_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/usage_limit/mod.rs
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/config_validator.rs
  docker-compose.yml
Due: make-lint

Update coverage badge [skip ci]
  .github/badges/coverage.json
Due: none

PR comments + tested locally
  Dockerfile
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/cache_mock.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  docker-compose.yml
  kora.toml
  redis.conf
Due: make-lint

PR fixes
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/mod.rs
Due: make-lint

feat: (PRO-262) Implement usage limit feature with Redis support (#215)
  .github/badges/coverage.json
  Cargo.lock
  Dockerfile
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/error.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction_if_paid.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/cache_mock.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/tests/redis_cache_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/usage_limit/mod.rs
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/mod.rs
  docker-compose.yml
  kora.toml
  redis.conf
Due: make-lint

chore: Set FeePayerPolicy defaults to false
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/validator/transaction_validator.rs
  docs/operators/deploy/sample/kora.toml
Due: make-lint

docs/Add documentation for usage limits
  docs/getting-started/demo/server/kora.toml
  docs/operators/CONFIGURATION.md
  docs/operators/README.md
  docs/operators/deploy/sample/kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: none

chore: remove kora.toml commented fields
  docs/getting-started/demo/server/kora.toml
  docs/operators/deploy/sample/kora.toml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: none

fix: Update ATA initialization logic and enhance error reporting
  .gitignore
  crates/lib/src/admin/token_util.rs
Due: make-lint

chore: (PRO-275) Set FeePayerPolicy defaults to false (#217)
  .github/badges/coverage.json
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/validator/transaction_validator.rs
  docs/operators/deploy/sample/kora.toml
Due: make-lint

docs: (PRO-278) add documentation for usage limits (#218)
  docs/getting-started/demo/server/kora.toml
  docs/operators/CONFIGURATION.md
  docs/operators/README.md
  docs/operators/deploy/sample/kora.toml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: none

fix: Update ATA initialization logic and enhance error reporting (#219)
  .github/badges/coverage.json
  .gitignore
  crates/lib/src/admin/token_util.rs
Due: make-lint

docs/Add API docs generator and update scripts
  .gitignore
  sdks/ts/package.json
  sdks/ts/scripts/generate-api-docs.js
Due: none

docs/Add API docs generator and update scripts (#220)
  .gitignore
  sdks/ts/package.json
  sdks/ts/scripts/generate-api-docs.js
Due: none

feat: (PRO-203) Implement TurnkeyError handling and enhance PrivySigner error logging
  crates/lib/src/error.rs
  crates/lib/src/signer/privy/signer.rs
  crates/lib/src/signer/turnkey/config.rs
  crates/lib/src/signer/turnkey/signer.rs
  crates/lib/src/signer/turnkey/types.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

chore: (PRO-271) Update / cleanup Makefile and add debug commands
  .gitignore
  Makefile
  makefiles/BUILD.makefile
  makefiles/CLIENT.makefile
  makefiles/DEBUG.makefile
  makefiles/METRICS.makefile
Due: none

fix reimports
  makefiles/DEBUG.makefile
Due: none

chore: Implement rust test runner
  .gitignore
  tests/Cargo.toml
  tests/examples/estimateTransactionFee.json
  tests/examples/getBlockhash.json
  tests/examples/getConfig.json
  tests/examples/getEnabledFeatures.json
  tests/examples/getSupportedTokens.json
  tests/examples/signAndSendTransaction.json
  tests/examples/signTransaction.json
  tests/examples/transferTransaction.json
  tests/payment_address/payment_address_v0_tests.rs
  tests/rpc/transaction_signing.rs
  tests/src/bin/setup_test_env.rs
  tests/src/bin/test_runner.rs
  tests/src/common/client.rs
  tests/src/common/constants.rs
  tests/src/common/helpers.rs
  tests/src/common/lookup_tables.rs
  tests/src/common/mod.rs
  tests/src/common/setup.rs
  tests/src/lib.rs
  tests/src/setup_test_env.rs
Due: make-lint

Cleaned up test runner
  tests/Cargo.toml
  tests/payment_address/payment_address_v0_tests.rs
  tests/src/bin/test_runner.rs
  tests/src/common/auth_helpers.rs
  tests/src/common/client.rs
  tests/src/common/mod.rs
  tests/src/lib.rs
  tests/src/test_runner/accounts.rs
  tests/src/test_runner/config.rs
  tests/src/test_runner/kora.rs
  tests/src/test_runner/mod.rs
  tests/src/test_runner/output.rs
  tests/src/test_runner/test_cases.toml
  tests/src/test_runner/validator.rs
Due: make-lint

Typescript test support + makefile cleanup
  Makefile
  makefiles/DEBUG.makefile
  makefiles/RUST_TESTS.makefile
  makefiles/TYPESCRIPT_TESTS.makefile
  makefiles/UTILS.makefile
  tests/src/bin/test_runner.rs
  tests/src/test_runner/commands.rs
  tests/src/test_runner/mod.rs
  tests/src/test_runner/output.rs
  tests/src/test_runner/test_cases.toml
Due: make-lint

feat: (PRO-203) Implement TurnkeyError handling and enhance PrivySign… (#221)
  .github/badges/coverage.json
  crates/lib/src/error.rs
  crates/lib/src/signer/privy/signer.rs
  crates/lib/src/signer/turnkey/config.rs
  crates/lib/src/signer/turnkey/signer.rs
  crates/lib/src/signer/turnkey/types.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

CI Actions updated and improvements to test runner (speed, cleanup, etc.)
  .github/actions/cleanup-test-env/action.yml
  .github/actions/run-test-runner/action.yml
  .github/actions/setup-kora-rpc/action.yml
  .github/actions/setup-solana-validator/action.yml
  .github/workflows/build-rust.yml
  .github/workflows/rust-unit.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  Cargo.lock
  makefiles/RUST_TESTS.makefile
  tests/Cargo.toml
  tests/src/bin/test_runner.rs
  tests/src/test_runner/accounts.rs
  tests/src/test_runner/commands.rs
  tests/src/test_runner/config.rs
  tests/src/test_runner/kora.rs
  tests/src/test_runner/output.rs
  tests/src/test_runner/validator.rs
Due: make-lint

fix: TS integration tests
  sdks/ts/test/setup.ts
  tests/src/test_runner/test_cases.toml
Due: make-format-ts-sdk

Fixed ambiguous name
  tests/src/common/auth_helpers.rs
Due: make-lint

logging tests for ci
  tests/src/bin/test_runner.rs
  tests/src/test_runner/kora.rs
Due: make-lint

Revert "logging tests for ci"
  tests/src/bin/test_runner.rs
  tests/src/test_runner/kora.rs
Due: make-lint

rust backtracke logging test cli
  tests/src/bin/test_runner.rs
  tests/src/test_runner/kora.rs
Due: make-lint

Revert "rust backtracke logging test cli"
  tests/src/bin/test_runner.rs
  tests/src/test_runner/kora.rs
Due: make-lint

added logs for functions
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-lint

Revert "added logs for functions"
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-lint

added single log
  tests/rpc/transfers.rs
Due: make-lint

log2
  tests/rpc/transfers.rs
Due: make-lint

test single test for rpc
  tests/rpc/transfers.rs
  tests/src/test_runner/test_cases.toml
Due: make-lint

Test with lots of loggers
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/client.rs
  tests/src/test_runner/test_cases.toml
Due: make-lint
