Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

make-lint:
  name: make lint
  description: Lint Rust code automatically
  entry: make lint
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

docs: redirect content
  README.md
  docs/README.md
  docs/assets/img/deploy/railway-domain.jpg
  docs/assets/img/deploy/railway-variables.jpg
  docs/assets/img/signers/privy-app.jpg
  docs/assets/img/signers/privy-wallet.jpg
  docs/assets/img/signers/turnkey-api.jpg
  docs/assets/img/signers/turnkey-org.jpg
  docs/assets/img/signers/turnkey-pk.jpg
  docs/assets/img/signers/turnkey-pk2.jpg
  docs/contributors/ADDING_SIGNERS.md
  docs/getting-started/FULL_DEMO.md
  docs/getting-started/QUICK_START.md
  docs/operators/AUTHENTICATION.md
  docs/operators/CLI.md
  docs/operators/CONFIGURATION.md
  docs/operators/FEES.md
  docs/operators/MONITORING.md
  docs/operators/README.md
  docs/operators/SIGNERS.md
  docs/operators/deploy/RAILWAY.md
  docs/operators/deploy/sample/Dockerfile
  docs/operators/deploy/sample/kora.toml
  docs/operators/deploy/sample/signers.toml
  docs/x402/demo/README.md
  docs/x402/demo/X402_DEMO_GUIDE.md
  sdks/ts/README.md
Due: none

chore: add guide readme
  docs/getting-started/README.md
Due: none

docs: redirect docs content to launch.solana.com (#255)
  README.md
  docs/README.md
  docs/assets/img/deploy/railway-domain.jpg
  docs/assets/img/deploy/railway-variables.jpg
  docs/assets/img/signers/privy-app.jpg
  docs/assets/img/signers/privy-wallet.jpg
  docs/assets/img/signers/turnkey-api.jpg
  docs/assets/img/signers/turnkey-org.jpg
  docs/assets/img/signers/turnkey-pk.jpg
  docs/assets/img/signers/turnkey-pk2.jpg
  docs/contributors/ADDING_SIGNERS.md
  docs/getting-started/FULL_DEMO.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/README.md
  docs/getting-started/demo/client/package.json
  docs/operators/AUTHENTICATION.md
  docs/operators/CLI.md
  docs/operators/CONFIGURATION.md
  docs/operators/FEES.md
  docs/operators/MONITORING.md
  docs/operators/README.md
  docs/operators/SIGNERS.md
  docs/operators/deploy/RAILWAY.md
  docs/operators/deploy/sample/Dockerfile
  docs/operators/deploy/sample/kora.toml
  docs/operators/deploy/sample/signers.toml
  docs/x402/demo/README.md
  docs/x402/demo/X402_DEMO_GUIDE.md
  docs/x402/demo/facilitator/package.json
  sdks/ts/README.md
Due: none

chore: Replace solana-signers with solana-keychain and update release process
  .github/workflows/rust-publish.yml
  CLAUDE.md
  Cargo.lock
  Makefile
  README.md
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/error.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/signer/signer.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/transaction/versioned_transaction.rs
  makefiles/RELEASE.makefile
Due: make-lint

chore: Replace solana-signers with solana-keychain and update release process (#256)
  .github/workflows/rust-publish.yml
  CLAUDE.md
  Cargo.lock
  Makefile
  README.md
  crates/lib/Cargo.toml
  crates/lib/src/admin/token_util.rs
  crates/lib/src/error.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_payer_signer.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/config.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/signer/signer.rs
  crates/lib/src/state.rs
  crates/lib/src/tests/common/mod.rs
  crates/lib/src/transaction/versioned_transaction.rs
  makefiles/RELEASE.makefile
Due: make-lint

chore: release v2.0.0
  CHANGELOG.md
Due: none

chore: release v2.0.0 (#257)
  CHANGELOG.md
Due: none

fix: Readme in cargo.toml for crates.io
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

release: ts sdk
  .github/workflows/ts-sdk-publish.yml
Due: none

release: 2.0.1
  .github/cliff.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  makefiles/RELEASE.makefile
Due: none

chore: release v2.0.1
  CHANGELOG.md
Due: none

Release/2.0.1 (#258)
  .github/cliff.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  makefiles/RELEASE.makefile
Due: none

chore: push try cwd
  .github/workflows/ts-sdk-publish.yml
  sdks/package.json
Due: none

feat: add manual release
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

add manual sdk
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

add manual sdk (#259)
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

chore: update write
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

chore: update ci (#260)
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

Update ts-sdk-publish-manual.yml
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

Update ts-sdk-publish-manual.yml (#261)
  .github/workflows/ts-sdk-publish-manual.yml
Due: none

chore: add npm link/badge to readme
  README.md
Due: none

chore: add npm link/badge to readme (#262)
  README.md
Due: none

refactor: limit access to config's singleton
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/cache_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

ci: automate rust release & tag
  .github/workflows/rust-publish.yml
Due: none

ci: automate rust release & tag (#264)
  .github/workflows/rust-publish.yml
Due: none

refactor: limit access to config's singleton (#263)
  crates/lib/src/admin/token_util.rs
  crates/lib/src/cache.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/metrics/balance.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/tests/cache_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/account_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-lint

docs: add deploy samples
  examples/deploy/Dockerfile
  examples/deploy/kora.toml
  examples/deploy/signers.toml
Due: none

docs: fix old links
  .env.example
  crates/lib/src/metrics/README.md
Due: none

docs: migrate path docs->examples
  examples/README.md
  examples/getting-started/README.md
  examples/getting-started/demo/client/package.json
  examples/getting-started/demo/client/pnpm-lock.yaml
  examples/getting-started/demo/client/src/full-demo.ts
  examples/getting-started/demo/client/src/quick-start.ts
  examples/getting-started/demo/client/src/setup.ts
  examples/getting-started/demo/client/tsconfig.json
  examples/getting-started/demo/server/kora.toml
  examples/getting-started/demo/server/signers.toml
  examples/x402/demo/.env.example
  examples/x402/demo/README.md
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/api/src/api.ts
  examples/x402/demo/assets/x402-protocol-flow.png
  examples/x402/demo/client/package.json
  examples/x402/demo/client/pnpm-lock.yaml
  examples/x402/demo/client/src/index.ts
  examples/x402/demo/client/src/setup.ts
  examples/x402/demo/client/tsconfig.json
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/src/facilitator.ts
  examples/x402/demo/kora/kora.toml
  examples/x402/demo/kora/signers.toml
  examples/x402/demo/package.json
Due: make-format-ts-sdk

fix: token_2022 validation
  examples/deploy/kora.toml
Due: none

chore: update kora command
  examples/deploy/Dockerfile
Due: none

chore: fix compute budget program address
  CLAUDE.md
  examples/deploy/kora.toml
  kora.toml
Due: none

docs: add deploy sample & cleanup (#265)
  .env.example
  CLAUDE.md
  crates/lib/src/metrics/README.md
  examples/README.md
  examples/deploy/Dockerfile
  examples/deploy/kora.toml
  examples/deploy/signers.toml
  examples/getting-started/README.md
  examples/getting-started/demo/client/package.json
  examples/getting-started/demo/client/pnpm-lock.yaml
  examples/getting-started/demo/client/src/full-demo.ts
  examples/getting-started/demo/client/src/quick-start.ts
  examples/getting-started/demo/client/src/setup.ts
  examples/getting-started/demo/client/tsconfig.json
  examples/getting-started/demo/server/kora.toml
  examples/getting-started/demo/server/signers.toml
  examples/x402/demo/.env.example
  examples/x402/demo/README.md
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/api/src/api.ts
  examples/x402/demo/assets/x402-protocol-flow.png
  examples/x402/demo/client/package.json
  examples/x402/demo/client/pnpm-lock.yaml
  examples/x402/demo/client/src/index.ts
  examples/x402/demo/client/src/setup.ts
  examples/x402/demo/client/tsconfig.json
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/src/facilitator.ts
  examples/x402/demo/kora/kora.toml
  examples/x402/demo/kora/signers.toml
  examples/x402/demo/package.json
Due: make-format-ts-sdk

chore: update devnet usdc mock
  crates/lib/src/oracle/utils.rs
Due: make-lint

fix: sign if create ata ix found
  crates/cli/src/args.rs
  crates/lib/src/token/token.rs
Due: make-lint

chore: update example
  examples/getting-started/demo/server/kora.toml
Due: none

tests: fix unit tests reliant on DEVNET_USDC
  crates/cli/src/args.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/token/token.rs
Due: make-lint

chore: update devnet usdc mock (#266)
  crates/cli/src/args.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/oracle/utils.rs
  crates/lib/src/token/token.rs
Due: make-lint

Added extension check
  crates/lib/src/constant.rs
  crates/lib/src/token/token.rs
Due: make-lint

chore: Update audit report to the final version (typos, etc.)
  audits/20251119_runtime-verification.pdf
Due: none

Path conditions:
  make-lint: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
