Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, just-format-ts-sdk

just-fmt:
  name: just fmt
  description: Format Rust code automatically
  entry: just fmt
  language: system
  pass_filenames: false

just-format-ts-sdk:
  name: just format-ts-sdk
  description: Format TypeScript SDK code
  entry: just format-ts-sdk
  language: system
  pass_filenames: false

feat: enhance reliability, security, and test coverage
  crates/lib/src/config.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/cache_validator.rs
Due: just-fmt

refactor: change MintCloseAuthority check to warning for consistency
  crates/lib/src/validator/config_validator.rs
Due: just-fmt

refactor: optimize selection logic, locking strategy, and validation
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/token/token.rs
Due: just-fmt

feat: (PRO-605) Jito bundle support
  crates/lib/src/bundle/error.rs
  crates/lib/src/bundle/helper.rs
  crates/lib/src/bundle/jito/client.rs
  crates/lib/src/bundle/jito/config.rs
  crates/lib/src/bundle/jito/constant.rs
  crates/lib/src/bundle/jito/error.rs
  crates/lib/src/bundle/jito/mod.rs
  crates/lib/src/bundle/mod.rs
  crates/lib/src/config.rs
  crates/lib/src/error.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/signer/bundle_signer.rs
  crates/lib/src/signer/mod.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/transaction_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/validator/bundle_validator.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/mod.rs
  crates/lib/src/validator/transaction_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/external/jito_integration.rs
  tests/external/main.rs
  tests/rpc/bundles.rs
  tests/rpc/main.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: just-fmt

Added typescript unit & integration tests
  justfile
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/src/common/fixtures/auth-test.toml
Due: just-format-ts-sdk

Broken CI because of justfile changes
  .github/workflows/rust-unit.yml
Due: none

chore: update ts types
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

chore: update ts types (#292)
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: just-format-ts-sdk

PR comments + tested full flow
  crates/lib/src/bundle/helper.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/signer/bundle_signer.rs
Due: just-fmt

missed unwrap
  crates/lib/src/signer/bundle_signer.rs
Due: just-fmt

release: 2.2.0-beta.1 & 0.2.0-beta.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  sdks/ts/package.json
Due: none

changelog
  CHANGELOG.md
Due: none

release: 2.2.0-beta.1 & 0.2.0-beta.1 (#294)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  sdks/ts/package.json
Due: none

docs: add jito bundle example code
  examples/jito-bundles/README.md
  examples/jito-bundles/client/package.json
  examples/jito-bundles/client/pnpm-lock.yaml
  examples/jito-bundles/client/src/index.ts
  examples/jito-bundles/scripts/start-kora.sh
  examples/jito-bundles/server/.env.example
  examples/jito-bundles/server/kora.toml
  examples/jito-bundles/server/signers.toml
Due: just-format-ts-sdk

chore: reduce redundant call
  examples/jito-bundles/client/src/index.ts
Due: just-format-ts-sdk

feat: (PRO-638) Estimate fee for Jito bundle endpoint
  CLAUDE.md
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/validator/config_validator.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/bundles.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
Due: just-fmt, just-format-ts-sdk

docs: add jito bundle example code (#295)
  examples/jito-bundles/README.md
  examples/jito-bundles/client/package.json
  examples/jito-bundles/client/pnpm-lock.yaml
  examples/jito-bundles/client/src/index.ts
  examples/jito-bundles/scripts/start-kora.sh
  examples/jito-bundles/server/.env.example
  examples/jito-bundles/server/kora.toml
  examples/jito-bundles/server/signers.toml
Due: just-format-ts-sdk

Update crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
Due: just-fmt

hotfix: (PRO-639) Fix big transaction causing error when using v0 transaction
  crates/lib/src/fee/fee.rs
Due: just-fmt

PR fixes
  crates/lib/src/bundle/helper.rs
  examples/deploy/kora.toml
  sdks/ts/src/client.ts
  tests/rpc/bundles.rs
Due: just-fmt, just-format-ts-sdk

hotfix: (PRO-639) Fix big transaction causing error when using v0 transaction (#297)
  crates/lib/src/fee/fee.rs
Due: just-fmt

feat: (PRO-638) Estimate fee for Jito bundle endpoint (#296)
  CLAUDE.md
  crates/lib/src/bundle/helper.rs
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/validator/config_validator.rs
  examples/deploy/kora.toml
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/bundles.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-test.toml
Due: just-fmt, just-format-ts-sdk

release: 2.2.0-beta.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  sdks/ts/package.json
Due: none

release: 2.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

jito package.json version
  examples/jito-bundles/client/package.json
Due: none

release: 2.0.2 (#299)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

release: 2.2.0-beta.2 (#298)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  examples/jito-bundles/client/package.json
  sdks/ts/package.json
Due: none

feat: implement granular usage tracking with rule-based limits
  crates/lib/src/bundle/helper.rs
  crates/lib/src/bundle/mod.rs
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/usage_limit/config.rs
  crates/lib/src/usage_limit/limiter.rs
  crates/lib/src/usage_limit/mod.rs
  crates/lib/src/usage_limit/rules/instruction.rs
  crates/lib/src/usage_limit/rules/mod.rs
  crates/lib/src/usage_limit/rules/transaction.rs
  crates/lib/src/usage_limit/rules/usage_rule.rs
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/cache_validator.rs
  justfile
  sdks/ts/src/types/index.ts
  tests/Cargo.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/fixtures/usage-limit-test.toml
  tests/src/common/helpers.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/test_cases.toml
  tests/usage_limit/bundle_limits.rs
  tests/usage_limit/instruction_limits.rs
  tests/usage_limit/main.rs
  tests/usage_limit/multiple_rules.rs
  tests/usage_limit/transaction_limits.rs
Due: just-fmt, just-format-ts-sdk

PR Comment fixes
  crates/lib/src/usage_limit/usage_store.rs
  crates/lib/src/usage_limit/usage_tracker.rs
Due: just-fmt

feat(rpc): add reCAPTCHA support for protected endpoints
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/error.rs
  crates/lib/src/rpc_server/mod.rs
  crates/lib/src/rpc_server/recaptcha.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
Due: just-fmt

feat: add transactions_to_sign parameter to bundle endpoints
  crates/lib/src/bundle/helper.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  tests/rpc/bundles.rs
Due: just-fmt

hotfix: (PRO-747) Improved Durable Nonce handling & security
  README.md
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/rpc/durable_transactions.rs
  tests/rpc/main.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/transaction.rs
Due: just-fmt

PR Fixes
  crates/lib/src/usage_limit/rules/instruction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
Due: just-fmt

PR comments fixes
  crates/lib/src/bundle/helper.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  tests/rpc/bundles.rs
Due: just-fmt, just-format-ts-sdk

refactor
  README.md
  crates/lib/src/validator/config_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
Due: just-fmt

feat: add transactions_to_sign parameter to bundle endpoints (#302)
  crates/lib/src/bundle/helper.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  tests/rpc/bundles.rs
Due: just-fmt, just-format-ts-sdk

PR Fixes
  Cargo.lock
  Cargo.toml
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  tests/Cargo.toml
  tests/rpc/durable_transactions.rs
  tests/src/common/transaction.rs
Due: just-fmt

sig verify flag
  crates/lib/src/transaction/versioned_transaction.rs
Due: just-fmt

Path conditions:
  just-fmt: any of: \.rs$
  just-format-ts-sdk: any of: \.(ts|mts|cts)$
