Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt
        description: Format and lint Rust code automatically
        entry: make fmt
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

fix(auth): bound HMAC timestamp skew and reject overflowing timestamps
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/auth.rs
Due: make-fmt

fix(metrics): keep signer balance gauge on RPC fetch failure
  .claude/skills/kora-operator/references/configuration.md
  crates/lib/src/metrics/balance.rs
Due: make-fmt

fix(auth): bound HMAC timestamp skew and reject overflowing timestamps (#722)
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/auth.rs
Due: make-fmt

fix(validator): make Token-2022 withdraw-excess and unwrap-lamports flags take effect
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/fee/fee/outflow.rs
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
  crates/lib/src/token/token/transfer_hook.rs
  crates/lib/src/transaction/instruction_util/spl_token.rs
  crates/lib/src/transaction/instruction_util/tests.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
  fuzz/Cargo.lock
  tests/src/common/seed.rs
Due: make-fmt

test(validator): add Token-2022 fee-payer drain property coverage
  CLAUDE.md
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/mod.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/token_2022.rs
Due: make-fmt

test(validator): cover WithSeed, Checked and multisig-signer fee-payer roles
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/spl_token.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/system.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/token_2022.rs
Due: make-fmt

fix(x402-demo): validate payments against requirements in facilitator
  examples/x402/demo/README.md
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/src/facilitator.ts
Due: make-format-ts-sdk

refactor(plugin): pass transactions to plugins by shared reference
  crates/lib/src/bundle/helper.rs
  crates/lib/src/plugin/mod.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

refactor(plugin): pass transactions to plugins by shared reference (#728)
  crates/lib/src/bundle/helper.rs
  crates/lib/src/plugin/mod.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix(validator): gate fee payer as new or freeze authority in token policy
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/validator/transaction_validator.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/spl_token.rs
  crates/lib/src/validator/transaction_validator/spl_token.rs
  openapi.json
Due: make-fmt

feat(config): add allowed_transaction_versions validation option
  .claude/skills/kora-operator/references/configuration.md
  Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/config_validator/transactions.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
  openapi.json
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

fix(metrics): keep signer balance gauge on RPC fetch failure (#723)
  .claude/skills/kora-operator/references/configuration.md
  crates/lib/src/metrics/balance.rs
Due: make-fmt

fix(validator): gate fee payer as new or freeze authority in token policy (#729)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/validator/transaction_validator.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/spl_token.rs
  crates/lib/src/validator/transaction_validator/spl_token.rs
  openapi.json
Due: make-fmt

fix(x402-demo): validate payments against requirements in facilitator (#727)
  examples/x402/demo/README.md
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  examples/x402/demo/facilitator/src/facilitator.ts
Due: make-format-ts-sdk

fix(lib): reconstruct multisig token authorities from parsed CPIs
  crates/lib/src/transaction/instruction_util/reconstruct.rs
  crates/lib/src/transaction/instruction_util/tests.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(lib): reconstruct Token-2022 metadata and extension init CPIs
  crates/lib/src/transaction/instruction_util/reconstruct.rs
  crates/lib/src/transaction/instruction_util/tests.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

feat(config): add allowed_transaction_versions validation option (#724)
  .claude/skills/kora-operator/references/configuration.md
  Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/config_validator/transactions.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
  openapi.json
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

fix(lib): reconstruct multisig authorities and Token-2022 metadata CPIs (#726)
  crates/lib/src/transaction/instruction_util/reconstruct.rs
  crates/lib/src/transaction/instruction_util/tests.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(validator): make Token-2022 lamport flags take effect and extend drain props (#725)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/fee/fee/outflow.rs
  crates/lib/src/tests/account_mock.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/token/token.rs
  crates/lib/src/token/token/transfer_hook.rs
  crates/lib/src/transaction/instruction_util/reconstruct.rs
  crates/lib/src/transaction/instruction_util/spl_token.rs
  crates/lib/src/transaction/instruction_util/tests.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/mod.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/spl_token.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/system.rs
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/token_2022.rs
  fuzz/Cargo.lock
  tests/src/common/seed.rs
Due: make-fmt

feat(validator): add create_account_only_via fee payer policy
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util/system.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/config_validator/fee_payer_policy.rs
  crates/lib/src/validator/config_validator/transactions.rs
  crates/lib/src/validator/transaction_validator.rs
  crates/lib/src/validator/transaction_validator/system.rs
  kora.toml
  openapi.json
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/unit.test.ts
Due: make-fmt, make-format-ts-sdk

feat(transaction): record whether each resolved instruction is top-level or a CPI
  crates/lib/src/tests/transaction_mock.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

test(integration): create_account_only_via phase through the CPI forwarder
  .github/workflows/rust-integration.yml
  sdks/ts/test/integration.test.ts
  tests/Cargo.toml
  tests/create_account_only_via/fee_payer_funded_creation.rs
  tests/create_account_only_via/main.rs
  tests/rpc/basic_endpoints.rs
  tests/src/common/fixtures/create-account-only-via-test.toml
Due: make-fmt, make-format-ts-sdk

test(validator): drain-safety property for create_account_only_via
  crates/lib/src/validator/transaction_validator/fee_payer_policy_props/system.rs
Due: make-fmt

docs(operator): document create_account_only_via
  .claude/skills/kora-operator/references/configuration.md
Due: none

test(fuzz): add coverage-guided fuzz target over the validator
  .github/workflows/fuzz.yml
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/validate_transaction.rs
  fuzz/src/lib.rs
  fuzz/src/oracle.rs
  fuzz/src/scenario.rs
Due: make-fmt

test(validator): add fee-payer outflow cap property tests
  crates/lib/src/validator/transaction_validator.rs
  crates/lib/src/validator/transaction_validator/fee_payer_outflow_props.rs
Due: make-fmt

test(fuzz): add validator vs LiteSVM differential fuzz target
  .github/workflows/fuzz.yml
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/differential_litesvm.rs
  fuzz/fuzz_targets/parse_transaction.rs
  fuzz/src/scenario.rs
Due: make-fmt

test(fuzz): answer validator fuzz RPC per address
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/validate_transaction.rs
Due: make-fmt

fix(validator): drop outflow amount from overflow log
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

test(fuzz): check frozen token accounts in differential target
  fuzz/README.md
  fuzz/corpus/differential_litesvm/seed_freeze_by_fee_payer
  fuzz/fuzz_targets/differential_litesvm.rs
Due: make-fmt

docs(fuzz): add layout map and refresh property test coverage
  fuzz/README.md
Due: none

test(fuzz): flag freezes only when the fee payer signed them
  fuzz/README.md
  fuzz/corpus/differential_litesvm/seed_freeze_after_authority_handoff
  fuzz/fuzz_targets/differential_litesvm.rs
Due: make-fmt

test(fuzz): detect fee-payer freezes from instruction bytes
  fuzz/fuzz_targets/differential_litesvm.rs
Due: make-fmt

docs: shorten doc comments and operator config notes
  .claude/skills/kora-operator/references/configuration.md
  crates/lib/src/transaction/instruction_util/system.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix(validator): rebuild parsed ATA inner instructions
  crates/lib/src/transaction/instruction_util/reconstruct.rs
  crates/lib/src/transaction/instruction_util/tests.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt
