Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

fix(validation): apply fee-payer protection to confidential Token-2022 instructions
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/token2022_security.rs
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

feat(validation): gate confidential Token-2022 rejection behind a config flag
  crates/lib/src/config.rs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

test(validation): cover confidential Token-2022 mint/burn and fee-payer protection
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

style(validation): rustfmt confidential fee-payer panic message
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

ci: baseline inactive rkyv advisory
  .cargo/audit.toml
Due: none

feat(validation): opt-in support for confidential Token-2022 instructions (#628)
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

ci: baseline inactive rkyv advisory (#629)
  .cargo/audit.toml
Due: none

test(usage-limit): stop Redis tests from flushing the shared DB
  crates/lib/src/usage_limit/usage_store.rs
Due: make-fmt

test(usage-limit): stop Redis tests from flushing the shared DB (#630)
  crates/lib/src/usage_limit/usage_store.rs
Due: make-fmt

chore: release sdk 3
  sdks/ts/package.json
Due: none

chore: release sdk 3 (#632)
  sdks/ts/package.json
Due: none

fix(validation): make token-metadata/token-group interface instructions opt-in
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

Revert "fix(validation): make token-metadata/token-group interface instructions opt-in"
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

Reapply "fix(validation): make token-metadata/token-group interface instructions opt-in"
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

fix(validation): make token-metadata/token-group extensions deniable via blocked_mint_extensions
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

refactor: simplify interface-instruction recognition and blocked-extension tests
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

docs(config): document new blocked_mint_extensions names in kora.toml example
  kora.toml
Due: none

fix(ts-sdk): send unsigned wire for fee estimation in kit executor
  sdks/ts/src/kit/executor.ts
  sdks/ts/test/kit-client.test.ts
Due: make-format-ts-sdk

fix(ts-sdk): send unsigned wire for fee estimation in kit executor (#633)
  sdks/ts/src/kit/executor.ts
  sdks/ts/test/kit-client.test.ts
Due: make-format-ts-sdk

fix(validation): make token-metadata/token-group interface instructions opt-in
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

fix(transaction): allow Token-2022 metadata and group instructions (#590)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/token/spl_token_2022_util.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

chore: bump ts package
  sdks/ts/package.json
Due: none

chore: bump ts package (#634)
  sdks/ts/package.json
Due: none

refactor(sdk-ts): return execution context from Kora transaction plan executor
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/kit/executor.ts
Due: make-format-ts-sdk

fix(deps): bump h2 to 0.4.16 for RUSTSEC-2026-0258
  .cargo/audit.toml
  Cargo.lock
Due: none

feat: add support for v1 transactions (SIMD-0385)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  examples/devnet-deploy-paymaster/Cargo.toml
  examples/devnet-deploy-paymaster/src/reaper/discovery.rs
Due: make-fmt

test: add v1 transaction end-to-end integration coverage
  crates/lib/src/transaction/versioned_transaction.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/client.rs
  tests/src/common/transaction.rs
Due: make-fmt

test: deactivate sbpf v0-v2 deployment gate on the test validator
  tests/src/common/constants.rs
  tests/src/test_runner/validator.rs
Due: make-fmt

ci: bump test validator to agave 4.2.1 so tx v1 e2e tests run
  .github/actions/setup-solana/action.yml
Due: none

refactor: drop raw rpc wire helpers now that solana-client 4.2.1 serializes v1
  Cargo.lock
  Cargo.toml
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  fuzz/Cargo.lock
Due: make-fmt

test: drop v1 validator version gate now that CI runs agave 4.2.1
  tests/rpc/transaction_signing.rs
  tests/src/common/helpers.rs
Due: make-fmt

test: fix fuzz workspace for sdk 4.x and gate v1 e2e on validator version
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/parse_transaction.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/helpers.rs
Due: make-fmt

fix(validation): reconstruct parsed token batch CPI instructions from agave 4.2
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

test: explain sbpf deployment gate deactivation at the call site
  tests/src/common/constants.rs
  tests/src/test_runner/validator.rs
Due: make-fmt

fix(transaction): sanitize decoded transactions and size-check both decode paths
  crates/lib/src/transaction/transaction.rs
Due: make-fmt

test: pin v1 config priority fee in fee estimate and max-lamports guard
  tests/rpc/compute_budget.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/transaction.rs
Due: make-fmt

test: drop SIMD proposal references from test comments
  tests/rpc/compute_budget.rs
  tests/rpc/transaction_signing.rs
Due: make-fmt

refactor: use solana_message::v1::MAX_TRANSACTION_SIZE instead of local const
  crates/lib/src/constant.rs
  crates/lib/src/transaction/transaction.rs
Due: make-fmt

feat(config): add allowed_transaction_versions
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  kora.toml
Due: make-fmt

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
