Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

feat(plugin): add GasSwap plugin with validate_config drain warning
  crates/lib/src/config.rs
  crates/lib/src/mod.rs
  crates/lib/src/plugin/gas_swap.rs
  crates/lib/src/plugin/mod.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/config_validator.rs
  tests/Cargo.toml
  tests/gas_swap_plugin/gas_swap_plugin_tests.rs
  tests/gas_swap_plugin/main.rs
  tests/src/common/fixtures/gas-swap-plugin-test.toml
  tests/src/test_runner/test_cases.toml
Due: make-fmt

fix(core): fail closed inner instruction reconstruction and stabilize tests
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  sdks/ts/test/setup.ts
  tests/src/common/constants.rs
Due: make-fmt, make-format-ts-sdk

Update crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/plugin/plugin_gas_swap.rs
Due: make-fmt

fix(plugin): fail closed on unexpected system instruction data variant
  crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

feat(kora): add swap_gas plugin + plugin infrastructure (#383)
  .gitignore
  crates/lib/src/bundle/helper.rs
  crates/lib/src/config.rs
  crates/lib/src/mod.rs
  crates/lib/src/plugin/mod.rs
  crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
  tests/src/common/fixtures/gas-swap-plugin-test.toml
Due: make-fmt

chore: release v2.2.0-beta.6 rust + ts-sdk v0.2.0-beta.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  sdks/ts/package.json
Due: none

chore: release v2.2.0-beta.6 rust + ts-sdk v0.2.0-beta.6 (#397)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  sdks/ts/package.json
Due: none

chore(ci): add package registry links to GitHub release notes
  .github/workflows/rust-publish.yml
  .github/workflows/typescript-publish.yml
Due: none

chore(ci): add package registry links to GitHub release notes (#398)
  .github/workflows/rust-publish.yml
  .github/workflows/typescript-publish.yml
Due: none

feat(signer): add health monitoring and automatic failover for signer pool
  crates/lib/src/error.rs
  crates/lib/src/signer/pool.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

feat(signer): add health monitoring and automatic failover for signer pool
  crates/lib/src/error.rs
  crates/lib/src/signer/pool.rs
Due: make-fmt

fix: make pinned signer health check respect recovery probe cooldown
  crates/lib/src/signer/pool.rs
Due: make-fmt

fix(ts-sdk): accept TransactionSigner in getPaymentInstruction source_wallet
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore(ts-sdk): bump version to 0.3.0-beta.0
  sdks/ts/package.json
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

fix(ts-sdk): accept TransactionSigner in getPaymentInstruction source_wallet
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

ci(publish): switch cargo publishing to trusted OIDC auth
  .github/workflows/rust-publish.yml
Due: none

Update .github/workflows/rust-publish.yml
  .github/workflows/rust-publish.yml
Due: none

fix(ci): remove duplicate jobs key and scope id-token permission
  .github/workflows/rust-publish.yml
  CLAUDE.md
Due: none

ci(publish): switch cargo publishing to trusted OIDC auth (#403)
  .github/workflows/rust-publish.yml
  CLAUDE.md
Due: none

build(deps): pin patched transitive dependency versions
  sdks/package.json
  sdks/pnpm-lock.yaml
Due: none

ci(release): allow publish flow on hotfix branches
  .github/workflows/docker-publish.yml
  .github/workflows/rust-publish.yml
  .github/workflows/typescript-publish.yml
  justfile
Due: none

build(deps): pin patched transitive dependency versions (#404)
  sdks/package.json
  sdks/pnpm-lock.yaml
Due: none

ci(release): address PR review feedback
  .github/workflows/docker-publish.yml
  justfile
Due: none

fix(ts-sdk): accept TransactionSigner in getPaymentInstruction source_wallet (#402)
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

ci(release): allow publish flow on hotfix branches (#405)
  .github/workflows/docker-publish.yml
  .github/workflows/rust-publish.yml
  .github/workflows/typescript-publish.yml
  justfile
Due: none

build(deps): pin patched transitive dependency versions
  Cargo.lock
  sdks/package.json
  sdks/pnpm-lock.yaml
Due: none

docs(release): align skills and guidance with hotfix publish flow
  .claude/skills/complete-release/SKILL.md
  .claude/skills/release/SKILL.md
  CLAUDE.md
Due: none

build(deps): pin patched transitive dependency versions (#406)
  Cargo.lock
  sdks/package.json
  sdks/pnpm-lock.yaml
Due: none

docs(skills): scope complete-release triggers to mainline flow
  .claude/skills/complete-release/SKILL.md
Due: none

docs(release): align guidance with hotfix publish flow (#407)
  .claude/skills/complete-release/SKILL.md
  .claude/skills/release/SKILL.md
  CLAUDE.md
Due: none

chore: release v2.2.0-beta.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

chore: release v2.2.0-beta.7 (#408)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

fix(ci): wire trusted publishing token into cargo publish
  .github/workflows/rust-publish.yml
Due: none

fix(ci): wire trusted publishing token into cargo publish (#409)
  .github/workflows/rust-publish.yml
Due: none

fix(ci): pin crates.io auth action to valid commit
  .github/workflows/rust-publish.yml
Due: none

fix(ci): pin crates.io auth action to valid commit (#410)
  .github/workflows/rust-publish.yml
Due: none

fix(ts-sdk): accept TransactionSigner in getPaymentInstruction source_wallet (#411)
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

fix(sdk): add repository URL for npm provenance verification
  sdks/ts/package.json
Due: none

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
