Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-lint, make-format-ts-sdk

make-lint:
  name: make lint
  description: Lint Rust code automatically
  entry: make lint
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

fix/ts-sdk-auth-test port argument
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

fix/ts sdk auth tests
  sdks/ts/src/client.ts
  sdks/ts/test/auth-setup.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/setup.ts
Due: make-format-ts-sdk

Improved port selection + change in commitment levels
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/src/bin/test_runner.rs
  tests/src/common/lookup_tables.rs
  tests/src/test_runner/kora.rs
  tests/src/test_runner/test_cases.toml
Due: make-lint

Revert "Test with lots of loggers"
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/client.rs
  tests/src/test_runner/test_cases.toml
Due: make-lint

Finalized testing
  tests/src/common/setup.rs
Due: make-lint

intense logging for cis
  .github/actions/run-test-runner/action.yml
  .github/workflows/rust.yml
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_blockhash.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/src/bin/test_runner.rs
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/kora.rs
Due: make-lint

Revert "intense logging for cis"
  .github/actions/run-test-runner/action.yml
  .github/workflows/rust.yml
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/get_blockhash.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/src/bin/test_runner.rs
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/kora.rs
Due: make-lint

Commitment level consistency
  crates/lib/src/validator/config_validator.rs
  tests/src/bin/test_runner.rs
  tests/src/common/client.rs
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/validator.rs
Due: make-lint

config fix + stdio out fix
  crates/lib/src/validator/config_validator.rs
  tests/src/test_runner/validator.rs
Due: make-lint

null pipied
  tests/src/test_runner/kora.rs
Due: make-lint

PR comment fixes
  Makefile
  tests/src/bin/test_runner.rs
  tests/src/test_runner/commands.rs
  tests/src/test_runner/output.rs
Due: make-lint

Removed privy and turnkey tests from CI
  .github/workflows/typescript-integration.yml
Due: none

docs: add runner to ADDING_SIGNERS.md and CLAUDE.md
  CLAUDE.md
  docs/contributors/ADDING_SIGNERS.md
Due: none

feat: (PRO-255) add adversarial tests for fee payer policy violations and other scenarios
  CLAUDE.md
  tests/Cargo.toml
  tests/adversarial/fee_payer_exploitation.rs
  tests/adversarial/main.rs
  tests/adversarial/program_validation.rs
  tests/adversarial/token_states.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/fee_payer_policy/main.rs
  tests/src/common/assertions.rs
  tests/src/common/auth_helpers.rs
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/signers-multi.toml
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/output.rs
  tests/src/test_runner/test_cases.toml
Due: make-lint

PR Fixes
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
Due: make-lint

feat: (PRO-255) add adversarial tests for fee payer policy violations… (#224)
  CLAUDE.md
  crates/lib/src/validator/transaction_validator.rs
  tests/Cargo.toml
  tests/adversarial/fee_payer_exploitation.rs
  tests/adversarial/main.rs
  tests/adversarial/program_validation.rs
  tests/adversarial/token_states.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/fee_payer_policy/main.rs
  tests/src/common/assertions.rs
  tests/src/common/auth_helpers.rs
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/signers-multi.toml
  tests/src/common/setup.rs
  tests/src/common/transaction.rs
  tests/src/test_runner/output.rs
  tests/src/test_runner/test_cases.toml
Due: make-lint

feat: Some fixes post discussions with Audit & others
  crates/cli/src/main.rs
  crates/lib/src/cache.rs
  crates/lib/src/error.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/signer/turnkey/config.rs
  crates/lib/src/signer/turnkey/signer.rs
  crates/lib/src/signer/turnkey/types.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/transaction/versioned_transaction.rs
  sdks/ts/test/integration.test.ts
  tests/rpc/transaction_signing.rs
  tests/tokens/token_2022_extensions_test.rs
  tests/tokens/token_2022_test.rs
Due: make-lint, make-format-ts-sdk

Pr fixes
  crates/cli/src/main.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
Due: make-lint

CI fixes
  .github/workflows/build-rust.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
Due: none

Fix testing with rpc not optional
  crates/lib/src/fee/price.rs
Due: make-lint

Updated ts types and docs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

feat: Some fixes post discussions with Audit & others (#225)
  .github/workflows/build-rust.yml
  .github/workflows/rust.yml
  .github/workflows/typescript-integration.yml
  crates/cli/src/main.rs
  crates/lib/src/cache.rs
  crates/lib/src/error.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/signer/turnkey/config.rs
  crates/lib/src/signer/turnkey/signer.rs
  crates/lib/src/signer/turnkey/types.rs
  crates/lib/src/token/interface.rs
  crates/lib/src/token/spl_token.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/transaction/versioned_transaction.rs
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/unit.test.ts
  tests/rpc/transaction_signing.rs
  tests/tokens/token_2022_extensions_test.rs
  tests/tokens/token_2022_test.rs
Due: make-lint, make-format-ts-sdk

feat: (PRO-343) Improve estimate fee efficiency for different Price Type (Free -> instant, Fixed -> just calculate price), Margin -> the full calculation
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-lint

docs/add x402 kora demo
  docs/x402/demo/X402_DEMO_GUIDE.md
  docs/x402/demo/api/package.json
  docs/x402/demo/api/pnpm-lock.yaml
  docs/x402/demo/api/src/api.ts
  docs/x402/demo/assets/x402-protocol-flow.png
  docs/x402/demo/client/package.json
  docs/x402/demo/client/pnpm-lock.yaml
  docs/x402/demo/client/src/index.ts
  docs/x402/demo/client/src/setup.ts
  docs/x402/demo/client/tsconfig.json
  docs/x402/demo/facilitator/notes.md
  docs/x402/demo/facilitator/package.json
  docs/x402/demo/facilitator/pnpm-lock.yaml
  docs/x402/demo/facilitator/src/facilitator.ts
  docs/x402/demo/kora/kora.toml
  docs/x402/demo/kora/signers.toml
  docs/x402/demo/package.json
Due: make-format-ts-sdk

add .env.example
  .gitignore
  docs/x402/demo/.env.example
  docs/x402/demo/X402_DEMO_GUIDE.md
  docs/x402/demo/client/src/index.ts
Due: make-format-ts-sdk

chore: add build step
  docs/x402/demo/X402_DEMO_GUIDE.md
  docs/x402/demo/kora/signers.toml
  docs/x402/demo/package.json
Due: none

Update docs/x402/demo/X402_DEMO_GUIDE.md
  docs/x402/demo/X402_DEMO_GUIDE.md
Due: none

docs: add x402 kora demo (#227)
  .gitignore
  docs/x402/demo/.env.example
  docs/x402/demo/X402_DEMO_GUIDE.md
  docs/x402/demo/api/package.json
  docs/x402/demo/api/pnpm-lock.yaml
  docs/x402/demo/api/src/api.ts
  docs/x402/demo/assets/x402-protocol-flow.png
  docs/x402/demo/client/package.json
  docs/x402/demo/client/pnpm-lock.yaml
  docs/x402/demo/client/src/index.ts
  docs/x402/demo/client/src/setup.ts
  docs/x402/demo/client/tsconfig.json
  docs/x402/demo/facilitator/notes.md
  docs/x402/demo/facilitator/package.json
  docs/x402/demo/facilitator/pnpm-lock.yaml
  docs/x402/demo/facilitator/src/facilitator.ts
  docs/x402/demo/kora/kora.toml
  docs/x402/demo/kora/signers.toml
  docs/x402/demo/package.json
Due: make-format-ts-sdk

chore: guide cleanup
  docs/x402/demo/facilitator/notes.md
Due: none

feat: (PRO-343) Improve estimate fee efficiency for different Price Type (Free -> instant, Fixed -> just calculate price), Margin -> the full calculation (#226)
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-lint

feat: (PRO-345) Fixed inner instructions
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/rpc/fee_estimation.rs
  tests/src/bin/test_runner.rs
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/transaction.rs
  tests/src/test_runner/kora.rs
Due: make-lint

Set replace recent blockhash to false and ellipsis comment
  crates/lib/src/transaction/versioned_transaction.rs
  tests/src/common/transaction.rs
Due: make-lint

PR Fixes
  crates/lib/src/transaction/instruction_util.rs
Due: make-lint

pr fixes 2
  crates/lib/src/transaction/instruction_util.rs
Due: make-lint

feat: (PRO-345) Fixed inner instructions (#228)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/versioned_transaction.rs
  tests/rpc/fee_estimation.rs
  tests/src/bin/test_runner.rs
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/transaction.rs
  tests/src/test_runner/kora.rs
Due: make-lint

feat: enable inner_instructions in transaction simulation
  crates/lib/src/error.rs
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

style: fix formatting for inner_instructions changes
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-lint

feat: (PRO-412) Cap max body size per request to prevent potential overloading of the server
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/validator/config_validator.rs
  tests/adversarial/body_size_limit.rs
  tests/adversarial/main.rs
Due: make-lint

feat: (PRO-412) Cap max body size per request to prevent potential overloading of the server (#230)
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/toml_mock.rs
  crates/lib/src/validator/config_validator.rs
  tests/adversarial/body_size_limit.rs
  tests/adversarial/main.rs
Due: make-lint

Path conditions:
  make-lint: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
