Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

refactor(validation): extract create-account owner check helper
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

refactor: hoist CreateAccountAllowPrefund discriminator to a const
  crates/lib/src/constant.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/src/common/transaction.rs
Due: make-fmt

feat(validation): support CreateAccountAllowPrefund instruction (#578)
  .github/actions/setup-solana/action.yml
  CLAUDE.md
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/src/common/transaction.rs
Due: make-fmt

feat(pricing): add FixedStable price model for multi-stablecoin fixed fees
  crates/lib/src/config.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/tests/toml_mock.rs
Due: make-fmt

fix: address Greptile P1 review issues for FixedStable pricing
  crates/lib/src/config.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(pricing): make FixedStable quotes oracle-consistent with validation
  crates/lib/src/fee/fee.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(validation): reject FixedStable mints not in allowed_spl_paid_tokens
  crates/lib/src/plugin/plugin_gas_swap.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

docs(pricing): document the fixed_stable price model
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  kora.toml
  sdks/ts/docs/README.md
  sdks/ts/src/types/index.ts
Due: make-format-ts-sdk

fix(validation): reject zero amount and empty tokens for FixedStable in config validator
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(ts-sdk): move @solana/kit integration to a /kit subpath so the main entry bundles
  sdks/ts/package.json
  sdks/ts/src/index.ts
  sdks/ts/test/integration.test.ts
Due: make-format-ts-sdk

fix(ts-sdk): move @solana/kit integration to a /kit subpath so the main entry bundles (#581)
  sdks/ts/package.json
  sdks/ts/src/index.ts
  sdks/ts/test/integration.test.ts
Due: make-format-ts-sdk

fix(transaction): support mint-level setAuthority in CPI inner instruction reconstruction
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix(transaction): recognize Token-2022 interface instructions
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

feat(validation): support p-token batch and lamport instructions
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(validation): reject p-token batches with trailing accounts
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

chore(security): ignore RUSTSEC-2026-0204 in cargo-audit
  .cargo/audit.toml
Due: none

refactor(validation): hoist BATCH_DISCRIMINATOR to a module const
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

test(validation): p-token instruction integration tests + config flags
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/jito-bundles/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/gas-swap-plugin-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/lighthouse-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/fixtures/usage-limit-test.toml
  tests/src/common/transaction.rs
Due: make-fmt

test(validation): move unwrap_lamports policy check to a unit test
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/src/common/transaction.rs
Due: make-fmt

feat(kora-deploy): add registry-gated program upgrades
  .gitignore
  crates/kora-deploy/README.md
  crates/kora-deploy/src/lib.rs
  crates/kora-deploy/src/main.rs
  crates/lib/src/constant.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/transaction/instruction_util.rs
  examples/devnet-deploy-paymaster/kora.toml
  examples/devnet-deploy-paymaster/registry-program/Cargo.lock
  examples/devnet-deploy-paymaster/registry-program/Cargo.toml
  examples/devnet-deploy-paymaster/registry-program/build.sh
  examples/devnet-deploy-paymaster/registry-program/src/lib.rs
  examples/devnet-deploy-paymaster/src/reaper/closer.rs
  examples/devnet-deploy-paymaster/src/suite/adversarial.rs
  examples/devnet-deploy-paymaster/src/suite/happy.rs
  examples/devnet-deploy-paymaster/src/suite/harness.rs
Due: make-fmt

build(deploy-registry): build via justfile recipe, drop shell script
  examples/devnet-deploy-paymaster/registry-program/build.sh
  justfile
Due: none

docs(deploy-registry): drop confusing plugin comment in example config
  examples/devnet-deploy-paymaster/kora.toml
Due: none

refactor(reaper): drop stored-payer check in registry entry close
  crates/kora-deploy/src/lib.rs
  examples/devnet-deploy-paymaster/src/reaper/closer.rs
Due: make-fmt

refactor(kora-deploy): drop manifest, drive deploy/upgrade by --program-id
  crates/kora-deploy/README.md
  crates/kora-deploy/src/main.rs
Due: make-fmt

fix(deps): bump crossbeam-epoch to 0.9.20 to resolve RUSTSEC-2026-0204
  Cargo.lock
Due: none

ci: ignore RUSTSEC-2026-0204 (crossbeam-epoch, transitive via solana-client)
  .cargo/audit.toml
Due: none

feat(validation): mirror allow_unwrap_lamports onto Token-2022 policy
  crates/lib/src/config.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  crates/lib/src/validator/transaction_validator.rs
  examples/deploy/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/jito-bundles/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/gas-swap-plugin-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/lighthouse-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/fixtures/usage-limit-test.toml
Due: make-fmt

ci: switch dependabot to biweekly patch-only updates
  .github/dependabot.yml
Due: none

fix(validation): harden p-token batch decoding
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

ci: add explicit UTC timezone to dependabot cron
  .github/dependabot.yml
Due: none

test(validation): cover p-token batch reaching validator via CPI
  tests/fee_payer_policy/fee_payer_policy_violations.rs
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/transfer-hook-example/src/lib.rs
  tests/src/common/transfer-hook-example/transfer_hook_example.so
Due: make-fmt

ci: move open-pull-requests-limit to multi-ecosystem group
  .github/dependabot.yml
Due: none

fix(transaction): respect fee payer policy for Token-2022 interface instructions
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

test: serialize token2022 payment test to fix global-config race
  crates/lib/src/token/token.rs
Due: make-fmt

test: make BalanceTracker::init idempotent to fix metrics-registry race
  crates/lib/src/metrics/balance.rs
Due: make-fmt

chore(kora-deploy): bump to 0.2.0 for crates.io publish
  Cargo.lock
  Cargo.toml
  crates/kora-deploy/Cargo.toml
Due: none

style(sdk): format types/index.ts with pinned prettier
  sdks/ts/src/types/index.ts
Due: make-format-ts-sdk

fix(cli): apply rpc start --api-key and --hmac-secret flags
  crates/cli/src/main.rs
  crates/lib/src/rpc_server/args.rs
Due: make-fmt

feat(config): warn when transfer_hook_policy is weaker than deny_all with paid pricing
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(config): reject usage_limit.enabled with an empty ruleset at startup
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
