Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt
        description: Format and lint Rust code automatically
        entry: make fmt
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

fix(validator): warn when rate_limit is Some(0) to match global_rate_limit parity
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix: update rate_limit=0 warning to reflect new identity-aware semantics
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

feat: add global pre-auth rate limit and replace usage tracker test hacks with a clean mock pattern
  crates/lib/src/config.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/rate_limit.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/tests/mod.rs
  crates/lib/src/tests/usage_limiter_mock.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(config): warn on multi-key api_keys suppression by env var and partial invalid CORS origins
  crates/lib/src/config.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

chore(docs): add inline comments for rate_limit=None and Some(0) edge cases
  crates/lib/src/rpc_server/rate_limit.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(server): rename misleading test and clarify Some(0) validator warning
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(rate_limit): follow tower poll_ready/call contract and warn on redundant CORS origins
  crates/lib/src/metrics/middleware.rs
  crates/lib/src/rpc_server/auth.rs
  crates/lib/src/rpc_server/rate_limit.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(validation): apply fee-payer protection to confidential Token-2022 instructions
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  crates/lib/src/transaction/token2022_security.rs
  sdks/ts/src/types/index.ts
Due: make-fmt, make-format-ts-sdk

test: add fuzzing harness and fee-payer property tests
  crates/lib/Cargo.toml
  crates/lib/src/mod.rs
  crates/lib/src/validator/transaction_validator.rs
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/decode_b64_transaction.rs
  fuzz/fuzz_targets/parse_transaction.rs
  justfile
Due: make-fmt

docs: update kora.toml examples with new rate_limit, global_rate_limit and cors_allow_origins fields
  crates/lib/src/config.rs
  crates/lib/src/validator/config_validator.rs
  examples/deploy/kora.toml
  examples/devnet-deploy-paymaster/kora.toml
  examples/getting-started/demo/server/kora.toml
  examples/jito-bundles/server/kora.toml
  examples/x402/demo/kora/kora.toml
  kora.toml
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/fee-payer-policy-test.toml
  tests/src/common/fixtures/gas-swap-plugin-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/common/fixtures/lighthouse-test.toml
  tests/src/common/fixtures/loader-v3-deploy-test.toml
  tests/src/common/fixtures/paymaster-address-test.toml
  tests/src/common/fixtures/usage-limit-test.toml
Due: make-fmt

chore(sdks/ts): bump kit-plugin-rpc and kit-plugin-litesvm to ^0.15.0
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
Due: none

chore(sdks/ts): bump kit-plugin-rpc and kit-plugin-litesvm to ^0.15.0 (#619)
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
Due: none

fix: price CloseAccount rent in fee-payer outflow accounting
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
Due: make-fmt

fix: resolve V0 lookup-table addresses in canonical order
  crates/lib/src/transaction/versioned_transaction.rs
Due: make-fmt

fix: check CreateAccount owner allowlist regardless of create payer
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix: validate System Assign owner against the program allowlist
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix: preserve V0 lookup indices when appending Lighthouse
  crates/lib/src/lighthouse/assertion.rs
Due: make-fmt

fix: enforce Token-2022 blocklists on extension-init opcodes
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix: preserve signer set and threshold when reconstructing inner SPL CPIs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix: key paid-mode usage limit by source token-account owner
  crates/lib/src/usage_limit/usage_tracker.rs
Due: make-fmt

fix: reject unchecked loader-v3 ExtendProgram and meter extension rent
  crates/lib/src/fee/fee.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
Due: make-fmt

fix: gate allow_create_account on the CreateAccountWithSeed base signer
  crates/lib/src/config.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix: bind usage tracking to the request-selected signer
  crates/lib/src/usage_limit/usage_tracker.rs
Due: make-fmt

fix: check System Assign owner allowlist regardless of reassigned account
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix: security hardening for transaction validation and fee-payer accounting (#620)
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/plugin/plugin_deploy_authority.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/transaction/token2022_security.rs
  crates/lib/src/transaction/versioned_transaction.rs
  crates/lib/src/usage_limit/usage_tracker.rs
  crates/lib/src/validator/transaction_validator.rs
  tests/fee_payer_policy/fee_payer_policy_violations.rs
Due: make-fmt

chore: release v2.2.0-beta.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

chore: filter dependency/CI noise, issue IDs, and non-library scopes from changelog
  .github/cliff.toml
  CHANGELOG.md
Due: none

chore: release v2.2.0-beta.8 (#621)
  .github/cliff.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

chore: document fee-payer property test and bump proptest to 1.11.0
  crates/lib/Cargo.toml
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

test: cover fee-payer-as-new-account in CreateAccount property test
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

test: add fuzzing harness and fee-payer property tests (#618)
  crates/lib/Cargo.toml
  crates/lib/src/mod.rs
  crates/lib/src/validator/transaction_validator.rs
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/decode_b64_transaction.rs
  fuzz/fuzz_targets/parse_transaction.rs
  justfile
Due: make-fmt

test: add System nonce roles to fee-payer drain property test
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

style: fix clippy cloned_ref_to_slice_refs in instruction_util tests
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

ci: run fuzz targets in CI
  .github/workflows/fuzz.yml
  fuzz/README.md
Due: none

ci: pin fuzz builds to the gnu target
  .github/workflows/fuzz.yml
Due: none

test: add System nonce roles to fee-payer drain property test (#625)
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

ci: run fuzz targets in CI (#626)
  .github/workflows/fuzz.yml
  fuzz/README.md
Due: none

feat: add support for v1 transactions (SIMD-0385)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/lighthouse/assertion.rs
  crates/lib/src/transaction/transaction.rs
  crates/lib/src/transaction/versioned_transaction.rs
  examples/devnet-deploy-paymaster/Cargo.toml
  examples/devnet-deploy-paymaster/src/reaper/discovery.rs
Due: make-fmt

test: add v1 transaction end-to-end integration coverage
  crates/lib/src/transaction/versioned_transaction.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/client.rs
  tests/src/common/transaction.rs
Due: make-fmt

test: fix fuzz workspace for sdk 4.x and gate v1 e2e on validator version
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/parse_transaction.rs
  tests/rpc/transaction_signing.rs
  tests/src/common/helpers.rs
Due: make-fmt
