Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

make-fmt:
  name: make fmt
  description: Format and lint Rust code automatically
  entry: make fmt
  language: system
  pass_filenames: false

make-format-ts-sdk:
  name: make format-ts-sdk
  description: Format TypeScript SDK code
  entry: make format-ts-sdk
  language: system
  pass_filenames: false

fix(tests): fix test mock config setup for fee payer policy SPL transfer tests
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(tests): use plain transfer with sequential account mocks in SPL transfer test
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

ci: exempt release-tagged PRs from stale bot
  .github/workflows/stale-prs.yml
Due: none

ci: add stale PR cleanup and main branch target enforcement (#347)
  .github/workflows/pr-target-check.yml
  .github/workflows/stale-prs.yml
Due: none

fix(deps): patch 6 dependabot security vulnerabilities (#346)
  Cargo.lock
  Cargo.toml
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  sdks/package.json
  sdks/pnpm-lock.yaml
Due: none

fix(deps): patch remaining dependabot security vulnerabilities (#348)
  Cargo.lock
  sdks/package.json
  sdks/pnpm-lock.yaml
  sdks/ts/pnpm-lock.yaml
Due: none

fix: handle missing mint in transfer fee calculation and fix program_id checks
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix(tests): fix test mock config setup for fee payer policy SPL transfer tests
  Cargo.lock
  crates/lib/src/token/token.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

ci: exempt release-tagged PRs from stale bot (#350)
  .github/workflows/stale-prs.yml
Due: none

chore: bring back commits from main (PR #350, #349 + security fixes) (#351)
  .github/workflows/pr-target-check.yml
  .github/workflows/stale-prs.yml
  Cargo.lock
  Cargo.toml
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
  examples/x402/demo/api/package.json
  examples/x402/demo/api/pnpm-lock.yaml
  examples/x402/demo/facilitator/package.json
  examples/x402/demo/facilitator/pnpm-lock.yaml
  sdks/package.json
  sdks/pnpm-lock.yaml
  sdks/ts/pnpm-lock.yaml
Due: make-fmt

Fmt
  crates/lib/src/token/token.rs
Due: make-fmt

test: add dispatch routing and fee calculation tests for PR #349 fixes
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

fix: handle missing mint in transfer fee calculation and fix program_id checks (#349)
  crates/lib/src/tests/rpc_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(cli): validate pubkey format in config arrays
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(rpc): add missing signature field to SignAndSendTransactionResponse
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-fmt, make-format-ts-sdk

fix(sdk): return NoopSigner from getPaymentInstruction for Kit v6 dedup
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

test: add get_field_as_u64 unit tests
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

test: add parse_system_instructions_transfer unit test
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

test: add parse_token_instructions_transfer unit test
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

test: add parse_token_2022_instructions_transfer_checked unit test
  crates/lib/src/transaction/instruction_util.rs
Due: make-fmt

docs: add comprehensive rustdoc for public RPC types
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-fmt

ci: gate fork PRs with manual external live test approval
  .github/workflows/fork-external-live-manual.yml
  .github/workflows/fork-live-gate.yml
  tests/src/test_runner/test_cases.toml
Due: none

fix(ci): guard against null head.repo when fork is deleted
  .github/workflows/fork-external-live-manual.yml
  .github/workflows/fork-live-gate.yml
Due: none

ci: gate fork PRs with manual external live test approval (#357)
  .github/workflows/fork-external-live-manual.yml
  .github/workflows/fork-live-gate.yml
  tests/src/test_runner/test_cases.toml
Due: none

fix(ci): guard against null head.repo when fork is deleted (#358)
  .github/workflows/fork-external-live-manual.yml
  .github/workflows/fork-live-gate.yml
Due: none

fix(ci): grant pull-request write for fork live marker comment
  .github/workflows/fork-external-live-manual.yml
Due: none

fix(ci): grant pull-request write for fork live marker comment (#359)
  .github/workflows/fork-external-live-manual.yml
Due: none

fix(ci): grant pull-request write for fork live marker comment (#360)
  .github/workflows/fork-external-live-manual.yml
Due: none

fix(cli): validate pubkey format in config arrays (#352)
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(rpc): add missing signature field to SignAndSendTransactionResponse (#353)
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/openapi/spec/combined_api.json
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/unit.test.ts
Due: make-fmt, make-format-ts-sdk

feat(sdk): implement paymaster client with kit plugin interfaces
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/index.ts
  sdks/ts/src/paymaster.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/paymaster.test.ts
  sdks/ts/test/setup.ts
  tests/src/common/fixtures/kora-test.toml
Due: make-format-ts-sdk

feat(lib): add blockhash caching with 5s TTL
  crates/lib/src/cache.rs
  crates/lib/src/rpc_server/method/get_blockhash.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-fmt

test(lib): add unit tests for blockhash caching
  crates/lib/src/cache.rs
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-fmt

refactor(lib): reduce error boilerplate with a from-impl macro
  crates/lib/src/error.rs
Due: make-fmt

fix(docker): update Rust version to 1.88 for time crate compatibility
  Dockerfile
  examples/deploy/Dockerfile
Due: none

fix(docker): update Rust version to 1.88 for time crate compatibility (#364)
  Dockerfile
  examples/deploy/Dockerfile
Due: none

Path conditions:
  make-fmt: any of: \.rs$
  make-format-ts-sdk: any of: \.(ts|mts|cts)$
