Repository solana-foundation/kora: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-fmt, make-format-ts-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt
        description: Format and lint Rust code automatically
        entry: make fmt
        language: system
        types: [rust]
        pass_filenames: false
        
  - repo: local
    hooks:
      - id: make-format-ts-sdk
        name: make format-ts-sdk
        description: Format TypeScript SDK code
        entry: make format-ts-sdk
        language: system
        types: [ts]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--optional-scope",
          "--types", "feat,fix,chore,docs,style,refactor,perf,test,build,ci"
        ]

test(jupiter): verify price below MIN_REASONABLE_PRICE is rejected
  crates/lib/src/oracle/jupiter.rs
Due: make-fmt

test(oracle): verify empty mint addresses returns empty result without calling oracle
  crates/lib/src/oracle/oracle.rs
Due: make-fmt

test(oracle): verify retry exhaustion returns last error after max_retries attempts
  crates/lib/src/oracle/oracle.rs
Due: make-fmt

test(oracle): verify retry recovery succeeds on second attempt after initial failure
  crates/lib/src/oracle/oracle.rs
Due: make-fmt

test(oracle): verify get_token_price returns error when mint missing from oracle response
  crates/lib/src/oracle/oracle.rs
Due: make-fmt

test(oracle): clarify why times(1) is correct in not_found test
  crates/lib/src/oracle/oracle.rs
Due: make-fmt

test(oracle): add missing retry and price bounds test coverage (#370)
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
Due: make-fmt

test(validator): complete FeePayerPolicy unit test matrix (#365)
  crates/lib/src/validator/transaction_validator.rs
Due: make-fmt

fix(config): add context message to ConfigError variant (#368)
  crates/lib/src/cache.rs
  crates/lib/src/error.rs
  crates/lib/src/fee/price.rs
  crates/lib/src/oracle/jupiter.rs
Due: make-fmt

refactor(sdk): split kit-client into modular kit/ directory
  sdks/ts/src/client.ts
  sdks/ts/src/index.ts
  sdks/ts/src/kit-client.ts
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/payment.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/kit/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/kit-client.test.ts
  sdks/ts/test/plugin.test.ts
Due: make-format-ts-sdk

fix(ci): add ComputeBudget to free test config and typescript_free to CI matrix
  .github/workflows/typescript-integration.yml
  tests/src/common/fixtures/kora-free-test.toml
Due: none

feat(sdk): implement paymaster client with kit plugin interfaces (#354)
  .github/workflows/typescript-integration.yml
  sdks/pnpm-lock.yaml
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/index.ts
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/payment.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/kit/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/integration.test.ts
  sdks/ts/test/kit-client.test.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/setup.ts
  tests/src/common/fixtures/auth-test.toml
  tests/src/common/fixtures/kora-free-test.toml
  tests/src/common/fixtures/kora-test.toml
  tests/src/test_runner/commands.rs
  tests/src/test_runner/test_cases.toml
Due: make-fmt, make-format-ts-sdk

fix(sdk): add ESLint v9 flat config with @solana/eslint-config-solana
  makefiles/CLIENT.makefile
  sdks/pnpm-lock.yaml
  sdks/ts/eslint.config.js
  sdks/ts/package.json
Due: none

fix(sdk): apply ESLint auto-fixes and resolve lint errors
  sdks/ts/src/client.ts
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/payment.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/kit/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/src/utils/transaction.ts
Due: make-format-ts-sdk

chore(sdk): bump @solana/kora to 0.2.0
  sdks/ts/package.json
Due: none

fix(sdk): update unit tests for sorted JSON key order
  makefiles/CLIENT.makefile
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

fix(rpc): preserve original error in transfer_transaction source ATA lookup
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-fmt

fix(rpc): propagate RPC errors on dest ATA lookup in transfer_transaction
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-fmt

fix(signer): validate env vars exist at startup in all signer configs
  crates/lib/src/signer/config.rs
  crates/lib/src/validator/signer_validator.rs
Due: make-fmt

test(signer): use unique env var names to prevent test race conditions
  crates/lib/src/signer/config.rs
Due: make-fmt

fix(config): validate rpc cache redis connection at startup
  crates/lib/src/validator/cache_validator.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

test(config): add redis connection failure test and clarify warnings intent
  crates/lib/src/validator/cache_validator.rs
Due: make-fmt

fix(sdk): add ESLint v9 flat config with @solana/eslint-config-solana (#371)
  makefiles/CLIENT.makefile
  sdks/pnpm-lock.yaml
  sdks/ts/eslint.config.js
  sdks/ts/package.json
  sdks/ts/src/client.ts
  sdks/ts/src/kit/executor.ts
  sdks/ts/src/kit/index.ts
  sdks/ts/src/kit/payment.ts
  sdks/ts/src/kit/planner.ts
  sdks/ts/src/kit/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/src/utils/transaction.ts
  sdks/ts/test/unit.test.ts
Due: make-format-ts-sdk

chore(sdk): bump @solana/kora to 0.2.0 (#372)
  sdks/ts/package.json
Due: none

fix(rpc): preserve RPC errors in transfer_transaction source ATA lookup (#373)
  crates/lib/src/rpc_server/method/transfer_transaction.rs
Due: make-fmt

fix(signer): verify required env vars exist during config validation (#374)
  crates/lib/src/signer/config.rs
  crates/lib/src/validator/signer_validator.rs
Due: make-fmt

fix(sdk): add repository url for npm trusted publisher provenance
  sdks/ts/package.json
Due: none

fix(config): sanitize redis url from error messages
  crates/lib/src/validator/cache_validator.rs
Due: make-fmt

fix(sdk): add repository url for npm trusted publisher provenance (#376)
  sdks/ts/package.json
Due: none

fix(config): validate rpc cache redis connection at startup (#375)
  crates/lib/src/validator/cache_validator.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

fix(security): harden sig_verify, oracle staleness, transfer fees, and CPI stubs
  crates/lib/src/config.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/oracle/utils.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/config_validator.rs
  tests/payment_address/payment_address_multi_payment_tests.rs
  tests/tokens/token_2022_extensions_test.rs
Due: make-fmt

refactor(token): extract duplicated oracle staleness check into shared function
  crates/lib/src/token/token.rs
Due: make-fmt

fix(security): address PR review — staleness bypass, ceiling division, epoch caching
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
Due: make-fmt

test(token): fix self-comparison assertion in transfer fee test
  crates/lib/src/token/spl_token_2022.rs
Due: make-fmt

fix(security): harden sig_verify, oracle staleness, transfer fees, and CPI stubs (#378)
  crates/lib/src/config.rs
  crates/lib/src/oracle/jupiter.rs
  crates/lib/src/oracle/oracle.rs
  crates/lib/src/oracle/utils.rs
  crates/lib/src/rpc_server/method/estimate_bundle_fee.rs
  crates/lib/src/rpc_server/method/estimate_transaction_fee.rs
  crates/lib/src/rpc_server/method/sign_and_send_bundle.rs
  crates/lib/src/rpc_server/method/sign_and_send_transaction.rs
  crates/lib/src/rpc_server/method/sign_bundle.rs
  crates/lib/src/rpc_server/method/sign_transaction.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/token/spl_token_2022.rs
  crates/lib/src/token/token.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/config_validator.rs
  tests/payment_address/payment_address_multi_payment_tests.rs
  tests/tokens/token_2022_extensions_test.rs
Due: make-fmt

chore: release v2.0.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/lib/Cargo.toml
Due: none

chore: release v2.0.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

chore: release v2.0.5 (#381)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
Due: none

feat(parsing): add new_account field to SystemCreateAccount instruction
  crates/lib/src/config.rs
  crates/lib/src/constant.rs
  crates/lib/src/fee/fee.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/transaction/instruction_util.rs
  crates/lib/src/validator/config_validator.rs
Due: make-fmt

feat(kora): add swapForGas gas-station endpoint
  crates/lib/src/config.rs
  crates/lib/src/mod.rs
  crates/lib/src/rpc_server/method/get_config.rs
  crates/lib/src/rpc_server/method/mod.rs
  crates/lib/src/rpc_server/method/swap_for_gas.rs
  crates/lib/src/rpc_server/rpc.rs
  crates/lib/src/rpc_server/server.rs
  crates/lib/src/swap/mod.rs
  crates/lib/src/swap/provider.rs
  crates/lib/src/tests/config_mock.rs
  crates/lib/src/validator/config_validator.rs
  kora.toml
  sdks/ts/src/client.ts
  sdks/ts/src/plugin.ts
  sdks/ts/src/types/index.ts
  sdks/ts/test/plugin.test.ts
  sdks/ts/test/unit.test.ts
Due: make-fmt, make-format-ts-sdk
